<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Budding Marketers Challenge | AMP Digital</title>
  <meta name="description" content="Webinars for marketing professionals">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Digital marketing webinars, SEO webinars, SEM webinars, digital career webinars">
  <meta name="robots" content="all,follow">
  <meta property="og:title" content="Webinars | AMP Digital" />
  <meta property="og:url" content="https://www.ampdigital.co/webinars" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="Webinars for marketing professionals" />
  <meta property="og:image" content="https://www.ampdigital.co/ogimages/webinars-01.png" />

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Theme stylesheet-->
  <link rel="stylesheet" href="/css/style.default.min.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <!-- Favicon-->
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTJGZ4L');</script>
  <style>
    .row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
  /* background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover; */
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
   box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%);
    border-radius: 18px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

    .blog-post .image {
    position: relative;
    overflow: hidden;
    height: 175px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
    @media(min-width:767px) {
      .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        max-width: 32%;
        margin-right: 1%;
      }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      background-color: #856296!important;
    }
  </style>
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body style="background: #f5f8fa;">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- header-->
  <%-include partials/header.ejs%>
  <!-- Blog Listings-->
  <section class="blog-listings">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row justify-content-center">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/budding-marketer-challenge">AMP Digital's Budding Marketer Challenge</a></li>
                <li aria-current="page" class="breadcrumb-item active">AMP Digital's Case Study Challenge</li>
              </ol>
            </nav>
          </div>
          <h1 class="text-center">AMP Digital's Case Study Challenge</h1>
          <h3 class="mt-5">About the Event:</h3>
          <p class="lead" style="text-align: justify;">
            To be smart is to learn from your experience, to be wise is to learn from others. AMP Digital’s Case Study challenge aims to do just that. Gather your team and put on your thinking caps to analyze case studies and propose a restorative solution. The top teams get a chance to present their case studies to Digital Marketing experts and industry leaders, winners take home exciting prizes!
          </p>

          <h3 class="mt-5">Event Structure:</h3>
          <p class="text-justify lead">
            The challenge consists of 3 rounds. 
            <ul>
              <li>
                <span style="font-weight: bolder!important; font-size: 20px;">Round 1</span>:
                <p class="lead">
                   Quiz is an exhaustive quiz that will evaluate your knowledge about the tricks and techniques of digital marketing. 
                </p>  
              </li>
              <li>
                <span style="font-weight: bolder!important;font-size: 20px;">Round 2</span>:

                <p class="lead"> Case Study, all teams will be given one case study, for which they will propose and submit a detailed solution. The top teams of Round 2 will qualify for Round 3.
                </p>
              </li>
              <li>
                <span style="font-weight: bolder!important;font-size: 20px;">Round 3</span>:

                <p class="lead"> Presentation and QnA, wherein they are required to present their solution to a panel of experts.
                </p>
              </li>
            </ul>
            </p>
            <h3 class="mt-5">Prizes:</h3>
            <p class="lead">
              Winners get Gift vouchers, a free Career Mentorship program from AMP Digital, and a Certificate of Excellence!
            </p>

            <h3 class="mt-5">Our Judges:</h3>
            <section class="pt-1 pb-1 our-webcoderskull padding-lg">
              <div class="container">
                <ul class="row">
                  <li class="col-12 col-md-6 col-lg-3">
                      <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                        <h3><a href="http://www.webcoderskull.com/">Web coder skull</a></h3>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-3">
                      <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
                        <h3><a href="#">Kappua </a></h3>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-3">
                      <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                        <h3><a href="http://www.webcoderskull.com/">Manish </a></h3>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                   </li>
                  <li class="col-12 col-md-6 col-lg-3">
                      <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
                        <h3><a href="http://www.webcoderskull.com/">Atul </a></h3>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                  </li>
                </ul>
              </div>
            </section>

            <h3 class="mt-4">Registration Rules:</h3>
            <p class="lead">
              <ul class="ml-4">
                <li>
                  <p class="lead row align-items-center">
                    <i style="font-size: 10px;" class="fa fa-circle"></i>&nbsp;
                    The team leader must create an account for the team and act as the primary PoC 

                  </p>
                </li>
                <li>
                  <p class="lead row align-items-center">
                    <i style="font-size: 10px;" class="fa fa-circle"></i>&nbsp;
                    One team can have a minimum of 2 people and a maximum of 4 people

                  </p>
                </li>
                <li>
                  <p class="lead row align-items-center">
                    <i style="font-size: 10px;" class="fa fa-circle"></i>&nbsp;
                    Cross college/organization participation is allowed

                  </p>
                </li>
                <li>
                  <p class="lead row align-items-center">
                    <i style="font-size: 10px;" class="fa fa-circle"></i>&nbsp;
                    Details and information of all participating members must be shared

                  </p>
                </li>
                <li>
                  <p class="lead row align-items-center">
                    <i style="font-size: 10px;" class="fa fa-circle"></i>&nbsp;
                    The organizing committee’s decision is final and binding

                  </p>
                </li>
                <li>
                  <p class="lead row align-items-center">
                    <i style="font-size: 10px;" class="fa fa-circle"></i>&nbsp;
                    Plagiarism or any foul-play will lead to disqualification from the competition
                  </p>
                </li>
              </ul>
            </p>
          <div style="margin-top:1em" class="container">
           
            <div class="row justify-content-center mt-5">
              <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-paper-plane"></i> Register Now!</button>

        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer-->
<%-include partials/footer2.ejs%>
              <!-- JavaScript files-->
              <link rel="stylesheet"
                href="https://d19m59y37dris4.cloudfront.net/university/1-1-1/vendor/font-awesome/css/font-awesome.min.css">
              <!-- Fontastic CSS-->
                          <link rel="stylesheet" href="https://www.ampdigital.co/css/font.min.css">

              <link rel="stylesheet" href="/css/custom.min.css">
              <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.min.css">
              <script src="/vendor/jquery/jquery.min.js"></script>
              <script src="/vendor/popper.js/umd/popper.min.js"> </script>
              <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
              <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
              <script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
              <script src="/js/front.js"></script>
              <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
              <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
              <!---->
              <script>
                $(document).ready(function () {
                  $('.forgotpasswordbutton').on('click', function (e) {
                    e.preventDefault();
                    $('.loginform').addClass('d-none');
                    $('.forgotpasswordform').removeClass('d-none');
                    $('.loginpaneltitle').html('Forgot Password');
                  });

                  $('.loginformbutton').on('click', function (e) {
                    e.preventDefault();
                    $('.loginform').removeClass('d-none');
                    $('.forgotpasswordform').addClass('d-none');
                    $('.loginpaneltitle').html('Login');
                  });

                  $('.alreadyaccount').on('click', function (e) {
                    e.preventDefault()
                    $('#loginModal').modal('toggle');
                    $('#createAccount').modal('toggle');
                  });

                  $('.forgotpasswordform').on('submit', function (e) {
                    $(this).children('button').attr('disabled', 'disabled');
                    e.preventDefault();
                    var email = $('#forgotpasswordemail').val();
                    $.ajax({
                      method: "POST",
                      url: "/forgotpassword",
                      data: { email: email }
                    }).done(function (response) {
                      if (response._id) {
                        $('#loginModal').modal('toggle');
                        $.alert('<div class="text-center"> <i style="font-size: 75px;" class="fab fa-plane color-primary"></i>\n' +
                          '            <h3>\n' +
                          '              Instructions on resetting your password are on their way!\n' +
                          '            </h3>\n' +
                          '            <p>If you do not receive an email soon ensure that the email is valid and that you can receive emails\n' +
                          '              from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p></div>');
                      }
                      console.log(response);
                    });
                  });
                })
              </script>
              <script src="/js/custom/notification.min.js"></script>
              <script src="https://sdk.amazonaws.com/js/aws-sdk-2.41.0.min.js"></script>
<script src="/js/chatbot.min.js"></script>
</body>

</html>