<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Budding Marketers Challenge | AMP Digital</title>
  <meta name="description" content="Webinars for marketing professionals">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Digital marketing webinars, SEO webinars, SEM webinars, digital career webinars">
  <meta name="robots" content="all,follow">
  <meta property="og:title" content="Webinars | AMP Digital" />
  <meta property="og:url" content="https://www.ampdigital.co/webinars" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="Webinars for marketing professionals" />
  <meta property="og:image" content="https://www.ampdigital.co/ogimages/webinars-01.png" />

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Theme stylesheet-->
  <link rel="stylesheet" href="/css/style.default.min.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <!-- Favicon-->
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTJGZ4L');</script>
  <style>
    .blog-post .image {
    position: relative;
    overflow: hidden;
    height: 175px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
    @media(min-width:767px) {
      .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        max-width: 32%;
        margin-right: 1%;
      }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      background-color: #856296!important;
    }
  </style>
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body style="background: #f5f8fa;">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- header-->
  <%-include partials/header.ejs%>
  <!-- Blog Listings-->
  <section class="blog-listings">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row justify-content-center">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active">AMP Digital's Budding Marketer Challenge</li>
              </ol>
            </nav>
          </div>
          <h1 class="text-center">AMP Digital's Budding Marketer Challenge</h1>
          <div class="row mt-5 align-items-center">
            <div class="col-md-6">
              <p class="lead " style="text-align: justify;">
                To be digital is to be dynamic, and what better way to learn to be dynamic than to challenge your inner marketeer! We at AMP Digital recognize the importance of understanding, analyzing, and at last pioneering the trends of this industry. Keeping this in mind, we bring to you AMP Digital’s Budding Marketers’ Challenge, a stimulating series of competitions aimed at honing and developing various skills of a digital marketer. Get an opportunity to learn from CEOs, subject matter experts, seasoned professionals, and a network of digital marketers all around the globe! Compete and be a part of a community of budding Digital Marketers!
              </p>
            </div>
            <div class="col-md-6">
              <div data-href="/webinar/google-analytics-for-digital-marketing" class="course" style="cursor: pointer;">
            <div class="course-image" style="height:205px!important;">
              <a href="/webinar/google-analytics-for-digital-marketing">
                <img class="lazy" width="100%" alt="Digital Marketing Course" src="https://ampdigital.s3-us-west-2.amazonaws.com/GA2.png" style="display: inline-block;">
              </a>
              <div class="overlay flex-column d-flex align-items-center justify-content-center">
                <!-- <div class="instructor-avatar"><img alt="Amitabh Verma" class="img-fluid lazy" src="/amitabh.jpg" style="display: inline-block;"></div> -->
                <div class="instructor-name"><a href="#" class="no-anchor-style"><strong>Registrations open till:</strong></a></div>
              </div>
            </div>
           
            <div class="course-body pb-0">
              <a style="margin-bottom: -5%;" href="/webinar/google-analytics-for-digital-marketing">
                <h3 style="color: cornflowerblue!important; font-size: 1.55rem; line-height: normal;" class="text-this">Upcoming Challenge</h3>
              </a>
              <div class="row" style="margin-bottom: 1.55rem!important;">
                <div class="col-md-12" style="    font-size: .7rem;
                color: #777;"><i class="icon-clock-1"></i>Upcoming on
                  17/Apr/2021 17:00 PM</div>
        
                  <div class="col-md-12">
                    <div class="learnmore mt-4">
                
                      <a style="color: white!important; background-color: orange!important; border-color: orange!important; border-radius: 25px!important;     display: block;
                      width: 100%!important;" class="btn btn-primary" href="/budding-marketer-challenge/ampdigital-case-study-challenge">Find Out More!</a>
                    
                  </div>
                  </div>
            </div>
            <!-- <div class="course-footer d-flex align-items-center justify-content-between pt-0">
              <div class="learnmore">
                
                  <a style="color: white!important; background-color: orange!important; border-color: orange!important; border-radius: 25px!important;     display: block;
                  width: 100%!important;" class="btn btn-primary" href="/webinar/google-analytics-for-digital-marketing">Find Out More!</a>
                
              </div>
              
            </div> -->
          </div>
            </div>
          </div>
          <div style="margin-top:1em" class="container">
           
            <div class="row mt-4">
            
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer-->
<%-include partials/footer2.ejs%>
              <!-- JavaScript files-->
              <link rel="stylesheet"
                href="https://d19m59y37dris4.cloudfront.net/university/1-1-1/vendor/font-awesome/css/font-awesome.min.css">
              <!-- Fontastic CSS-->
                          <link rel="stylesheet" href="https://www.ampdigital.co/css/font.min.css">

              <link rel="stylesheet" href="/css/custom.min.css">
              <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.min.css">
              <script src="/vendor/jquery/jquery.min.js"></script>
              <script src="/vendor/popper.js/umd/popper.min.js"> </script>
              <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
              <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
              <script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
              <script src="/js/front.js"></script>
              <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
              <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
              <!---->
              <script>
                $(document).ready(function () {
                  $('.forgotpasswordbutton').on('click', function (e) {
                    e.preventDefault();
                    $('.loginform').addClass('d-none');
                    $('.forgotpasswordform').removeClass('d-none');
                    $('.loginpaneltitle').html('Forgot Password');
                  });

                  $('.loginformbutton').on('click', function (e) {
                    e.preventDefault();
                    $('.loginform').removeClass('d-none');
                    $('.forgotpasswordform').addClass('d-none');
                    $('.loginpaneltitle').html('Login');
                  });

                  $('.alreadyaccount').on('click', function (e) {
                    e.preventDefault()
                    $('#loginModal').modal('toggle');
                    $('#createAccount').modal('toggle');
                  });

                  $('.forgotpasswordform').on('submit', function (e) {
                    $(this).children('button').attr('disabled', 'disabled');
                    e.preventDefault();
                    var email = $('#forgotpasswordemail').val();
                    $.ajax({
                      method: "POST",
                      url: "/forgotpassword",
                      data: { email: email }
                    }).done(function (response) {
                      if (response._id) {
                        $('#loginModal').modal('toggle');
                        $.alert('<div class="text-center"> <i style="font-size: 75px;" class="fab fa-plane color-primary"></i>\n' +
                          '            <h3>\n' +
                          '              Instructions on resetting your password are on their way!\n' +
                          '            </h3>\n' +
                          '            <p>If you do not receive an email soon ensure that the email is valid and that you can receive emails\n' +
                          '              from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p></div>');
                      }
                      console.log(response);
                    });
                  });
                })
              </script>
              <script src="/js/custom/notification.min.js"></script>
              <script src="https://sdk.amazonaws.com/js/aws-sdk-2.41.0.min.js"></script>
<script src="/js/chatbot.min.js"></script>
</body>

</html>