<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>University: Bootstrap 4 education template</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
  <link href="/faicons/css/all.css" rel="stylesheet"> <!--load all styles -->
  <!-- Fontastic CSS-->
</head>
<body>
<div class="container">
  <div style=" background-image: url("http://www.ampdigital.cothumbnail.jpg"); width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
    <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
      <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
      <br><br>
      <span style="font-size:25px"><i>This is to certify that</i></span>
      <br><br>
      <span style="font-size:30px"><b><%=user.local.name%></b></span><br/><br/>
      <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
      <span style="font-size:30px"><%=course.course_name%></span> <br/><br/>
      <span style="font-size:20px">an online course offered through AMP Digital</b></span> <br/><br/><br/><br/>
      <span style="font-size:25px"><i>dated</i></span><br>
      #set ($dt = $DateFormatter.getFormattedDate($grade.getAwardDate(), "MMMM dd, yyyy"))
      <span style="font-size:30px">$dt</span>
    </div>
  </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>