<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A responsive two column example</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <style>
      .column-summary h2{
        font-weight: 400!important;
      }
      .features-section{
        display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;

      }
      .features-section-mobile{
        display: none;
      }
      .features-section .column-features .column{
        width: 290px!important;
      }
      .text-center{
        text-align: center;
      }
      .column-features img{
        margin-left: auto;
  margin-right: auto;
        width: 4.5rem!important;
        margin-bottom: 0.5rem!important;
      }
      .column-features{
        text-align: center;
      }
        /* A simple css reset */
        body,table,thead,tbody,tr,td,img {
            padding: 0;
            margin: 0;
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
            vertical-align: top;
        }

        /* Add some padding for small screens */
        .wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }

        h1,h2,h3,h4,h5,h6,p {
            margin: 0;
            padding: 0;
            padding-bottom: 20px;
            line-height: 1.6;
            font-family: 'Helvetica', 'Arial', sans-serif;
        }

        p,a,li {
            font-family: 'Helvetica', 'Arial', sans-serif;
        }

        img {
            width: 100%;
            display: block;
        }

        
        @media only screen and (max-width: 620px) {
         
        
          .features-section-mobile .column-features .column{
        width: 100px!important;
    margin-top: 3rem;
    margin-bottom: 3rem;

      }
      .column-features img{
        margin-left: auto;
  margin-right: auto;
        width: 3.5rem!important;
        margin-bottom: 0.5rem!important;
      }
            .wrapper .section {
                width: 100%;
            }

            /* .wrapper .column {
                width: 100%;
                display: block;
            } */
            .features-section{
        display: none!important;
      }
      .features-section-mobile{
        display: block!important;
      }
        }
    </style>
</head>

<body>
    <table width="100%">
        <tbody>
            <tr>
                <td class="wrapper" width="600" align="center">
                    <!-- Header image -->
                    <table class="section header" cellpadding="0" cellspacing="0" width="600">
                        <tr>
                            <td class="column">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td align="left">
                                                <a class="mr-2" href="/">
                                                    <img class="ampdigitallogo" src="https://www.ampdigital.co/ampdigitallogo.png" alt="Logo">
                                                 </a>
                                            </td>
                                            <td align="left">
                                                 <a href="/">
                                                    <img src="https://www.ampdigital.co/ampdigitalgooglepartnerlogo.png" class="logo" alt="Logo">
                                                    </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table class="section header" cellpadding="0" cellspacing="0" width="600">
                      <tr>
                          <td class="column">
                              <table>
                                  <tbody>
                                    <tr>
                                      <td align="left">
                                          <h2 style="margin-top: 3rem!important">Dear #{name}</h2>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td align="left">
                                        <h2>Welcome to <a style="color: #4285F4;" href="https://www.ampdigital.co">AMP Digital!</a> Your place to learn and grow as a digital marketer.</h2>
                                    </td>
                                </tr>
                                <tr>
                                  <td align="left">
                                      <h2>At AMP Digital, you get the following:
                                      </h2>
                                  </td>
                              </tr>
                                  </tbody>
                              </table>
                          </td>
                      </tr>
                  </table>
                  <table class="section header features-section cellpadding="0" cellspacing="0" width="600">
                    <tr>
                        <td class="column column-features">
                          <table class="section" cellpadding="0" cellspacing="0">
                            <tr>
                              <td class="column" valign="top">
                                <table>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="text-center">
                                          <a href="https://www.ampdigital.co">
                                            <img src="https://www.ampdigital.co/emailer/icon1.png" alt="">
                                          </a>
                                          <p>
                                              <a style="color: #4285F4;" href="https://www.ampdigital.co">Training Programs</a>
                                                          </p>
                                      </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                                <td class="column" width="20" valign="top">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td> &nbsp; </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="column" valign="top">
                                  <table>
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="text-center">
                                            <a href="https://seotools.ampdigital.co">
                                              <img src="https://www.ampdigital.co/emailer/icon2.png" alt="">
                                            </a>                                            <p>
                                                <a style="color: #DB4437;" href="https://seotools..ampdigital.co">SEO Tools</a>
                                                            </p>
                                        </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td class="column" width="20" valign="top">
                                  <table>
                                      <tbody>
                                          <tr>
                                              <td> &nbsp; </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </td>
                              <td class="column" valign="top">
                                <table>
                                  <tbody>
                                    <tr>
                                      <td >
                                        <div class="text-center">
                                          <a href="https://www.ampdigital.co/digital-marketing-community-forums">
                                            <img src="https://www.ampdigital.co/emailer/icon3.png" alt="">
                                          </a>                                          <p>
                                              <a style="color: #F4B400;" href="https://www..ampdigital.co/digital-marketing-community-forums">Community Forums</a>
                                                          </p>
                                      </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                    <tr>
                      <td class="column column-features">
                        <table class="section" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="column" valign="top">
                              <table>
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="text-center">
                                        <a href="https://www.ampdigital.co/jobs">
                                          <img src="https://www.ampdigital.co/emailer/icon4.png" alt="">
                                        </a>                                            <p>
                                            <a style="color: #0F9D58;" href="https://www.ampdigital.co/jobs">Jobs & Internships</a>
                                                        </p>
                                    </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                              <td class="column" width="20" valign="top">
                                  <table>
                                      <tbody>
                                          <tr>
                                              <td> &nbsp; </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </td>
                              <td class="column" valign="top">
                                <table>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="text-center">
                                          <a href="https://www.ampdigital.co/blogs">
                                            <img src="https://www.ampdigital.co/emailer/icon5.png" alt="">
                                          </a>                                              <p>
                                              <a style="color: #4285F4;" href="https://seotools..ampdigital.co/blogs">Blogs</a>
                                                          </p>
                                      </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td class="column" width="20" valign="top">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td> &nbsp; </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="column" valign="top">
                              <table>
                                <tbody>
                                  <tr>
                                    <td >
                                      <div class="text-center">
                                        <a href="https://www.ampdigital.co/google-ads-simulator">
                                          <img src="https://www.ampdigital.co/emailer/icon6.png" alt="">
                                        </a>                                            <p>
                                            <a style="color: #0F9D58;" href="https://www..ampdigital.co/google-ads-simulator">Google Ads Simulator</a>
                                                        </p>
                                    </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                      </table>
                      </td>
                  </tr>
                  <tr>
                    <td class="column column-features">
                      <table class="section" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="column" valign="top">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="text-center">
                                      <a href="https://www.ampdigital.co/webinars">
                                        <img src="https://www.ampdigital.co/emailer/icon7.png" alt="">
                                      </a>                                          <p>
                                          <a style="color: #DB4437;" href="https://www.ampdigital.co/webinars">Webinar Recordings</a>
                                                      </p>
                                  </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                    </table>
                    </td>
                </tr>
                </table>
                <table class="section header features-section-mobile cellpadding="0" cellspacing="0" width="600">
                  <tr>
                      <td class="column column-features">
                        <table class="section" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="column" valign="top">
                              <table>
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="text-center">
                                        <a href="https://www.ampdigital.co">
                                          <img src="https://www.ampdigital.co/emailer/icon1.png" alt="">
                                        </a>
                                        <p>
                                            <a style="color: #4285F4;" href="https://www.ampdigital.co">Training Programs</a>
                                                        </p>
                                    </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                              <td class="column" width="20" valign="top">
                                  <table>
                                      <tbody>
                                          <tr>
                                              <td> &nbsp; </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </td>
                              <td class="column" valign="top">
                                <table>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="text-center">
                                          <a href="https://seotools.ampdigital.co">
                                            <img src="https://www.ampdigital.co/emailer/icon2.png" alt="">
                                          </a>                                            <p>
                                              <a style="color: #DB4437;" href="https://seotools..ampdigital.co">SEO Tools</a>
                                                          </p>
                                      </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td class="column" width="20" valign="top">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td> &nbsp; </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="column" valign="top">
                              <table>
                                <tbody>
                                  <tr>
                                    <td >
                                      <div class="text-center">
                                        <a href="https://www.ampdigital.co/digital-marketing-community-forums">
                                          <img src="https://www.ampdigital.co/emailer/icon3.png" alt="">
                                        </a>                                          <p>
                                            <a style="color: #F4B400;" href="https://www..ampdigital.co/digital-marketing-community-forums">Community Forums</a>
                                                        </p>
                                    </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                      </table>
                      </td>
                  </tr>
                  <tr>
                    <td class="column column-features">
                      <table class="section" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="column" valign="top">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="text-center">
                                      <a href="https://www.ampdigital.co/jobs">
                                        <img src="https://www.ampdigital.co/emailer/icon4.png" alt="">
                                      </a>                                            <p>
                                          <a style="color: #0F9D58;" href="https://www.ampdigital.co/jobs">Jobs & Internships</a>
                                                      </p>
                                  </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                            <td class="column" width="20" valign="top">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td> &nbsp; </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="column" valign="top">
                              <table>
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="text-center">
                                        <a href="https://www.ampdigital.co/blogs">
                                          <img src="https://www.ampdigital.co/emailer/icon5.png" alt="">
                                        </a>                                              <p>
                                            <a style="color: #4285F4;" href="https://seotools..ampdigital.co/blogs">Blogs</a>
                                                        </p>
                                    </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td class="column" width="20" valign="top">
                              <table>
                                  <tbody>
                                      <tr>
                                          <td> &nbsp; </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </td>
                          <td class="column" valign="top">
                            <table>
                              <tbody>
                                <tr>
                                  <td >
                                    <div class="text-center">
                                      <a href="https://www.ampdigital.co/webinars">
                                        <img src="https://www.ampdigital.co/emailer/icon7.png" alt="">
                                      </a>                                          <p>
                                          <a style="color: #DB4437;" href="https://www.ampdigital.co/webinars">Webinar Recordings</a>
                                                      </p>
                                  </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                    </table>
                    </td>
                </tr>
                <tr>
                  <td class="column column-features">
                    <table class="section" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="column" valign="top">
                          <table>
                            <tbody>
                              <tr>
                                <td>
                                  <div class="text-center">
                                    <a href="https://www.ampdigital.co/google-ads-simulator">
                                      <img src="https://www.ampdigital.co/emailer/icon6.png" alt="">
                                    </a>                                            <p>
                                        <a style="color: #0F9D58;" href="https://www..ampdigital.co/google-ads-simulator">Google Ads Simulator</a>
                                                    </p>
                                </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                  </table>
                  </td>
              </tr>
              </table>
                <table class="section header column-summary" cellpadding="0" cellspacing="0" width="600">
                  <tr>
                      <td class="column">
                          <table>
                              <tbody>
                                <tr>
                                  <td align="left">
                                      <h2>All these are carefully designed and developed by <strong>Amitabh Verma</strong>, ex-Google and the ex-IIT/IIM teams at AMP Digital.

</h2>
                                  </td>
                              </tr>
                              <tr>
                                <td align="left">
                                  <img class="mb-5 mt-3" src="/heading-element.png" alt="" style="
                                  width: 7rem;
                              ">                                </td>
                            </tr>
                            <tr>
                              <td align="left">
                                  <h2><strong>
                                    We hope to be the partner in your development as a world class digital marketer.
                                  </strong>
                                  </h2>
                              </td>
                          </tr>
                          <tr>
                            <td align="left">
                                <h2>
                                  With Best Wishes,
                                </h2>
                            </td>
                        </tr>
                        <tr>
                          <td align="left">
                              <h2 style="color: #4285F4; font-size: 1.5rem!important;">
                                Team AMP Digital
                              </h2>
                          </td>
                      </tr>
                      <tr>
                        <td align="left">
                          <a href="https://www.ampdigital.co">www.ampdigital.co</a>
                        </td>
                    </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>
              </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>