<form enctype="multipart/form-data" class="imagesubmitform" action="/getimageurl" method="POST" target="_blank">
    <label>
      Browse <input name="avatar" class="imagetosubmit" type="file" hidden>
    </label>
    <button class="btn btn-xs btn-primary imagesubmitformbtn" type="submit">Submit</button>
  </form>