<div class="row clients">
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/4.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/7.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/2.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/6.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/8.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/11.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/12.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/13.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/14.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/15.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/16.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/17.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/18.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/19.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/20.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/21.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/22.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/23.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/24.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/25.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/26.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/27.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/28.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/220px-IIM_Indore_Logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/1200px-Genpact_THH_logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/1280px-Reliance_Industries_Logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/2000px-AbbottLaboratories.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/2000px-DHL_Express_logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/2000px-Google_2015_logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/accenture-logo-black-and-white.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/airtel-logo1.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/bose-black.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/Citibank_logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/Disney.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/DSC_pos.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/ESPN-Logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/EY_logo_slogan.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/facebook-logo-vector.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/HSBC-Logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/ibm_PNG19662.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/IIM_Ahemadabad_Logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/Mahindra-logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/Star TV.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/Times_Music_Logo.webp" height="100" width="100"></div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-4 client-logo text-center"><img src="/img/client-logo/Unilever.webp" height="100" width="100"></div>
</div>