
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Digital Marketing Training Courses | AMP Digital</title>
  <meta property="og:title" content="Digital Marketing Training Courses, AMP Digital" />
  <%if(referralcode!==""){%>
  <meta property="og:url" content="https:www.ampdigital.co?code=<%=referralcode%>" />
  <meta name="description"
    content="Digital Marketing courses & training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards.">
  <meta property="og:description"
    content="Digital Marketing courses and training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards." />
  <meta property="og:image" content="https://www.ampdigital.co/ogimages/DM2-01.png" />
  <%}else{%>
  <meta property="og:url" content="https:www.ampdigital.co" />
  <meta name="description"
    content="Digital Marketing courses & training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards. ">
  <meta property="og:description"
    content="Digital Marketing courses and training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards. " />
  <meta property="og:image" content="https://www.ampdigital.co/ogimages/DM2-01.png" />
  <%}%>
  <meta name="keywords" content="digital marketing training programs, digital marketing courses, jobs and internships, webinars, contests, quiz, digital skill building">
  <meta property="og:type" content="blog" />
  <meta name="robots" content="all,follow">
  <meta name="apple-mobile-web-app-title" content="AMP Digital">
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">  
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <!-- Bootstrap CDN JS Links -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	  <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" />
	<script src="/assets/js/owl.carousel.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/loopcounter.js"></script>
    <script src="/assets/js/YTPlayer.min.js"></script>
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <script src="assets/js/jquery.magnific-popup.min.js"></script>


<style>

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

body {
    font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #666666;
}

html, body, .wrapper {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #232323;
  font-weight: normal;
  line-height: 1.2;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}


img {
  border: none;
  outline: none;
  max-width: 100%;
}

label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 5px;
  max-width: 100%;
}

a, .btn, button {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  outline: medium none;
}

a img, iframe {
  border: none;
}

p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee;
}

pre {
  display: block;
  margin: 0 0 30px;
  padding: 9.5px;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  border: 1px solid #ededed;
  border-radius: inherit;
  background-color: #f9f9f9;
  font-size: 13px;
  line-height: 1.42857143;
}

input:focus, textarea:focus, 
 select:focus {
  outline: none;
  box-shadow: inherit;
}

ul {
  margin: 0;
  list-style-type: none;
}

a, a:active, a:focus, a:hover {
  outline: none;
  text-decoration: none;
  color: #232323;
}

a:hover {
  color: #232323;
}

a {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

b, strong {
  font-weight: 900;
}

.btn.active, .btn:active {
  background-image: inherit !important;
}

.btn.focus, 
 .btn:active:focus, 
 .btn:active:hover, 
 .btn:focus, 
 .btn:hover {
  outline: 0;
}

.btn.circle {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.btn.active, .btn:active {
  outline: 0;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

input {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  min-height: 50px;
}

a.more-btn {
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    z-index: 1;
    padding-right: 40px;
}

a.more-btn:hover {
  color: #DB4437;
}

a.more-btn::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    height: 2px;
    width: 30px;
    background: #DB4437;
    margin-top: -1px;
}

/* ============================================================== 
     # Why Chose us
=================================================================== */

@media only screen and (min-width: 1367px) {
.why-choseus-area .container-full {
    margin-left: calc((100% - 1140px)/ 2);
    width: auto;
    min-width: auto;
    max-width: inherit;
  }
}



.why-choseus-area .single-item {
  margin-bottom: 30px;
}

.why-choseus-area .fixed-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.why-choseus-area .fixed-bg img {
  width: 100%;
}

.why-choseus-area .thumb {
  padding-right: 35px;
}

.why-choseus-area .thumb .thumb-box {
  position: relative;
}

.why-choseus-area .info > h5 {
  text-transform: uppercase;
  color: #888888;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 25px;
  display: inline-block;
  z-index: 1;
  position: relative;
  padding-bottom: 24px;
}

.why-choseus-area .info > h5::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 2px;
  width: 50px;
  background: #DB4437;
  z-index: -1;
}

.why-choseus-area .info h2 {
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: -8px;
}

.why-choseus-area .info .item {
  position: relative;
  padding: 55px 30px;
  z-index: 1;
  box-shadow: 0 0 10px #cccccc;
  background: #ffffff;
  transition: all 0.35s ease-in-out;
}

.why-choseus-area .info .item:hover {
  margin-top: -15px;
}

.why-choseus-area .info .item:last-child {
  margin-bottom: 0;
}

.why-choseus-area .info .item h4 {
  font-weight: 700;
}

.why-choseus-area .info .item span {
  display: block;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
  opacity: 0.3;
}

.why-choseus-area .info .item > i {
    position: absolute;
    right: 30px;
    top: 40px;
    font-size: 50px;
    color: #999999;
}

.why-choseus-area .info .item h5 {
  font-weight: 700;
  font-size: 20px;
}

.why-choseus-area .info .item p {
  margin: 0;
}

.why-choseus-area .info .item a {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: linear-gradient(90deg, rgba(212,4,47,1) 0%, rgba(255,25,73,1) 75%);
    color: #ffffff;
    border-radius: 50%;
    margin-top: 20px;
}

.why-choseus-area .info .item ul li {
    font-weight: 600;
    color: #232323;
    position: relative;
    margin-top: 7px;
}

.why-choseus-area .info .item ul li:first-child {
  margin-top: 0;
}

.why-choseus-area .info .item ul {
    margin-top: 15px;
    position: relative;
}

.why-choseus-area .info .item ul::after {
    position: absolute;
    content: "";
    left: -32px;
    top: 5%;
    height: 90%;
    width: 4px;
    background: #DB4437;
}
    /* ============================================================== 
     # Video Button Play
=================================================================== */
.video-play-button {
  color: #DB4437;
  font-size: 30px;
  left: 50%;
  padding-left: 7px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ffffff repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button.theme:before,
.video-play-button.theme:after {
  background: #DB4437 repeat scroll 0 0;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ffffff repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-play-button i {
  display: block;
  position: relative;
  z-index: 3;
  color: #DB4437;
}

.video-play-button.theme i {
  color: #ffffff;
}

.video-play-button.relative {
  position: relative;
  display: inline-block;
  left: 30px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  text-align: center;
  margin-top: 0 !important;
  top: 40px;
  margin-left: 10px;
}

.video-play-button.relative::before, 
.video-play-button.relative::after {
  height: 68px;
  width: 68px;
  line-height: 68px;
}

.video-play-button.relative i {
  line-height: 70px;
  font-size: 25px;
}
/* ============================================================== 
     # Testimonials
=================================================================== */


.testimonials-area .fixed-shape {
  position: absolute;
  left: 0;
  bottom: -80px;
  z-index: -1;
}

.testimonials-area .testimonial-items .item .thumb {
  margin-right: 20px;
}

.testimonials-area .testimonial-items .item .provider img {
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 10px #cccccc;
}

.testimonials-area .testimonial-items .item {
  padding: 50px;
  background: #ffffff;
  box-shadow: 0 0 10px #cccccc;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 5px dashed rgba(255, 255, 255, 0.5);
}

.testimonials-area .testimonial-items .item .icon {
  position: absolute;
  right: -50px;
  top: -50px;
  height: 100px;
  width: 100px;
  background: #DB4437;
  transform: rotate(45deg);
}

.testimonials-area .testimonial-items .item .icon i {
  position: absolute;
  left: 45px;
  top: 65px;
  transform: rotate(-45deg);
  color: #ffffff;
  font-size: 20px;
}

.testimonials-area .testimonial-items .item .thumb img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  min-width: 80px;
  padding: 5px;
  background: #ffff;
  box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.1);
}

.testimonials-area .testimonial-items .item .provider {
  border-top: 1px solid #dddddd;
  padding-top: 30px;
  margin-top: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.testimonials-area .testimonial-items .item .provider::after, 
.testimonials-area .testimonial-items .item .provider::before {
  position: absolute;
  margin: auto;
  top: -1px;
  left: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #fff;
  content: "";
}

.testimonials-area .testimonial-items .item .provider::after {
  border-right: transparent;
  border-top: transparent;
  border-left: 1px solid #dddddd;
  -webkit-transform: rotate(-49deg);
  -ms-transform: rotate(-49deg);
  transform: rotate(-49deg);
  width: 4px;
  height: 23px;
  right: 0;
  top: -6px;
}

.testimonials-area .testimonial-items .item .provider .info h5 {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 5px;
}

.testimonials-area .testimonial-items .item .provider .info span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #888888;
}

.testimonials-area .rating i {
  color: #ffb606;
}

.testimonials-area .testimonial-items .testimonials-carousel .owl-dots {
  margin-top: 30px;
  margin-bottom: -15px;
}

.testimonials-area .testimonial-items .testimonials-carousel .owl-dots .owl-dot span {
  border: 2px solid #dddddd;
  background: no-repeat;
  height: 20px;
  width: 20px;
  position: relative;
  z-index: 1;
}

.testimonials-area .testimonial-items .testimonials-carousel .owl-dots .owl-dot.active span::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 5px;
  width: 5px;
  background: #DB4437;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.advisor-area .item .thumb {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
    /* ============================================================== 
     # Fun Factor
=================================================================== */


.fun-factor-area .fixed-shape {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
}

.fun-factor-area .fixed-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fun-factor-area .fixed-shape img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.fun-factor-area .fun-fact .timer {
  display: inline-block;
  font-size: 48px;
  line-height: 1;
  font-weight: 800;
  position: relative;
  z-index: 1;
}

.fun-factor-area .fun-fact .medium {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}

.fun-factor-area .fun-fact i {
  display: block;
  font-size: 80px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.fun-factor-area .fun-fact i::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #DB4437;
  z-index: -1;
}

.fun-factor-area .fun-fact .counter {
  position: relative;
}

.fun-factor-area .fun-fact .counter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}

.fun-factor-area .fun-fact .counter .operator {
  font-size: 45px;
  margin-left: 2px;
}
.bg-gradient {
    background-image: linear-gradient(
97deg
 ,rgba(106,78,119,.89) 36%,rgba(100,92,103,.89) 100%)!important;
    background-color: rgba(100,92,103,.89)!important;
}
	.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 9px;
    -ms-user-select: none;
    user-select: none;
}
	.default-padding.bottom-less {
    padding-top: 120px;
    padding-bottom: 90px;
}
.default-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}
.default-padding, .default-padding-top, .default-padding-bottom {
    position: relative;
}
.bg-dark {
    background: #111d30 !important;
}
ul {
    margin: 0;
    list-style-type: none;
}
.default-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.default-padding, .default-padding-top, .default-padding-bottom {
    position: relative;
}
.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6, .text-light p, .text-light a {
    color: #ffffff;
}
b, strong {
    font-weight: 900;
}
h4 {
    font-size: 20px;
}
/* ============================================================== 
     # Footer
=================================================================== */

footer .item {
  margin-top: 50px;
}

footer .f-items.default-padding {
  padding-top: 70px;
}

footer .f-item.about {
  padding-right: 30px;
}

footer .item img {
  margin-bottom: 30px;
}

footer .item .widget-title {
  margin-bottom: 30px;
  font-weight: 800;
}

footer .item .link ul li {
  margin-bottom: 15px;
  padding-left: 15px;
  position: relative;
}

footer .item .link ul li::after {
  position: absolute;
  left: 0;
  top: 9px;
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #bcb3b3;
}

footer.bg-dark .item .link li a {
  color: #cccccc;
}

footer .link li a:hover {
  color: #DB4437;
}

footer .item .link li:last-child {
  margin-bottom: 0;
}

footer .item .subscribe form {
  background: #fafafa;
  border: 1px solid #e7e7e7;
  margin-top: 30px;
  position: relative;
  border-radius: 30px;
}

footer.bg-dark .item .subscribe form {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

footer .item .subscribe form input {
  background: transparent;
  border: none;
  color: #ffffff;
  padding-left: 25px;
  border-radius: 30px;
}

footer .item .subscribe form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  color: #ffffff;
  background: #DB4437;
  border-radius: 50%;
}

footer.bg-dark .item .subscribe form button {
  color: #DB4437;
  background: #ffffff;
}

footer .item .opening-info {
  margin-top: 30px;
}

footer .item .opening-info h5 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
}

footer .item .opening-info li {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

footer.bg-dark .item .opening-info li {
  font-weight: 400;
}

footer.bg-dark .item .opening-info li {
  color: #cccccc;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer .item .opening-info li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

footer .address li {
  margin-bottom: 10px;
}

footer.bg-dark .address li {
  color: #cccccc;
}

footer .address li:last-child {
  margin-bottom: 0;
}

footer.bg-dark .address li strong {
  color: #ffffff;
}

footer .social {
  margin-top: 30px;
}

footer .social h5 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 15px;
}

footer.bg-dark .social h5 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer .social li {
  display: inline-block;
  margin-right: 25px;
}

footer .social li a {
  color: #666666;
}

/* Footer Bottom */

.footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #e7e7e7;
  background: #fafafa;
}

footer.bg-dark .footer-bottom {
  border-top: 1px solid #000;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .4), inset 0 1px 1px rgba(255, 255, 255, .2);
  background: transparent;
}

.footer-bottom li {
  display: inline-block;
}

.footer-bottom .text-right li {
  margin-left: 20px;
}

.footer-bottom p {
  margin: 0;
}


dd {
    margin-right: 0;
}

figure {
    margin: 0 0 1rem;
}

caption {
    text-align: right;
}

th {
    text-align: right;
}

.list-unstyled {
    padding-right: 0;
}

.list-inline {
    padding-right: 0;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
    margin-left: 5px;
}

.blockquote {
    border-left: none;
    border-right: 0.25rem solid #eceeef;
}

.blockquote-reverse {
    padding-left: 1rem;
    padding-right: 0;
    text-align: left;
    border-left: 0.25rem solid #eceeef;
    border-right: 0;
}

dl.row > dd + dt {
    clear: right;
}


.pull-0 {
    left: auto;
}

.pull-1 {
    left: 8.33333%;
}

.pull-2 {
    left: 16.66667%;
}

.pull-3 {
    left: 25%;
}

.pull-4 {
    left: 33.33333%;
}

.pull-5 {
    left: 41.66667%;
}

.pull-6 {
    left: 50%;
}

.pull-7 {
    left: 58.33333%;
}

.pull-8 {
    left: 66.66667%;
}

.pull-9 {
    left: 75%;
}

.pull-10 {
    left: 83.33333%;
}

.pull-11 {
    left: 91.66667%;
}

.pull-12 {
    left: 100%;
}

.push-0 {
    right: auto;
}

.push-1 {
    right: 8.33333%;
}

.push-2 {
    right: 16.66667%;
}

.push-3 {
    right: 25%;
}

.push-4 {
    right: 33.33333%;
}

.push-5 {
    right: 41.66667%;
}

.push-6 {
    right: 50%;
}

.push-7 {
    right: 58.33333%;
}

.push-8 {
    right: 66.66667%;
}

.push-9 {
    right: 75%;
}

.push-10 {
    right: 83.33333%;
}

.push-11 {
    right: 91.66667%;
}

.push-12 {
    right: 100%;
}

.offset-1 {
    margin-right: 8.33333%;
}

.offset-2 {
    margin-right: 16.66667%;
}

.offset-3 {
    margin-right: 25%;
}

.offset-4 {
    margin-right: 33.33333%;
}

.offset-5 {
    margin-right: 41.66667%;
}

.offset-6 {
    margin-right: 50%;
}

.offset-7 {
    margin-right: 58.33333%;
}

.offset-8 {
    margin-right: 66.66667%;
}

.offset-9 {
    margin-right: 75%;
}

.offset-10 {
    margin-right: 83.33333%;
}

.offset-11 {
    margin-right: 91.66667%;
}

@media (min-width: 544px) {

    .pull-sm-0 {
        left: auto;
    }

    .pull-sm-1 {
        left: 8.33333%;
    }

    .pull-sm-2 {
        left: 16.66667%;
    }

    .pull-sm-3 {
        left: 25%;
    }

    .pull-sm-4 {
        left: 33.33333%;
    }

    .pull-sm-5 {
        left: 41.66667%;
    }

    .pull-sm-6 {
        left: 50%;
    }

    .pull-sm-7 {
        left: 58.33333%;
    }

    .pull-sm-8 {
        left: 66.66667%;
    }

    .pull-sm-9 {
        left: 75%;
    }

    .pull-sm-10 {
        left: 83.33333%;
    }

    .pull-sm-11 {
        left: 91.66667%;
    }

    .pull-sm-12 {
        left: 100%;
    }

    .push-sm-0 {
        right: auto;
    }

    .push-sm-1 {
        right: 8.33333%;
    }

    .push-sm-2 {
        right: 16.66667%;
    }

    .push-sm-3 {
        right: 25%;
    }

    .push-sm-4 {
        right: 33.33333%;
    }

    .push-sm-5 {
        right: 41.66667%;
    }

    .push-sm-6 {
        right: 50%;
    }

    .push-sm-7 {
        right: 58.33333%;
    }

    .push-sm-8 {
        right: 66.66667%;
    }

    .push-sm-9 {
        right: 75%;
    }

    .push-sm-10 {
        right: 83.33333%;
    }

    .push-sm-11 {
        right: 91.66667%;
    }

    .push-sm-12 {
        right: 100%;
    }

    .offset-sm-0 {
        margin-right: 0%;
    }

    .offset-sm-1 {
        margin-right: 8.33333%;
    }

    .offset-sm-2 {
        margin-right: 16.66667%;
    }

    .offset-sm-3 {
        margin-right: 25%;
    }

    .offset-sm-4 {
        margin-right: 33.33333%;
    }

    .offset-sm-5 {
        margin-right: 41.66667%;
    }

    .offset-sm-6 {
        margin-right: 50%;
    }

    .offset-sm-7 {
        margin-right: 58.33333%;
    }

    .offset-sm-8 {
        margin-right: 66.66667%;
    }

    .offset-sm-9 {
        margin-right: 75%;
    }

    .offset-sm-10 {
        margin-right: 83.33333%;
    }

    .offset-sm-11 {
        margin-right: 91.66667%;
    }
}

@media (min-width: 768px) {

    .pull-md-0 {
        left: auto;
    }

    .pull-md-1 {
        left: 8.33333%;
    }

    .pull-md-2 {
        left: 16.66667%;
    }

    .pull-md-3 {
        left: 25%;
    }

    .pull-md-4 {
        left: 33.33333%;
    }

    .pull-md-5 {
        left: 41.66667%;
    }

    .pull-md-6 {
        left: 50%;
    }

    .pull-md-7 {
        left: 58.33333%;
    }

    .pull-md-8 {
        left: 66.66667%;
    }

    .pull-md-9 {
        left: 75%;
    }

    .pull-md-10 {
        left: 83.33333%;
    }

    .pull-md-11 {
        left: 91.66667%;
    }

    .pull-md-12 {
        left: 100%;
    }

    .push-md-0 {
        right: auto;
    }

    .push-md-1 {
        right: 8.33333%;
    }

    .push-md-2 {
        right: 16.66667%;
    }

    .push-md-3 {
        right: 25%;
    }

    .push-md-4 {
        right: 33.33333%;
    }

    .push-md-5 {
        right: 41.66667%;
    }

    .push-md-6 {
        right: 50%;
    }

    .push-md-7 {
        right: 58.33333%;
    }

    .push-md-8 {
        right: 66.66667%;
    }

    .push-md-9 {
        right: 75%;
    }

    .push-md-10 {
        right: 83.33333%;
    }

    .push-md-11 {
        right: 91.66667%;
    }

    .push-md-12 {
        right: 100%;
    }

    .offset-md-0 {
        margin-right: 0%;
    }

    .offset-md-1 {
        margin-right: 8.33333%;
    }

    .offset-md-2 {
        margin-right: 16.66667%;
    }

    .offset-md-3 {
        margin-right: 25%;
    }

    .offset-md-4 {
        margin-right: 33.33333%;
    }

    .offset-md-5 {
        margin-right: 41.66667%;
    }

    .offset-md-6 {
        margin-right: 50%;
    }

    .offset-md-7 {
        margin-right: 58.33333%;
    }

    .offset-md-8 {
        margin-right: 66.66667%;
    }

    .offset-md-9 {
        margin-right: 75%;
    }

    .offset-md-10 {
        margin-right: 83.33333%;
    }

    .offset-md-11 {
        margin-right: 91.66667%;
    }
}

@media (min-width: 992px) {

    .pull-lg-0 {
        left: auto;
    }

    .pull-lg-1 {
        left: 8.33333%;
    }

    .pull-lg-2 {
        left: 16.66667%;
    }

    .pull-lg-3 {
        left: 25%;
    }

    .pull-lg-4 {
        left: 33.33333%;
    }

    .pull-lg-5 {
        left: 41.66667%;
    }

    .pull-lg-6 {
        left: 50%;
    }

    .pull-lg-7 {
        left: 58.33333%;
    }

    .pull-lg-8 {
        left: 66.66667%;
    }

    .pull-lg-9 {
        left: 75%;
    }

    .pull-lg-10 {
        left: 83.33333%;
    }

    .pull-lg-11 {
        left: 91.66667%;
    }

    .pull-lg-12 {
        left: 100%;
    }

    .push-lg-0 {
        right: auto;
    }

    .push-lg-1 {
        right: 8.33333%;
    }

    .push-lg-2 {
        right: 16.66667%;
    }

    .push-lg-3 {
        right: 25%;
    }

    .push-lg-4 {
        right: 33.33333%;
    }

    .push-lg-5 {
        right: 41.66667%;
    }

    .push-lg-6 {
        right: 50%;
    }

    .push-lg-7 {
        right: 58.33333%;
    }

    .push-lg-8 {
        right: 66.66667%;
    }

    .push-lg-9 {
        right: 75%;
    }

    .push-lg-10 {
        right: 83.33333%;
    }

    .push-lg-11 {
        right: 91.66667%;
    }

    .push-lg-12 {
        right: 100%;
    }

    .offset-lg-0 {
        margin-right: 0%;
    }

    .offset-lg-1 {
        margin-right: 8.33333%;
    }

    .offset-lg-2 {
        margin-right: 16.66667%;
    }

    .offset-lg-3 {
        margin-right: 25%;
    }

    .offset-lg-4 {
        margin-right: 33.33333%;
    }

    .offset-lg-5 {
        margin-right: 41.66667%;
    }

    .offset-lg-6 {
        margin-right: 50%;
    }

    .offset-lg-7 {
        margin-right: 58.33333%;
    }

    .offset-lg-8 {
        margin-right: 66.66667%;
    }

    .offset-lg-9 {
        margin-right: 75%;
    }

    .offset-lg-10 {
        margin-right: 83.33333%;
    }

    .offset-lg-11 {
        margin-right: 91.66667%;
    }
}

@media (min-width: 1200px) {

    .pull-xl-0 {
        left: auto;
    }

    .pull-xl-1 {
        left: 8.33333%;
    }

    .pull-xl-2 {
        left: 16.66667%;
    }

    .pull-xl-3 {
        left: 25%;
    }

    .pull-xl-4 {
        left: 33.33333%;
    }

    .pull-xl-5 {
        left: 41.66667%;
    }

    .pull-xl-6 {
        left: 50%;
    }

    .pull-xl-7 {
        left: 58.33333%;
    }

    .pull-xl-8 {
        left: 66.66667%;
    }

    .pull-xl-9 {
        left: 75%;
    }

    .pull-xl-10 {
        left: 83.33333%;
    }

    .pull-xl-11 {
        left: 91.66667%;
    }

    .pull-xl-12 {
        left: 100%;
    }

    .push-xl-0 {
        right: auto;
    }

    .push-xl-1 {
        right: 8.33333%;
    }

    .push-xl-2 {
        right: 16.66667%;
    }

    .push-xl-3 {
        right: 25%;
    }

    .push-xl-4 {
        right: 33.33333%;
    }

    .push-xl-5 {
        right: 41.66667%;
    }

    .push-xl-6 {
        right: 50%;
    }

    .push-xl-7 {
        right: 58.33333%;
    }

    .push-xl-8 {
        right: 66.66667%;
    }

    .push-xl-9 {
        right: 75%;
    }

    .push-xl-10 {
        right: 83.33333%;
    }

    .push-xl-11 {
        right: 91.66667%;
    }

    .push-xl-12 {
        right: 100%;
    }

    .offset-xl-0 {
        margin-right: 0%;
    }

    .offset-xl-1 {
        margin-right: 8.33333%;
    }

    .offset-xl-2 {
        margin-right: 16.66667%;
    }

    .offset-xl-3 {
        margin-right: 25%;
    }

    .offset-xl-4 {
        margin-right: 33.33333%;
    }

    .offset-xl-5 {
        margin-right: 41.66667%;
    }

    .offset-xl-6 {
        margin-right: 50%;
    }

    .offset-xl-7 {
        margin-right: 58.33333%;
    }

    .offset-xl-8 {
        margin-right: 66.66667%;
    }

    .offset-xl-9 {
        margin-right: 75%;
    }

    .offset-xl-10 {
        margin-right: 83.33333%;
    }

    .offset-xl-11 {
        margin-right: 91.66667%;
    }
}

.form-check-label {
    padding-right: 1.25rem;
}

.form-check-input {
    margin-right: -1.25rem;
}

.form-check-inline {
    padding-right: 1.25rem;
}

    .form-check-inline + .form-check-inline {
        margin-right: .75rem;
    }

.form-control-feedback {
    margin-top: 0.25rem;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
    padding-left: 2.25rem;
    background-position: center right 0.625rem;
}

.form-inline .form-check-label {
    padding-right: 0;
}

.dropdown-toggle::after {
    margin-right: 0.3em;
}

.dropdown-menu {
    right: 0;
    float: right;
    margin: 2px 0 0;
    text-align: right;
}

.dropdown-divider {
    margin: 0.5rem 0;
}



.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-right: -1px;
}

.btn-toolbar {
    margin-right: -0.5rem;
}



    .btn-toolbar > .btn,
    .btn-toolbar > .btn-group,
    .btn-toolbar > .input-group {
        margin-right: 0.5rem;
    }

.btn-group > .btn:first-child {
    margin-right: 0;
}

.btn-group > .btn-group {
    float: right;
}

.btn + .dropdown-toggle-split::after {
    margin-right: 0;
}


.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
    margin-right: 0;
}

.input-group .form-control {
    float: left;
}

.input-group-addon:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,.15);
    border-left: 0;
}

.form-control + .input-group-addon:not(:first-child) {
    border-left-width: medium;
    border-right: 0;
}



.input-group-btn > .btn + .btn {
    margin-right: -1px;
}

.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group {
    margin-left: -1px;
}

.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
    margin-right: -1px;
}

.custom-control {
    padding-right: 1.5rem;
}

    .custom-control + .custom-control {
        margin-right: 1rem;
    }

.custom-control-indicator {
    right: 0;
}

.custom-controls-stacked .custom-control + .custom-control {
    margin-right: 0;
}

.custom-select {
    padding-left: 0.75rem \9;
}

.nav {
    padding-right: 0;
}



    .nav-tabs .nav-item + .nav-item {
        margin-right: 0.2rem;
    }



    .nav-pills .nav-item + .nav-item {
        margin-right: 0.2rem;
    }

.nav-stacked .nav-item + .nav-item {
    margin-right: 0;
}







.navbar-nav .nav-link + .nav-link {
    margin-right: 1rem;
}

.navbar-nav .nav-item + .nav-item {
    margin-right: 1rem;
}

@media (max-width: 543px) {
    .navbar-toggleable .navbar-nav .nav-item {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .navbar-toggleable-sm .navbar-nav .nav-item {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .navbar-toggleable-md .navbar-nav .nav-item {
        margin-right: 0;
    }
}

.card-link + .card-link {
    margin-right: 1.25rem;
}

.card-blockquote {
    border-right: 0;
}

.breadcrumb-item {
    float: right;
}

.pagination {
    padding-right: 0;
}

.page-item:first-child .page-link {
    margin-right: 0;
}

.page-link {

    margin-right: -1px;
}

.alert-dismissible {
    padding-left: 2rem;
}

    .alert-dismissible .close {
        left: -1rem;
    }

.media-list {
    padding-right: 0;
}

.list-group {
    padding-right: 0;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    right: 0;
}

.close {
    float: left;
}

.tooltip {
    text-align: right;
}

    .tooltip.tooltip-top .tooltip-arrow,
    .tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
        right: 50%;
        margin-right: -5px;
    }

    .tooltip.tooltip-bottom .tooltip-arrow,
    .tooltip.bs-tether-element-attached-top .tooltip-arrow {
        right: 50%;
        margin-right: -5px;
    }

.popover {
    right: 0;
    text-align: right;
}

    .popover.popover-top .popover-arrow,
    .popover.bs-tether-element-attached-bottom .popover-arrow {
        right: 50%;
        margin-right: -11px;
    }

        .popover.popover-top .popover-arrow::after,
        .popover.bs-tether-element-attached-bottom .popover-arrow::after {
            margin-right: -10px;
        }

    .popover.popover-bottom .popover-arrow,
    .popover.bs-tether-element-attached-top .popover-arrow {
        right: 50%;
        margin-right: -11px;
    }

        .popover.popover-bottom .popover-arrow::after,
        .popover.bs-tether-element-attached-top .popover-arrow::after {
            margin-right: -10px;
        }

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .carousel-item.next,
    .carousel-inner > .carousel-item.active.right {
        right: 0;
    }

    .carousel-inner > .carousel-item.prev,
    .carousel-inner > .carousel-item.active.left {
        right: 0;
    }

        .carousel-inner > .carousel-item.next.left,
        .carousel-inner > .carousel-item.prev.right,
        .carousel-inner > .carousel-item.active {
            right: 0;
        }
}

.carousel-inner > .active {
    right: 0;
}

.carousel-inner > .next {
    right: 100%;
}

.carousel-inner > .prev {
    right: -100%;
}

    .carousel-inner > .next.left,
    .carousel-inner > .prev.right {
        right: 0;
    }

.carousel-inner > .active.left {
    right: -100%;
}

.carousel-inner > .active.right {
    right: 100%;
}

/*.carousel-control {
  right: 0;
}

.carousel-control.right {
  left: 0;
  right: auto;
}*/

.carousel-control .icon-prev {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .icon-next {
    left: 50%;
    margin-left: -10px;
}

.carousel-indicators {
    right: 50%;
    padding-right: 0;
    margin-right: -30%;
}

.carousel-caption {
    left: 15%;
    right: 15%;
    z-index: 10;
}

@media (min-width: 544px) {
    .carousel-control .icon-prev {
        margin-right: -15px;
    }

    .carousel-control .icon-next {
        margin-left: -15px;
    }

    .carousel-caption {
        left: 20%;
        right: 20%;
    }
}



/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 0px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-right: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

	.btn-theme{
		padding: 1px 35px!important;
    font-size: 20px!important;
	font-weight: 500!important;
		background-color: #F6B543!important; border-color: #F6B543!important;
	}
	.courses-area .courses-items .info .bottom a{
		color: black!important;
	}
	/* ============================================================== 
     # Courses
=================================================================== */

.courses-area .courses-box .item .info .bottom-info a {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    left: 0;
    bottom: -30px;
}
.btn-theme {
    background-color: #DB4437;
    color: #ffffff !important;
    border: 2px solid #DB4437;
}
.btn-sm {
    padding: 10px 35px;
    font-size: 12px;
}
.courses-area .courses-items .single-item {
  margin-bottom: 30px;
}

.courses-area .courses-items .item {
  box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.1);
  background: #ffffff;
}

.courses-area .courses-items .top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid #e7e7e7;
}

.courses-area.trend-layout .courses-items .top-info {
    padding: 0;
    margin-bottom: 15px;
    border: none;
}

.courses-area .courses-items .top-info .price {
  font-size: 24px;
  font-weight: 800;
}

.courses-area .courses-items .top-info i {
  color: #ffb606;
}

.courses-area .courses-items .info {
  padding: 30px;
  background: #ffffff;
}

.courses-area .courses-items .info h4 {
  text-transform: capitalize;
}

.courses-area .courses-items .info h4 a:hover {
  color: #DB4437;
}

.courses-area .courses-items .meta {
  text-transform: capitalize;
}

.courses-area.trend-layout .courses-items .meta {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
    text-transform: capitalize;
}

.courses-area .courses-items .meta img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.courses-area .courses-items .meta a {
  margin: 0 3px;
}

.courses-area .courses-items .meta a:hover {
  color: #DB4437;
}

.courses-area .courses-items .top-info .enroll a {
  display: block;
}

.courses-area .courses-items .top-info ul li i {
  margin-right: 5px;
}

.courses-area .courses-items .thumb {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.courses-area.trend-layout .courses-items .thumb {
    margin: 0;
    padding-top: 0;
}

.courses-area .courses-items .thumb .course-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 30px;
    color: #ffffff;
    z-index: 1;
    display: flex;
    align-items: center;
}

.courses-area .courses-items .thumb .course-info li {
    display: inline-block;
    margin-right: 15px;
    font-weight: 600;
    position: relative;
    padding-right: 20px;
    z-index: 1;
    text-transform: uppercase;
    font-size: 14px;
}

.courses-area .courses-items .thumb .course-info li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.courses-area .courses-items .thumb .course-info li::after {
    position: absolute;
    right: 0;
    top: 5px;
    content: "";
    height: 20px;
    width: 1px;
    border-right: 1px solid;
}

.courses-area .courses-items .thumb .course-info li:last-child::after {
  display: none;
}

.courses-area .courses-items .thumb .course-info .rating i {
    color: #ffb606;
    font-size: 14px;
}

.courses-area .courses-items .thumb::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 50%;
    width: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 120%) repeat scroll 0 0;
}

.courses-area.trend-layout .courses-items .thumb::after {
  display: none;
}

.courses-area .courses-items .thumb .course-info li i {
    margin-right: 3px;
    font-weight: 600;
}

.courses-area .courses-items .info .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    font-weight: 600;
}

.courses-area .courses-items .info .bottom a i {
  margin-right: 3px;
}

.courses-area .courses-items .info .bottom a {
  color: #DB4437;
  text-transform: capitalize;
  font-weight: 800!important;
}

.courses-area .courses-items .info .bottom .rating i {
  color: #ffb606;
}

.courses-area .courses-items .info .price-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: 600;
}

.courses-area .courses-items .info .price-rating .price {
    font-size: 18.5px;
    font-weight: 800;
    color: #232323;
}

.courses-area .courses-items .info .price-rating .rating i {
    color: #ffb606;
}

.courses-area.trend-layout .courses-items .bottom-info ul {
  margin-bottom: 15px;
}

.courses-area.trend-layout .courses-items .bottom-info ul li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}

.courses-area.trend-layout .courses-items .bottom-info .enroll a {
  border-radius: 30px;
}

.courses-area.trend-layout .courses-items .bottom-info ul li i {
  margin-right: 5px;
}
/* ============================================================== 
     # Courses Version Two 
=================================================================== */

.courses-area .fixed-shape {
  position: absolute;
  left: 0;
  top: -10%;
  z-index: -9;
  width: 30%;
  opacity: 0.05;
}

.courses-area .courses-box .single-item {
  margin-bottom: 30px;
}

.courses-area .courses-box .item {
  border: 1px solid #e7e7e7;
  background: #ffffff;
}

.courses-area .courses-box .item .info {
  padding: 30px;
}

.courses-area .courses-box .item .info .bottom-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}

.courses-area .courses-box .item .info .bottom-info a {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  left: 0;
  bottom: -30px;
}

.courses-area .courses-box .item:hover .info .bottom-info a {
  opacity: 1;
  bottom: 0;
}

.courses-area .courses-box .item:hover .info .bottom-info .course-info,
.courses-area .courses-box .item:hover .info .bottom-info .rating,
.courses-area .courses-box .item:hover .info .bottom-info {
  transition: all 0.35s ease-in-out;
}

.courses-area .courses-box .item:hover .info .bottom-info .course-info,
.courses-area .courses-box .item:hover .info .bottom-info .rating {
  opacity: 0;
}

.courses-area .courses-box .item:hover .info .bottom-info {
  border: none;
}

.courses-area .courses-box .item .info .bottom-info .rating i {
  color: #ffb606;
}

.courses-area .courses-box .item .thumb {
  position: relative;
  z-index: 1;
}

.courses-area .courses-box .item .thumb .price {
  left: 0;
  top: 30px;
  background: #f4f4f4 none repeat scroll 0 0;
  padding: 15px 30px;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
}

.courses-area .courses-box .item .thumb .price h5 {
  margin: 0;
  font-weight: 800;
}

.courses-area .courses-box .item .info h4 a:hover {
  color: #DB4437;
}

.courses-area .courses-box .item .inof .meta {
  margin-bottom: 15px;
}

.courses-area .courses-box .item .info .meta {
  margin-bottom: 15px;
}

.courses-area .courses-box .item .info .meta a:hover {
  color: #DB4437;
}

.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav {
  margin: 0;
}

.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav .owl-prev, 
.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav .owl-next {
  background: #ffffff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  -o-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  color: #666666;
  font-size: 20px;
  height: 45px;
  left: 0;
  line-height: 48px;
  margin-top: -23px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 45px;
  opacity: 0;
}

.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav .owl-prev, 
.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav .owl-next {
  opacity: 1;
}

.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav .owl-prev {
  left: -80px!important;
}

.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav .owl-next {
  right: -80px!important;
}

.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav .owl-prev:hover, 
.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav .owl-next:hover {
  background: #ffffff none repeat scroll 0 0;
  color: #DB4437;
}

.courses-area .courses-items .courses-carousel.owl-carousel .owl-nav .owl-next {
  left: auto;
  right: 0;
}
	.info-box2:hover{
		text-decoration: none!important;
	}
	.carousel img{
		width: 100%;
	}
	.carousel h3{
		color: black
	}
	#demo p{
		color: black;
		display: none;
	}
.tabs-section {
    overflow: hidden;
    padding: 60px 0px;
}
.tabs-section .feature-img {
    max-height: 255px;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid #fff;
}
.tabs-section .nav-tabs {
    border: 0;
}
.tabs-section .nav-link {
    border: 0;
    padding: 11px 15px;
    transition: 0.3s;
    color: black;
    border-radius: 0;
    font-weight: 600;
    font-size: 15px;
}
.tabs-section .nav-link:hover {
    /* color: #cddc39; */
}
.tabs-section .nav-link.active {
    color: #333333;
    background: #FDE48D;
}
.tabs-section .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}
.tabs-section .details h3 {
    font-size: 26px;
    color: #cddc39;
}
.tabs-section .details p {
    color: #aaaaaa;
}
.navbar-toggler-icon,
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
</style>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NTJGZ4L');</script>
   </head>
   <body>
       
         <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="" style="position: absolute;
  width: 1440px;
  height: 50px;
  left: -2px;
  top: 0px;
  
  background: #4285F4;">
<p style="position: absolute;
width: 612px;
height: 24px;
left: 349px;
top: 13px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.03em;

color: #FFFFFF;
">
Get 75% off on all our training programs. Use Coupon Code <span style="text-decoration: underline;">FREEDOM75</span>
</p>
<button style="position: absolute;
width: 105px;
height: 30px;
left: 966px;
top: 10px;
color: #DB4437;
background: #FFFFFF;
border: 0.75px solid #DB4437;
box-sizing: border-box;
box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
border-radius: 49.5px;">
Enroll Now
</button>
  </div>
  <div style="position: absolute;
  width: 1440px;
  height: 1024px;
  left: -2px;
  top: 0px;
  
  background: linear-gradient(116.82deg, rgba(66, 133, 244, 0.25) 0%, #FFFFFF 50%);">


  </div>
	<nav class="navbar navbar-expand navbar-dark d-none"> 
		<a class="navbar-brand" href="/">
			<img style="width: 9rem;" src="/amp_digital_black.jpg" class="logo" alt="Logo">
			</a>
		<div class="collapse navbar-collapse" id="navbarsExample02">
			<!-- <ul class="navbar-nav mr-auto">
				<li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
				<li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
			</ul> -->
			<!-- <form class="form-inline my-2 my-md-0"> </form> -->
		</div>
		<a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>

	</nav>
	<div id="wrapper" class=" d-none">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"> <a href="#"> Start Bootstrap </a> </li>
				<li> <a href="#">Dashboard</a> </li>
				<li> <a href="#">Shortcuts</a> </li>
				<li> <a href="#">Overview</a> </li>
				<li> <a href="#">Events</a> </li>
				<li> <a href="#">About</a> </li>
				<li> <a href="#">Services</a> </li>
				<li> <a href="#">Contact</a> </li>
			</ul>
		</div>
	</div> <!-- /#wrapper -->
	<section style="height:40rem;" class="bgmobile hero hero-home d-md-none backgroundmobile d-none">
		<div class="container">
		  <div class="row d-md-none">
			<div class="col-lg-12">
			  <h1 class="mt-4" style="font-size: 1.75rem!important; color: black; font-weight: 700;"> <span style="color:black!important">Digital Marketing</span><br> Programs</h1>
			</div>
			<div class="col-lg-12">
			  <p class="hero-text mt-2">Learn how to build businesses using advance Digital
				Marketing tools and techniques. Master most sought after
				Digital Skills and grow your career.</p>
			  <div class="CTAs row justify-content-center">
				<a id="viewcourses" style="background-color: orange; border-color: orange; border-radius: 12px;" href="/#courses" class="btn btn-primary btn-sm">View Courses</a>
			</div>
			<div class="CTAs row justify-content-center mt-3">
			  <a href="/dashboard" style="background-color: orange; border-color: orange; border-radius: 12px; color: white; margin-left: 2%;" class="btn btn-outline-light btn-sm">Start Learning</a></div>
		  </div>
		  </div>
		</div>
	  </section>
		   </div>
		
	<section class="courses-area tabs-section text-white d-none">
		<div class="container">
		   <div class="row align-items-center">
			  <div class="col-sm-5 col-lg-4">
				  <h2 style="color: black;" class="mb-3"><i>Learn with us</i></h2>
			  </div>
		   </div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-lg-4">
					<h4 style="color: black">Beginner Level Courses</h4>
				</div>
			</div>
            <div class="courses-items">
                <div class="courses-carousel owl-carousel owl-theme">
                    <!-- Single item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="/digitalmarketingcourse.jpg" alt="Thumb">
                            <div class="course-info">
                                <ul>
                                    <li><i class="fas fa-clock"></i> 30 Hours</li>
                                    <li><i class="fas fa-list-ul"></i> 42</li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <img src="/amitabh.jpg" alt="Advisor">
                                        <a href="#">Amitabh Verma</a> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Digital Marketing Course</a>
                            </h4>
							<div class="price-rating">
                                <div class="price">
                                    INR 15.00
                                </div>
                            </div>
                            <div class="bottom">
                                
                                <a class="btn btn-theme effect btn-sm w-100" href="#">Know More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="https://ampdigital.s3.us-west-2.amazonaws.com/seoworkshop.jpeg" alt="Thumb">
                            <div class="course-info">
                                <ul>
                                    <li><i class="fas fa-clock"></i> 30 Hours</li>
                                    <li><i class="fas fa-list-ul"></i> 42</li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <img src="/amitabh.jpg" alt="Advisor">
                                        <a href="#">Amitabh Verma</a> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">SEO Workshop</a>
                            </h4>
							<div class="price-rating">
                                <div class="price">
                                    INR 15.00
                                </div>
                            </div>
                            <div class="bottom">
                                
                                <a class="btn btn-theme effect btn-sm w-100" href="#">Know More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="https://ampdigital.s3.us-west-2.amazonaws.com/gacard.png" alt="Thumb">
                            <div class="course-info">
                                <ul>
                                    <li><i class="fas fa-clock"></i> 30 Hours</li>
                                    <li><i class="fas fa-list-ul"></i> 42</li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <img src="/amitabh.jpg" alt="Advisor">
                                        <a href="#">Amitabh Verma</a> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Advanced Google Analytics (GA) Certification Course
                                </a>
                            </h4>
							<div class="price-rating">
                                <div class="price">
                                    INR 15.00
                                </div>
                            </div>
                            <div class="bottom">
                                
                                <a class="btn btn-theme effect btn-sm w-100" href="#">Know More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                </div>
            </div>
			<div class="row mt-3">
				<div class="col-sm-5 col-lg-4">
					<h4 style="color: black">Google Certified Courses</h4>
				</div>
			</div>
            <div class="courses-items">
                <div class="courses-carousel owl-carousel owl-theme">
                    <!-- Single item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="https://ampdigital.s3.us-west-2.amazonaws.com/gacard.png" alt="Thumb">
                            <div class="course-info">
                                <ul>
                                    <li><i class="fas fa-clock"></i> 30 Hours</li>
                                    <li><i class="fas fa-list-ul"></i> 42</li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <img src="/amitabh.jpg" alt="Advisor">
                                        <a href="#">Amitabh Verma</a> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Advanced Google Analytics (GA) Certification Course
                                </a>
                            </h4>
							<div class="price-rating">
                                <div class="price">
                                    INR 15.00
                                </div>
                            </div>
                            <div class="bottom">
                                
                                <a class="btn btn-theme effect btn-sm w-100" href="#">Know More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                </div>
            </div>
        </div>
	</section>
	<section class="tabs-section text-white">
		<div class="container">
		   <div class="row align-items-center">
			  <div class="col-sm-5 col-lg-4">
				  <h2 style="color: black;" class="mb-3"><i>Why us?</i></h2>
			  </div>
		   </div>
		   <div class="row">
			<div class="default-features-area default-design relative bottom-less text-center pb-3">
				<div class="container">
					<div class="item-box">
						<div class="row">
							<div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
							  <div style="border-radius: 10px;padding: 30px 30px;
								background: #D6C2E5!important;" class="item torchred">
								<a class="info-box2" href="#">
									<div class="info">
										<h3 style="color: black;">World Class <br> Program</h3>
										<p style="  color: darkslategrey!important;  margin-bottom: 0;
										margin-top: 15px;">
		  
		  Developed by Ex Googler, this is one of the most comprehensive training programs
		  </p>
									</div>
								</a>
							</div>
							</div>
							<div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
							  <div style="border-radius: 10px;padding: 30px 30px;
							  background: #D6C2E5!important;" class="item torchred">
								<a class="info-box2" href="#">
									<div class="info">
										<h3 style="color: black;">Career <br> Oriented</h3>
										<p style="  color: darkslategrey!important;  margin-bottom: 0;
										margin-top: 15px;">
		  
		  
		  Provides practical learning so that you get job ready &amp; excel in the industry
		  <br class="d-none d-md-block"><br class="d-none d-md-block">
		  </p>
									</div>
								</a>
							</div>
							</div>
							<div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
							  <div style="   border-radius: 10px;padding: 30px 30px;
							  background: #D6C2E5!important;" class="item torchred">
								<a class="info-box2" href="#">
									<div class="info">
										<h3 style="color: black;">Global <br> Certifications</h3>
										<p style="  color: darkslategrey!important;  margin-bottom: 0;
										margin-top: 15px;">
		  
		  
		  Get globally recognised certifications from Google, HubSpot, Ads4Growth.
		  </p>
		  <br class="d-none d-md-block">
									</div>
								</a>
							</div>
							</div>
							<div class="col-lg-3 col-md-6 single-item d-flex align-items-stretch">
							  <div style="border-radius: 10px;padding: 30px 30px;
							  background: #D6C2E5!important;" class="item torchred">
								<a class="info-box2" href="#">
									<div class="info">
										<h3 style="color: black">Continuous <br> Learning</h3>
										<p style="  color: darkslategrey!important;  margin-bottom: 0;
										margin-top: 15px;">
		  
		  
		  Learn life long through our world class Learning Management System.
		  <br class="d-none d-md-block"><br class="d-none d-md-block">
		  </p>
									</div>
								</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		   </div>
		</div>
	 </section>
      <section class="tabs-section text-white">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-sm-5 col-lg-4">
				   <h2 style="color: black;" class="mb-3"><i>What we offer</i></h2>
                  <ul class="nav nav-tabs flex-column mb-3">
                     <li class="nav-item nav-item-1">
                        <a class="nav-link active show nav-link-1" data-toggle="tab" href="#tab-1">1. Free SEO Tools?</a>
                     </li>
                     <li class="nav-item nav-item-2">
                        <a class="nav-link nav-link-2" data-toggle="tab" href="#tab-2">2. Google Ads Simulator</a>
                     </li>
                     <li class="nav-item nav-item-3">
                        <a class="nav-link nav-link-3" data-toggle="tab" href="#tab-3">3. Jobs & Internship Offers</a>
                     </li>
                     <li class="nav-item nav-item-4">
                        <a class="nav-link nav-link-4" data-toggle="tab" href="#tab-4">4. Counselling Services</a>
                     </li>
                     <li class="nav-item nav-item-5">
                        <a class="nav-link nav-link-5" data-toggle="tab" href="#tab-5">5. Personal Branding Services</a>
                     </li>
                     <li class="nav-item nav-item-6">
                        <a class="nav-link nav-link-6" data-toggle="tab" href="#tab-6">6. Career Guidance</a>
                     </li>
					 <li class="nav-item nav-item-7">
                        <a class="nav-link nav-link-7" data-toggle="tab" href="#tab-7">7. Digital Marketing News</a>
                     </li>
					 <li class="nav-item nav-item-8">
                        <a class="nav-link nav-link-8" data-toggle="tab" href="#tab-8">8. Webinars Forums</a>
                     </li>
                  </ul>
               </div>
               <div class="col-sm-7 col-lg-8">
				<div id="demo" class="carousel slide" data-ride="carousel">

					<!-- Indicators -->
					<!-- <ul class="carousel-indicators">
					  <li data-target="#demo" data-slide-to="0" class="active"></li>
					  <li data-target="#demo" data-slide-to="1"></li>
					  <li data-target="#demo" data-slide-to="2"></li>
					  <li data-target="#demo" data-slide-to="3"></li>
					  <li data-target="#demo" data-slide-to="4"></li>
					  <li data-target="#demo" data-slide-to="5"></li>
					  <li data-target="#demo" data-slide-to="6"></li>
					  <li data-target="#demo" data-slide-to="7"></li>
					</ul> -->
				  
					<!-- The slideshow -->
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img src="/carouseldemo.png" alt="Los Angeles">
						<div class="carousel-caption">
							<h3>1</h3>
							<p>We had such a great time in LA!</p>
							<button style="background-color: #F6B443;  border-color: #F6B443; color: black;" class="btn btn-primary">Know more</button>
						  </div>  
					</div>
					<div class="carousel-item">
						<img src="/carouseldemo.png" alt="Los Angeles">
						<div class="carousel-caption">
							<h3>2</h3>
							<p>We had such a great time in LA!</p>
							<button style="background-color: #F6B443;  border-color: #F6B443; color: black;" class="btn btn-primary">Know more</button>
						  </div>  
					</div>
					<div class="carousel-item">
						<img src="/carouseldemo.png" alt="Los Angeles">
						<div class="carousel-caption">
							<h3>3</h3>
							<p>We had such a great time in LA!</p>
							<button style="background-color: #F6B443;  border-color: #F6B443; color: black;" class="btn btn-primary">Know more</button>
						  </div>  
					</div>
					<div class="carousel-item">
						<img src="/carouseldemo.png" alt="Los Angeles">
						<div class="carousel-caption">
							<h3>4</h3>
							<p>We had such a great time in LA!</p>
							<button style="background-color: #F6B443;  border-color: #F6B443; color: black;" class="btn btn-primary">Know more</button>
						  </div>  
					</div>
					<div class="carousel-item">
						<img src="/carouseldemo.png" alt="Los Angeles">
						<div class="carousel-caption">
							<h3>5</h3>
							<p>We had such a great time in LA!</p>
							<button style="background-color: #F6B443;  border-color: #F6B443; color: black;" class="btn btn-primary">Know more</button>
						  </div>  
					</div>
					<div class="carousel-item">
						<img src="/carouseldemo.png" alt="Los Angeles">
						<div class="carousel-caption">
							<h3>6</h3>
							<p>We had such a great time in LA!</p>
							<button style="background-color: #F6B443;  border-color: #F6B443; color: black;" class="btn btn-primary">Know more</button>
						  </div>  
					</div>
					<div class="carousel-item">
						<img src="/carouseldemo.png" alt="Los Angeles">
						<div class="carousel-caption">
							<h3>7</h3>
							<p>We had such a great time in LA!</p>
							<button style="background-color: #F6B443;  border-color: #F6B443; color: black;" class="btn btn-primary">Know more</button>
						  </div>  
					</div>
					<div class="carousel-item">
						<img src="/carouseldemo.png" alt="Los Angeles">
						<div class="carousel-caption">
							<h3>8</h3>
							<p>We had such a great time in LA!</p>
							<button style="background-color: #F6B443;  border-color: #F6B443; color: black;" class="btn btn-primary">Know more</button>
						  </div>  
					</div>
					</div>
				  
					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
					  <span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
					  <span class="carousel-control-next-icon"></span>
					</a>
				  
				  </div>
                  <!-- <div class="tab-content">
                     <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="feature-img">
                                 <img src="/images/user-img-3.jpg" alt="" class="img-fluid">
                              </div>
                           </div>
                           <div class="col-lg-8 details">
                              <h3 class="mt-3">What is Lorem Ipsum?</h3>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane" id="tab-2">
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="feature-img">
                                 <img src="/images/user-img-2.jpg" alt="" class="img-fluid">
                              </div>
                           </div>
                           <div class="col-lg-8 details">
                              <h3 class="mt-3">Why do we use it?</h3>
                              <p class="font-italic">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane" id="tab-3">
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="feature-img">
                                 <img src="/images/user-img-1.jpg" alt="" class="img-fluid">
                              </div>
                           </div>
                           <div class="col-lg-8 details">
                              <h3 class="mt-3">Why do we use it?</h3>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane" id="tab-4">
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="feature-img">
                                 <img src="/images/user-img-3.jpg" alt="" class="img-fluid">
                              </div>
                           </div>
                           <div class="col-lg-8 details">
                              <h3 class="mt-3">Where does it come from?</h3>
                              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane" id="tab-5">
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="feature-img">
                                 <img src="/images/user-img-2.jpg" alt="" class="img-fluid">
                              </div>
                           </div>
                           <div class="col-lg-8 details">
                              <h3 class="mt-3">Where can I get some?</h3>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane" id="tab-6">
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="feature-img">
                                 <img src="/images/user-img-1.jpg" alt="" class="img-fluid">
                              </div>
                           </div>
                           <div class="col-lg-8 details">
                              <h3 class="mt-3">Why do we use it?</h3>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                           </div>
                        </div>
                     </div>
					 <div class="tab-pane" id="tab-7">
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="feature-img">
                                 <img src="/images/user-img-1.jpg" alt="" class="img-fluid">
                              </div>
                           </div>
                           <div class="col-lg-8 details">
                              <h3 class="mt-3">Why do we use it?</h3>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                           </div>
                        </div>
                     </div>
					 <div class="tab-pane" id="tab-8">
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="feature-img">
                                 <img src="/images/user-img-1.jpg" alt="" class="img-fluid">
                              </div>
                           </div>
                           <div class="col-lg-8 details">
                              <h3 class="mt-3">Why do we use it?</h3>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                           </div>
                        </div>
                     </div>
                  </div> -->
               </div>
            </div>
         </div>
      </section>
      <div class="fun-factor-area overflow-hidden bg-gradient text-light default-padding">
        <div class="container">
            <div class="fun-fact-items text-center">
                <!-- Fixed BG -->
                <div class="fixed-bg contain" style="background-image: url(assets/img/map.svg);"></div>
                <!-- Fixed BG -->
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="34" data-speed="5000">34</div>
                                <div class="operator">K</div>
                            </div>
                            <span class="medium">Learners &amp; counting</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="144" data-speed="5000">144</div>
                                <!-- <div class="operator">K</div> -->
                            </div>
                            <span class="medium">Countries Represented</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="4.3" data-speed="5000">4.5</div>
                                <div class="operator">.5</div>
                                <div class="operator"></div>
                            </div>
                            <span class="medium">Average Rating</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="6" data-speed="5000">6</div>
                                <div class="operator"></div>
                            </div>
                            <span class="medium">Years & Counting</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-area carousel-shadow default-padding">
        <div class="container">
           <div class="row">
              <div class="col-lg-12">
                 <div class="site-heading text-center">
                    <h5>Testimonials</h5>
                    <h2>What People say about Our Training Program</h2>
                 </div>
              </div>
           </div>
        </div>
        <div class="container">
           <div class="testimonial-items text-center">
              <div class="row">
                 <div class="col-lg-12">
                    <div class="testimonials-carousel owl-carousel owl-theme">
                       
                       <div class="item">
                          <div class="icon">
                             <i class="flaticon-quotation"></i>
                          </div>
                          <div class="content">
                             <p>
                                I joined this course in October and its been an interesting journey. I have seen a lot of growth in my intellect and Understanding the digital Business after going through the course and now, I relate more to the ads which I see on my social media accounts and I truly relate to how this is getting monetized or this is getting targeted. It&#39;s been an immense learning experience for me.
    
    
                             </p>
                             <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i
                                   class="fas     fa-star"></i>
                             </div>
                          </div>
                          <div class="provider">
                             <div class="thumb">
                                <img src="/testimonials/vivek.jpg" alt="Thumb">
                             </div>
                             <div class="info">
                                <h5> Vivek Arora     </h5>
                                <span> VP Discovery Channel</span>
                             </div>
                          </div>
                       </div>
                       
                       <div class="item">
                          <div class="icon">
                             <i class="flaticon-quotation"></i>
                          </div>
                          <div class="content">
                             <p>
                                Upcoming E-commerce is related to Digital World so I need to draw to grow at a much faster Pace Which can only be achieved through Digital Transformation and This course helps me In achieving my goal. There is no feeling like we&#39;re sitting in a classroom and studying instead it&#39;s like we are just hanging out around, talking with our friends, discussing latest technology, latest trends over a cup of coffee. 
    
                             </p>
                             <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i
                                   class="fas     fa-star-half-alt"></i>
                             </div>
                          </div>
                          <div class="provider">
                             <div class="thumb">
                                <img src="/testimonials/rohit.jpg" alt="Thumb">
                             </div>
                             <div class="info">
                                <h5>Rohit Virmani</h5>
                                <span> Entrepreneur, owner, VP Spaces     </span>
                             </div>
                          </div>
                       </div>
                       
                       <div class="item">
                          <div class="icon">
                             <i class="flaticon-quotation"></i>
                          </div>
                          <div class="content">
                             <p>
                                Ms. Amitabh ( Lead Instructor) is with the Google background and actually has got his hand in this Business so he is able to take us through the entire Nuances, what is the Micro and Macro thing, how does this digital thing fit in this new age of Marketing. There are case studies, detailed Discussions. If you are really looking to learn Digital marketing, Then this the course for growing Forward.
    
                             </p>
                             <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i
                                   class="fas     fa-star"></i>
                             </div>
                          </div>
                          <div class="provider">
                             <div class="thumb">
                                <img src="/testimonials/abhijay.jpg" alt="Thumb">
                             </div>
                             <div class="info">
                                <h5>Abhijay Srivastava </h5>
                                <span> AGM Marketing, SquareYards</span>
                             </div>
                          </div>
                       </div>
                       
                       <div class="item">
                          <div class="icon">
                             <i class="flaticon-quotation"></i>
                          </div>
                          <div class="content">
                             <p>
                                Mr. Amitabh has vast experience in this field and he has worked himself with google for a decade and I think so even as a teacher, he comes across as a great companion and guide. I am still connected with him even though the course is over where I take tips from him or try to understand what more can be done besides what we are currently doing.
    
    
                             </p>
                             <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i
                                   class="fas     fa-star-half-alt"></i>
                             </div>
                          </div>
                          <div class="provider">
                             <div class="thumb">
                                <img src="/testimonials/anshuman.jpg" alt="Thumb">
                             </div>
                             <div class="info">
                                <h5>Anshuman Sinha</h5>
                                <span>Associate Director, Flipkart</span>
                             </div>
                          </div>
                       </div>
                       
                       <div class="item">
                          <div class="icon">
                             <i class="flaticon-quotation"></i>
                          </div>
                          <div class="content">
                             <p>
                                During this course itself, I have learned all aspects of Digital marketing like SEO, Google Analytics, social media marketing, and I see myself as a marketing professional in both Traditional and non-traditional marketing.
    
                             </p>
                             <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i
                                   class="fas     fa-star"></i>
                             </div>
                          </div>
                          <div class="provider">
                             <div class="thumb">
                                <img src="/testimonials/Vishal.jpg" alt="Thumb">
                             </div>
                             <div class="info">
                                <h5>Vishal Dilawari</h5>
                                <span>Marketing Manager, Better Life, Dubal</span>
                             </div>
                          </div>
                       </div>
                       
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div id="clients2" class="towardspaymentgateway categories-area  carousel-shadow thumb-cats section-bg default-padding bg-gray">
        <div class="container">
           <div class="row">
              <div class="col-lg-12">
                 <div class="site-heading text-center">
                   <h5>
                       Our community of program participants works at some of the top global companies.
     
                   </h5>
                    <h2>Our Participants are working here
     
                   </h2>
                 </div>
              </div>
           </div>
           <div class="row justify-content-center participantsdiv">
              <img src="participants.png" width="100%" class="d-none d-md-block" style="margin-bottom: 3%;" alt="">
              <div class="col-11">
                <img src="/participantsmobile.png" width="100%" class="d-md-none" alt="">
              </div>
            </div>
        </div>
     </div>
     <div class="why-choseus-area default-padding bottom-less">
        <div class="container">
                 <div class="row">
                    <div class="col-lg-12">
                       <div class="site-heading text-center">
                         <h5>
                          WE POWER THE DIGITAL MARKETING COURSES AVAILABLE HERE
                       </h5>
                          <h2>Our Training Partners
                         </h2>
                       </div>
                    </div>
                 </div>
              </div>
             <div class="container">
               <div class="row training-partners align-items-center">
                 <div class="col-md-4 mt-3 mt-md-0 training-partner-logo text-center"><img src="/img/training-partner/iis_logo (1).jpg" height="" width="100%"></div>
                 <div class="col-md-4 mt-3 mt-md-0 training-partner-logo text-center"><img src="/img/training-partner/Internshala.svg" height="" width="100%"></div>
                 <div class="col-md-4 mt-3 mt-md-0 training-partner-logo text-center"><img src="/img/training-partner/Udemy.svg" height="" width="100%"></div>
               </div>
             </div>
         </div>
     <div class="why-choseus-area bg-gray default-padding pt-3 bottom-less">
        <!-- End Fixed BG -->
        <div class="container-full">
            <div class="info">
                <div class="row justify-content-center align-items-center">
  
                    <div class="single-item thumb col-lg-5">
                        <div class="thumb-box">
                            <img src="/thumbnail.png" alt="Thumb">
                            <a href="https://www.youtube.com/watch?v=MCIFw0UrU0U" class="popup-youtube light video-play-button item-center">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 ">
                       <div class="site-heading text-center">
                           <h5>DISCOVER MORE ABOUT US
                          </h5>
                           <h2>Participants Speak
                          </h2>
                       </div>
                   </div>
  
                </div>
            </div>
        </div>
    </div>
	  <footer class="bg-dark text-light">
		<div class="container">
		   <div class="f-items default-padding">
			  <div class="row">
				 <div class="col-lg-3 col-md-6 item">
					<div class="f-item about">
					   <img style="width: 9rem;" src="/ampdigitalwhitelogo.png" alt="Logo">
					   <p style="color: white!important;">
						  AMP Digital runs and operates Ads4Growth.com which provides digital marketing
						  services and training.
					   </p>
					   <!-- <p class="text-italic">
		   Please write your email and get our amazing updates, news and support*
		   </p>
		   <div class="subscribe">
		   <form action="#">
			   <input type="email" placeholder="Enter your e-mail here" class="form-control" name="email">
			   <button type="submit"><i class="fa fa-paper-plane"></i></button>  
		   </form>
		   </div> -->
					</div>
				 </div>
				 <div class="col-lg-3 col-md-6 item">
					<div class="f-item link">
					   <h4 class="widget-title">Useful Links</h4>
					   <ul class="pl-1">
						  <li>
							 <a href="/">Home</a>
						  </li>
						  <li>
							 <a href="/about">About</a>
						  </li>
						  <li>
							 <a href="http://seotools.ampdigital.co/">SEO Tools</a>
						  </li>
						  <li>
							 <a href="/faq">FAQs, Help/Support</a>
						  </li>
					   </ul>
					</div>
				 </div>
				 <div class="col-lg-3 col-md-6 item">
					<div class="f-item link">
					   <h4 class="widget-title">Courses</h4>
					   <ul class="pl-1">
						  <li>
							 <a href="/courses/digital-marketing-course">Digital Marketing Course</a>
						  </li>
						  <li>
							 <a href="/courses/seo-workshop">SEO Workshop</a>
						  </li>
						  <li>
							 <a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA) Certification Course</a>
						  </li>
					   </ul>
					</div>
				 </div>
				 <div class="col-lg-3 col-md-6 item">
					<div class="f-item contact">
					   <h4 class="widget-title">Contact Info</h4>
					   <div class="address">
						  <ul class="pl-1">
							 <li>
								<strong>Registered Address:</strong> 403, Sovereign 1, Sohna Rd, Vatika
								City, Gurugram, Haryana 122018
							 </li>
							 <li>
								<strong>Contact:</strong> +919971060035
							 </li>
						  </ul>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
		<!-- Footer Bottom -->
		<div class="footer-bottom">
		   <div class="container">
			  <div class="row">
				 <div class="col-lg-6">
					<p style="color: white!important;"> Copyright 2021, <a href="/">AMP Digital</a></p>
				 </div>
				 <div class="col-lg-6 text-right link">
					<ul>
					   <li>
						  <a href="/termsofservice">Terms of Service</a>
					   </li>
					   <li>
						  <a href="/privacypolicy">Privacy Policy</a>
					   </li>
					</ul>
				 </div>
			  </div>
		   </div>
		</div>
		<!-- End Footer Bottom -->
	 </footer>
	  <script type="text/javascript">
	  $(document).ready(function(){
		$('.courses-carousel').owlCarousel({
            loop: true,
            nav: true,
            margin:30,
            dots: false,
            autoplay: false,
            items: 1,
            navText: [
                "<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 3,
                }
            }
        });
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			var target = $(e.target).attr("href") // activated tab
			const id = parseInt(target.split('-')[1])-1;
			$('.carousel').carousel(id);

		});
		$('.carousel').on('slide.bs.carousel', function onSlide (ev) {
			const id = ev.to%8+1;
			$('.nav-link-'+id).click();
			// $('.nav-link').removeClass('active').removeClass('show');
			// $('.nav-link-'+id).addClass('active show')
			// $('.nav-item-'+(ev.from+1).toString()).children('a').click();
		})
           /* ==================================================
            # Testimonials Carousel
         ===============================================*/
         $('.testimonials-carousel').owlCarousel({
            dots: true,
            loop: true,
            margin: 30,
            nav: true,
            navText: [
                "<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
            autoplay: true,
            responsive: {
                0: {
                    dotsEach: 1,
                    items: 1
                },
                600: {
                    dotsEach: 1,
                    items: 1
                },
                1000: {
                    dotsEach: 1,
                    items: 2
                }
            }
        });

	  })
	  $(function(){
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
             /* ==================================================
            # Youtube Video Init
         ===============================================*/
        $('.player').mb_YTPlayer();

        /* ==================================================
            # Magnific popup init
         ===============================================*/
         $(".popup-link").magnificPopup({
            type: 'image',
            // other options
        });

        $(".popup-gallery").magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            },
            // other options
        });

        $(".popup-youtube, .popup-vimeo, .popup-gmaps").magnificPopup({
            type: "iframe",
            mainClass: "mfp-fade",
            removalDelay: 160,
            preloader: false,
            fixedContentPos: false
        });

        $('.magnific-mix-gallery').each(function() {
            var $container = $(this);
            var $imageLinks = $container.find('.item');

            var items = [];
            $imageLinks.each(function() {
                var $item = $(this);
                var type = 'image';
                if ($item.hasClass('magnific-iframe')) {
                    type = 'iframe';
                }
                var magItem = {
                    src: $item.attr('href'),
                    type: type
                };
                magItem.title = $item.data('title');
                items.push(magItem);
            });

            $imageLinks.magnificPopup({
                mainClass: 'mfp-fade',
                items: items,
                gallery: {
                    enabled: true,
                    tPrev: $(this).data('prev-text'),
                    tNext: $(this).data('next-text')
                },
                type: 'image',
                callbacks: {
                    beforeOpen: function() {
                        var index = $imageLinks.index(this.st.el);
                        if (-1 !== index) {
                            this.goTo(index);
                        }
                    }
                }
            });
        });
            
          });
           /* ==================================================
            # Fun Factor Init
        ===============================================*/
        $('.timer').countTo();
        $('.fun-fact').appear(function() {
            $('.timer').countTo();
        }, {
            accY: -100
        });
	  </script>
   </body>
</html>