
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MVGP6ST2J1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-MVGP6ST2J1');
</script>
   <!-- ========== Meta Tags ========== -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="robots" content="all,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- ========== Page Title ========== -->
<title>Digital Marketing Training Courses | AMP Digital</title>
<meta property="og:title" content="Digital Marketing Training Courses, AMP Digital" />
<%if(referralcode!==""){%>
<meta property="og:url" content="https:www.ampdigital.co?code=<%=referralcode%>" />
<meta name="description"
 content="Digital Marketing courses & training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards.">
<meta property="og:description"
 content="Digital Marketing courses and training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards." />
<meta property="og:image" content="https://www.ampdigital.co/ogimages/DM2-01.png" />
<%}else{%>
<meta property="og:url" content="https:www.ampdigital.co" />
<meta name="description"
 content="Digital Marketing courses & training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards. ">
<meta property="og:description"
 content="Digital Marketing courses and training programs for students and working professionals. Get world class certifications and jobs and internships. Participate in contests and win awards. " />
<meta property="og:image" content="https://www.ampdigital.co/ogimages/DM2-01.png" />
<%}%>
<meta name="keywords" content="digital marketing training programs, digital marketing courses, jobs and internships, webinars, contests, quiz, digital skill building">
<meta property="og:type" content="blog" />
<meta name="robots" content="all,follow">
<meta name="apple-mobile-web-app-title" content="AMP Digital">
<link rel="shortcut icon" href="/logo-ampdigitalnet.png">  
   <!-- ========== Favicon Icon ========== -->
   <!-- ========== Start Stylesheet ========== -->
  
   <style>
     .courses-area .courses-items .info .price-rating{
       margin-bottom: 3px!important;
     }
     .courses-area .courses-items .info{
       position: absolute;
       top: 90%;
       width: 95%;
       height: 188px!important;
       left: 2.5%;
       z-index: 250;
       background: #FFFFFF;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
border-radius: 25px;
     }
     .owl-carousel.owl-drag .owl-item{
       margin-bottom: 205px!important;
     }
     .courses-area .courses-items .item, .owl-carousel .owl-item img {
      height: 158px;
    border-radius: 25px 25px 0px 0px;
     }
     @media only screen and (max-width: 600px) {
       .container-fluid2{
         padding-left: 1rem!important;
         padding-right: 1rem!important;
       }
}
@media only screen and (min-width: 768px) {
  .container-fluid2{
    padding-left: 5rem!important;    padding-right: 3rem!important;
margin-top: 3.5em!important;
       }
}
     .stats img{
       width: 3.8rem!important;
     }
     .statsp{
font-style: normal!important;
font-weight: 400!important;
font-size: 17px!important;
line-height: 119%!important;
/* or 26px */

text-align: center!important;
letter-spacing: 0.015em!important;

color: #000E24!important;

     }
     h4{
       margin-top: 11px!important;
       margin-bottom: 3px!important;
font-style: normal!important;
font-weight: bold!important;
font-size: 18px!important;
line-height: 113%!important;
/* or 25px */

text-align: center!important;
letter-spacing: 0.015em!important;

color: #000E24!important;
     }
     .bullet{
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 23px;            
            margin-left: 7px;
            color: #000E24;
     }
     nav.navbar.bootsnav ul.nav>li>a{
      color: #000E24!important;
      font-family: Poppins!important;
font-style: normal!important;
font-weight: normal!important;
font-size: 16px!important;
     }
      @media only screen and (max-width: 767px){
         .default-features-area.default-design {
            padding-top: 50px;
            padding-bottom: 0;
         }
      }
     
/*! CSS Used from: Embedded */
@media (min-width: 992px) {
footer .col-lg-3 {
 -ms-flex: 0 0 22%!important;
 ;flex: 0 0 22%!important;
 ;max-width: 22%!important;
}

footer .col-lg-6 {
 -ms-flex: 0 0 50%;
 flex: 0 0 45%;
 max-width: 45%;
}
}

footer ul {
padding-left: 0!important;
}

.bg-gradient {
background-image: linear-gradient( 97deg , rgba(106,78,119,.89) 36%, rgba(100,92,103,.89) 100%)!important;
background-color: rgba(100,92,103,.89)!important;
}

.heading-left h5 {
text-transform: uppercase;
color: #666666;
font-weight: 800;
margin-bottom: 25px;
display: inline-block;
z-index: 1;
position: relative;
padding-bottom: 24px;
}

.heading-left {
margin-bottom: 40px;
}

h5 {
font-size: 16px;
}

.heading-left h5::after {
position: absolute;
left: 0;
bottom: 0;
content: "";
height: 2px;
width: 50px;
background: #DB4437;
z-index: -1;
}

.heading-left h2 {
margin: 0;
font-weight: 700;
margin-top: -8px;
font-size: 36px;
}

.py-50 {
padding-top: 50px;
padding-bottom: 50px;
}

.fun-factor-area .fixed-bg {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
opacity: 0.7;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.fun-factor-area .fun-fact .timer {
display: inline-block;
font-size: 48px;
line-height: 1;
font-weight: 800;
position: relative;
z-index: 1;
}

.fun-factor-area .fun-fact .medium {
display: block;
margin-top: 15px;
font-weight: 500;
}

.fun-factor-area .fun-fact .counter {
position: relative;
}

.overflow-hidden {
overflow: hidden;
}

.bg-gradient {
background-image: linear-gradient( 97deg , rgba(203,1,43,1) 36%, rgba(255,25,73,1) 100%);
background-color: #DB4437;
}

.default-padding {
padding-top: 90px;
padding-bottom: 90px;
}

.default-padding {
position: relative;
}

.text-light {
color: #f8f9fa!important;
}

.overflow-hidden {
overflow: hidden!important;
}

.fun-factor-area .fun-fact .counter {
position: relative;
display: flex;
justify-content: center;
align-items: center;
font-size: 48px;
font-weight: 800;
line-height: 1;
}

.fun-factor-area .fun-fact .counter .operator {
font-size: 45px;
margin-left: 2px;
}

.site-heading {
margin-bottom: 30px;
margin-top: -5px;
}

.site-heading h5 {
color: #666666;
font-weight: 800;
text-transform: uppercase;
display: inline-block;
position: relative;
overflow: inherit;
}

h5 {
font-size: 16px;
margin-bottom: 15px;
}

.site-heading h2 {
display: block;
font-weight: 800;
padding-bottom: 20px;
margin-bottom: 0;
position: relative;
line-height: 1.4;
}

h2 {
font-size: 36px;
}

.site-heading h2::before {
background: #DB4437 none repeat scroll 0 0;
bottom: 0;
content: "";
height: 2px;
left: 5%;
margin-left: -25px;
position: absolute;
width: 40px;
}

.site-heading h2::after {
background: #DB4437 none repeat scroll 0 0;
bottom: 0;
content: "";
height: 2px;
left: 5%;
margin-left: 20px;
position: absolute;
width: 5px;
}

.site-heading2 h2::before {
left: 50%!important;
}

.site-heading2 h2::after {
left: 50%!important;
}

.video-play-button {
color: #DB4437;
font-size: 30px;
left: 50%;
padding-left: 7px;
position: absolute;
top: 50%;
transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
z-index: 1;
}

.video-play-button:before {
content: "";
position: absolute;
z-index: 0;
left: 50%;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
display: block;
width: 80px;
height: 80px;
background: #ffffff repeat scroll 0 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
-webkit-animation: pulse-border 1500ms ease-out infinite;
animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button i {
display: block;
position: relative;
z-index: 3;
color: #DB4437;
}

.video-play-button:after {
content: "";
position: absolute;
z-index: 1;
left: 50%;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
display: block;
width: 80px;
height: 80px;
background: #ffffff repeat scroll 0 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
transition: all 200ms;
-webkit-transition: all 200ms;
-moz-transition: all 200ms;
-ms-transition: all 200ms;
-o-transition: all 200ms;
}

.testimonial-words p {
margin-left: 10px;
margin-right: 10px;
}

.testimonial-words .description {
margin-left: 15px;
}

.leadinstructorimg {
margin-top: 55px;
}

@media (max-width: 575.98px) {
.mt-10 {
 margin-top: 10%!important;
}

.navbar-brand>img {
 display: initial;
 margin-top: .5rem;
 margin-left: 1rem;
 width: 5rem;
}
}

footer .item {
margin-top: 50px;
}

footer .f-items.default-padding {
padding-top: 70px;
}

footer .f-item.about {
padding-right: 30px;
}

footer .item img {
margin-bottom: 10px;
}

footer .item .widget-title {
margin-bottom: 12px;
font-weight: 800;
}

footer .item .link ul li {
margin-bottom: 15px;
padding-left: 15px;
position: relative;
}

footer .item .link ul li::after {
position: absolute;
left: 0;
top: 9px;
content: "";
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 6px solid #bcb3b3;
}

footer.bg-dark .item .link li a {
color: #cccccc;
}

footer .link li a:hover {
color: #DB4437;
}

footer .item .link li:last-child {
margin-bottom: 0;
}

footer .address li {
margin-bottom: 10px;
}

footer.bg-dark .address li {
color: #cccccc;
}

footer .address li:last-child {
margin-bottom: 0;
}

footer.bg-dark .address li strong {
color: #ffffff;
}

.footer-bottom {
padding: 30px 0;
border-top: 1px solid #e7e7e7;
background: #fafafa;
}

footer.bg-dark .footer-bottom {
border-top: 1px solid #000;
box-shadow: 1px 2px 3px rgba(0, 0, 0, .4), inset 0 1px 1px rgba(255, 255, 255, .2);
background: transparent;
}

.footer-bottom li {
display: inline-block;
}

.footer-bottom .text-right li {
margin-left: 20px;
}

.footer-bottom p {
margin: 0;
}

footer .f-items.default-padding {
padding-top: 70px;
}

.default-padding {
padding-top: 50px;
padding-bottom: 50px;
}

.default-padding {
position: relative;
}

.footer-bottom p {
margin: 0;
}

a {
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
text-decoration: none;
font-family: 'Manrope', sans-serif;
font-weight: 700;
}

a,a:active,a:focus,a:hover {
outline: none;
text-decoration: none;
color: #232323;
}

a,.btn,button {
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
outline: medium none;
}

@media (min-width: 992px) {
.col-lg-6 {
 -ms-flex: 0 0 50%;
 flex: 0 0 50%;
 max-width: 50%;
}
}

footer .item .link ul li {
margin-bottom: 15px;
padding-left: 15px;
position: relative;
}

footer .item {
margin-top: 50px;
}

footer .f-item.about {
padding-right: 30px;
}

footer .item img {
margin-bottom: 30px;
}

footer .item .link ul li {
margin-bottom: 15px;
padding-left: 15px;
position: relative;
}

footer.bg-dark .footer-bottom {
border-top: 1px solid #000;
box-shadow: 1px 2px 3px rgb(0 0 0 / 40%), inset 0 1px 1px rgb(255 255 255 / 20%);
background: transparent;
}

.footer-bottom {
padding: 30px 0;
border-top: 1px solid #e7e7e7;
background: #fafafa;
}

img {
border: none;
outline: none;
max-width: 100%;
}

img {
vertical-align: middle;
border-style: none;
}

.text-light h4,.text-light p,.text-light a {
color: #ffffff;
}

p {
color: #666666;
margin: 0 0 15px;
text-transform: none;
font-weight: 400;
}

footer .item .widget-title {
margin-bottom: 30px;
font-weight: 800;
}

ul {
margin: 0;
list-style-type: none;
}

.bg-dark {
background: #111d30!important;
}

@media only screen and (max-width: 768px) {
.g-recaptcha {
 transform: scale(0.7);
 transform-origin: 0 0;
}
}

.course .course-footer {
bottom: 2.55rem;
width: 77%;
position: absolute;
}

.course .course-body {
padding: 10px 30px;
margin-bottom: 3.55rem;
}

.btn-block {
display: block;
width: 100%;
}

body {
font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif!important;
}

.backgroundmobile {
height: 40rem;
background: url(https://www.ampdigital.co/homepagemobilebg.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.chat-widget-wrapper {
display: block;
width: 111px;
height: 62px;
position: fixed;
bottom: 20px;
right: 0;
cursor: pointer;
animation: all 2s linear;
z-index: 100;
}

.chat-widget-container {
position: absolute;
width: 111px;
right: 0;
bottom: 0;
padding: 10px;
background-color: #fff;
border-radius: 4px;
}

.chat-widget-container .chat-widget-text p {
margin: 0 auto;
color: grey;
margin-left: -5%;
font-size: small;
}

.chat-widget-container .chat-widget-text p.heading {
color: #00aeef;
font-weight: 600;
}

.chat-widget-avatar {
width: 55px;
height: 55px;
position: absolute;
top: -11px;
right: 0;
border: 4px solid #fff;
border-radius: 50%;
}

.chat-box-content {
height: 80%;
overflow-y: auto;
}

.chat-box-container {
position: absolute;
width: 300px;
height: 0;
background-color: #fff;
bottom: 10px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
overflow: hidden;
-webkit-transition: all .2s ease 0s;
-moz-transition: all .2s ease 0s;
-ms-transition: all .2s ease 0s;
-o-transition: all .2s ease 0s;
transition: all .2s ease 0s;
z-index: -1;
box-shadow: 2px 2px 2px 2px #aaa!important;
}

.chat-box-container .chat-box-nav {
background-color: #fff;
width: 100%;
height: 40px;
}

input::placeholder {
color: #ccc;
font-style: italic;
}

/*! CSS Used fontfaces */
@font-face {
font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;src:url(https://www.ampdigital.co/assets/fonts/fa-regular-400.eot);src:url(https://www.ampdigital.co/assets/fonts/fa-regular-400.eot#iefix) format("embedded-opentype"),url(https://www.ampdigital.co/assets/fonts/fa-regular-400.woff2) format("woff2"),url(https://www.ampdigital.co/assets/fonts/fa-regular-400.woff) format("woff"),url(https://www.ampdigital.co/assets/fonts/fa-regular-400.ttf) format("truetype"),url(https://www.ampdigital.co/assets/fonts/fa-regular-400.svg#fontawesome) format("svg");
}

@font-face {
font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;src:url(https://www.ampdigital.co/assets/fonts/fa-solid-900.eot);src:url(https://www.ampdigital.co/assets/fonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(https://www.ampdigital.co/assets/fonts/fa-solid-900.woff2) format("woff2"),url(https://www.ampdigital.co/assets/fonts/fa-solid-900.woff) format("woff"),url(https://www.ampdigital.co/assets/fonts/fa-solid-900.ttf) format("truetype"),url(https://www.ampdigital.co/assets/fonts/fa-solid-900.svg#fontawesome) format("svg");
}

@font-face {
font-family:'FontAwesome';src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;
}
      .backgroundmobile {
 height: 40rem;
 background: url(/homepagemobilebg.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.chat-widget-wrapper {
display: block;
width: 111px;
height: 62px;
position: fixed;
bottom: 20px;
right: 0;
cursor: pointer;
animation: all 2s linear;
z-index: 100;
}

.chat-widget-container {
position: absolute;
width: 111px;
right: 0;
bottom: 0;
padding: 10px;
background-color: #fff;
border-radius: 4px;
}

.chat-widget-container.open {
border-top-right-radius: 0;
border-top-left-radius: 0;
}

.chat-widget-container .chat-widget-text p {
margin: 0 auto;
color: grey;
margin-left: -5%;
font-size: small;
}

.chat-widget-container .chat-widget-text p.heading {
color: #00aeef;
font-weight: 600;
}

.chat-widget-avatar {
width: 55px;
height: 55px;
position: absolute;
top: -11px;
right: 0;
border: 4px solid #fff;
border-radius: 50%;
}

.chat-box-content {
height: 80%;
overflow-y: auto;
}

.chat-box-container {
position: absolute;
width: 300px;
height: 0;
background-color: #fff;
bottom: 10px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
overflow: hidden;
-webkit-transition: all .2s ease 0s;
-moz-transition: all .2s ease 0s;
-ms-transition: all .2s ease 0s;
-o-transition: all .2s ease 0s;
transition: all .2s ease 0s;
z-index: -1;
box-shadow: 2px 2px 2px 2px #aaa!important;
}

.chat-box-container.show {
overflow-y: auto;
bottom: 72px;
height: 75vh;
}

.chat-box-container .chat-box-nav {
background-color: #fff;
width: 100%;
height: 40px;
}

input#wisdom {
padding: 4px;
font-size: 1em;
width: 400px;
}

input::placeholder {
color: #ccc;
font-style: italic;
}

p.userRequest {
margin: 4px;
padding: 4px 10px 4px 10px;
border-radius: 4px;
min-width: 50%;
max-width: 85%;
float: left;
background-color: #f42434;
color: #fff;
}

p.lexResponse {
margin: 4px;
padding: 4px 10px 4px 10px;
border-radius: 4px;
text-align: right;
min-width: 50%;
max-width: 85%;
float: right;
background-color: #f8f8f8;
font-style: italic;
}

p.lexError {
margin: 4px;
padding: 4px 10px 4px 10px;
border-radius: 4px;
text-align: right;
min-width: 50%;
max-width: 85%;
float: right;
background-color: #f77;
}

.close {
float: right;
font-size: 1.5rem;
font-weight: 700;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .5;
}

.close:hover {
color: #000;
text-decoration: none;
}

.close:not(:disabled):not(.disabled):focus,.close:not(:disabled):not(.disabled):hover {
opacity: .75;
}

button.close {
padding: 0;
background-color: transparent;
border: 0;
}

a.close.disabled {
pointer-events: none;
}

.text-danger {
color: #dc3545!important;
}

a.text-danger:focus,a.text-danger:hover {
color: #a71d2a!important;
}
      .bg-gradient {
 background-image: linear-gradient( 
97deg
, rgba(106,78,119,.89) 36%, rgba(100,92,103,.89) 100%)!important;
 background-color: rgba(100,92,103,.89)!important;
}
       .bottom-info{
           margin-top: 14%;
       }
   </style>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NTJGZ4L');</script>
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
<link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" />
<!-- <link href="/assets/css/animate.css" rel="stylesheet" /> -->
<link href="/assets/css/bootsnav.css" rel="stylesheet" />
<link href="/assets/style.min.css" rel="stylesheet">
<link href="/assets/css/responsive.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<style>
  .nav.navbar.bootsnav{
    background-color: transparent!important;
  }
</style>
</head>
   <body>
       
         <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<div class="d-none d-md-block">
  <div class="row justify-content-md-center align-items-md-center" style="
  height: 50px;
  left: -2px;
  top: 0px;
  
  background: #4285F4;">
<p style="
height: 24px;
left: 349px;
top: 13px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;margin: 0!important;
/* identical to box height */

letter-spacing: 0.03em;

color: #FFFFFF;
">
Get 75% off on all our training programs. Use Coupon Code <span style="text-decoration: underline;">FREEDOM75</span>
</p>
<button class="d-none d-md-block" style="
width: 105px;
height: 30px;
left: 966px;
top: 10px;
color: #DB4437;
margin-left: 20px;
background: #FFFFFF;
border: 0.75px solid #463c3b!important;
box-sizing: border-box!important;
box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2)!important;
border-radius: 49.5px;">
Enroll Now
</button>
  </div>
</div>
<div class="d-md-none container">
  <div class="row justify-content-md-center align-items-md-center px-2" style="
  height: 50px;
  left: -2px;
  top: 0px;
  
  background: #4285F4;">
<p style="
height: 24px;
left: 349px;
top: 13px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;margin: 0!important;
/* identical to box height */

letter-spacing: 0.03em;

color: #FFFFFF;
">
Get 75% off on all our training programs. Use Coupon Code <span style="text-decoration: underline;">FREEDOM75</span>
</p>
<button class="d-none d-md-block" style="
width: 105px;
height: 30px;
left: 966px;
top: 10px;
color: #DB4437;
margin-left: 20px;
background: #FFFFFF;
border: 0.75px solid #463c3b!important;
box-sizing: border-box!important;
box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2)!important;
border-radius: 49.5px;">
Enroll Now
</button>
  </div>
</div>
  <div style="
  left: -2px;
  top: 50px;  
  background: linear-gradient(116.82deg, rgba(66, 133, 244, 0.25) 0%, #FFFFFF 50%);">
  <img src="/section-element.png" style="width: 9rem; position: absolute; bottom: -4.5rem; left: 0" alt="">
<header id="home">
  <!-- Start Navigation -->
  <div class="wrap-sticky mx-md-5" style="height: 91px;"><nav class="w-100 navbar navbar-default attr-border dark bootsnav on no-full">
     <div class="container-fluid">
        <!-- Start Header Navigation -->
        <div class="navbar-header row align-items-center ml-3">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
           <i class="fa fa-bars"></i>
           </button>
           <a class="navbar-brand" href="/">
           <img src="/ampdigitallogo.png" class="logo" alt="Logo">
           </a>
           <a class="navbar-brand" href="/">
           <img src="/ampdigitalgooglepartnerlogo.png" class="logo" alt="Logo">
           </a>
           <!-- <a href="/" class="navbar-brand">
              <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
              </a>
              <a href="/" class="navbar-brand">
              <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
              </a> -->
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
           <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
                 <ul class="dropdown-menu animated fadeOutUp" style="display: none; opacity: 1;">
                    <!-- <li><a href="index.html">Home Version One</a></li>
                       <li><a href="index-2.html">Home Version Two</a></li>
                       <li><a href="index-3.html">Home Version Three</a></li>
                       <li><a href="index-4.html">Home Version Four</a></li> -->
                    <li><a href="/courses/digital-marketing-course">Digital Marketing</a></li>
                    
                    <li><a href="/courses/seo-workshop">SEO Workshop</a></li>
<li><a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA) Certification Course</a></li>
                 </ul>
              </li>
              <li><a href="https://www.newsapp.io">News</a></li>
              <li><a href="/jobs/home">Jobs</a></li>
              <li><a href="/webinars">Webinars</a></li>
              <!-- <li><a href="/dashboard">Dashboard</a></li> -->
              <li><a href="/blogs">Blogs</a></li>
              <li><a href="/digital-marketing-community-forums">Forum</a></li>
              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools</a>
                 <ul class="dropdown-menu animated">
                    <li><a href="http://seotools.ampdigital.co/">SEO Tools</a></li>
                    <li><a href="/tools/google-ads-simulator">Google ads simulator</a></li>
                 </ul>
              </li>
              
              <li style=""><a class="btn" style="background: #FFFFFF;
                border: 0.75px solid #DB4437;
                padding: 7px 25px;

    margin-top: 27px;
    font-family: Poppins;
font-style: normal;
font-weight: 500;
text-transform: none!important;
font-size: 16px;
line-height: 24px;
border-radius: 49.5px;


color: #DB4437!important;


                box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);" href="/digital-marketing-community-forums">Sign in</a></li>

              <!-- <li class="dropdown">
                 <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Siddharth</a>
                 <ul class="dropdown-menu animated">
                    <li><a href="/logout">Logout</a></li>
                 </ul>
              </li> -->
              
           </ul>
        </div>
        <!-- /.navbar-collapse -->
     </div>
  </nav></div>
  <!-- End Navigation -->
</header>
<div class="container-fluid container-fluid2">
  <div class="row">
    <div class="col-md-7">
      <h1 style="font-style: normal!important;
      font-weight: bold!important;
      font-size: 46px!important;
      margin-top: 48px;
      line-height: 117%!important;      
      letter-spacing: 0.015em!important;
      color: #000E24!important;">
        Digital Marketing made easy.
      </h1>
      <p style="font-style: normal!important;
      font-weight: 500!important;
      font-size: 20px!important;
      line-height: 166.5%!important;     
      color: #000E24!important;">
World-class <span style="color: #4285F4">training programs</span> for students & working professionals <br> developed by <span style="color: #0F9D58">Amitabh Verma</span>, ex-Googler.
      </p>
      <div class="row ml-0">
        <div class="col-md-6">
          <div class="row align-items-center">
            <div><img src="/bulletblue.png" alt=""></div>
            <div class="bullet">Career Guidance & Placement Support</div>
          </div>
          <div class="row align-items-center mt-2">
            <div><img src="/bulletred.png" alt=""></div>
            <div class="bullet">Google, HubSpot Certifications</div>
          </div>
          <div class="row align-items-center mt-2">
            <div><img src="/bulletgreen.png" alt=""></div>
            <div class="bullet">SEO & Ad-Simulator Tools</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row align-items-center mt-2 mt-md-0">
            <div>
              <img class="d-none d-md-block" src="/bulletgreen.png" alt="">
              <img class="d-md-none" src="/bulletyellow.png" alt="">
            </div>
            <div class="bullet">Live Doubt Sessions</div>
          </div>
          <div class="row align-items-center mt-2">
            <div>
              <img class="d-none d-md-block" src="/bulletyellow.png" alt="">
              <img class="d-md-none" src="/bulletblue.png" alt="">
            </div>
            <div class="bullet">Industry-level Projects</div>
          </div>
          <div class="row align-items-center mt-2">
            <div>
              <img class="d-none d-md-block" src="/bulletblue.png" alt="">
              <img class="d-md-none" src="/bulletred.png" alt="">
            </div>
            <div class="bullet">Forum & Community</div>
          </div>
        </div>
      </div>
      <div class="enroll mt-3">
        <a class="btn btn-theme effect btn-sm mt-3" style="box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22)!important;
        padding: 18px 38px!important;
        border-radius: 49.5px!important;text-transform: none!important;font-size: 20px!important; font-weight: 500!important;" href="/courses/digital-marketing-course">Start Learning</a>
     </div>
    </div>
    <div class="col-md-4">
      <img src="/heroimage.png" width="100%" alt="">
    </div>
  </div>
  <div style="" class="row justify-content-center">
    <div class="col-md-10 stats">
      <div class="row justify-content-center">
        <div class="col-md-2 col-6 text-center">
          <img src="/stats1.png" alt="">
          <h4>60K+</h4>
          <p class="statsp">Learners</p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/stats2.png" alt="">
          <h4>144+</h4>
          <p class="statsp">Countries</p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/stats3.png" alt="">
          <h4>4.5</h4>
          <p class="statsp">Avg Rating</p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/stats4.png" alt="">
          <h4>7+</h4>
          <p class="statsp">Years</p>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
  <section class="courses-area tabs-section text-white">
		<div class="container">

		   <div style="margin-top: 75px;" class="text-center">
          <img src="/heading-element.png" alt="">
				  <h2 style="font-family: Poppins;
          font-style: normal;
          margin-top: 23px;
          font-weight: 600;
          font-size: 24px;
          line-height: 117%;
          /* identical to box height, or 28px */
          
          letter-spacing: 0.015em;
          " class="mb-3">Digital Marketing Courses</h2>
           <div class="row justify-content-center">
            <hr style="width: 346px;
          height: 0px;
          left: 545px;
          top: 3227px;
          text-align: center;
          
          border: 1px solid rgba(66, 133, 244, 0.2);">
          </div>
          <p style="font-family: Poppins;
          font-style: normal;
          margin-top: 33px;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.03em;
          
          color: #000E24;
          ">Multiple training programs for different skill levels and platforms.
          </p>
		   </div>
		</div>
		<div class="container-fluid container-fluid2" style="position: relative;">
      <img src="/section-element.png" style="width: 9rem; position: absolute; bottom: -4.5rem; right: 0;" alt="">

			<div class="row">
				<div class="col-sm-5 col-lg-4">
					<h5 style="font-style: normal!important;
          font-weight: 600!important;
          font-size: 18px!important;
          line-height: 117%!important;
          letter-spacing: 0.015em!important;
          color: #000E24!important;
          ">Introductor Courses For Beginners</h5>
				</div>
			</div>
            <div class="courses-items">
                <div class="courses-carousel owl-carousel owl-theme">
                    <!-- Single item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="/dmcourse.png" alt="Thumb">
                        </div>
                        
                        <div class="info">
                            <h5 style="margin-bottom: 2px;">
                                <a style="font-style: normal;
                                font-weight: 600;
                                font-size: 16px!important;
                                line-height: 146%;
                                /* or 23px */
                                
                                letter-spacing: 0.015em;
                                
                                color: #000E24;" href="#">Digital Marketing Training Program</a>
                            </h5>
                            <p style="font-style: normal;
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 18px;
                            /* identical to box height */
                            
                            letter-spacing: 0.03em;
                            
                            color: #000E24;">By Amitabh Verma, ex-Googler</p>
							<div class="price-rating">
                                <div style="font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 146%;
                                /* or 26px */
                                
                                letter-spacing: 0.015em;
                                
                                color: #000E24;
                                " class="price">
                                    ₹ 4,000
                                </div>
                            </div>
                            <a class="btn" style="
                            font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.035em;

color: #FFFFFF;
text-transform: none;
padding: 10px 20px;
                            height: 38px;
                            left: 120px;
                            top: 1515px;
                            
                            background: #DB4437;
                            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                            border-radius: 49.5px;
                            "  href="/courses/digital-marketing-course">Know More</a>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="/seocourse.png" alt="Thumb">
                        </div>
                        
                        <div class="info">
                            <h5 style="margin-bottom: 2px;">
                                <a style="font-style: normal;
                                font-weight: 600;
                                font-size: 16px!important;
                                line-height: 146%;
                                /* or 23px */
                                
                                letter-spacing: 0.015em;
                                
                                color: #000E24;" href="#">Search Engine Optimisation Course</a>
                            </h5>
                            <p style="font-style: normal;
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 18px;
                            /* identical to box height */
                            
                            letter-spacing: 0.03em;
                            
                            color: #000E24;">By Amitabh Verma, ex-Googler</p>
							<div class="price-rating">
                                <div style="font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 146%;
                                /* or 26px */
                                
                                letter-spacing: 0.015em;
                                
                                color: #000E24;
                                " class="price">
                                    ₹ 4,000
                                </div>
                            </div>
                            <a class="btn" style="
                            font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.035em;

color: #FFFFFF;
text-transform: none;
padding: 10px 20px;
                            height: 38px;
                            left: 120px;
                            top: 1515px;
                            
                            background: #DB4437;
                            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                            border-radius: 49.5px;
                            "  href="/courses/digital-marketing-course">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width: 1240px;
            height: 0px;
            /* left: 98px; */
            /* top: 2012px; */
            
            border: 1px solid rgba(66, 133, 244, 0.2);">
            <div class="row mt-3">
              <div class="col-sm-5 col-lg-4">
                <h5 style="font-style: normal!important;
                font-weight: 600!important;
                font-size: 18px!important;
                line-height: 117%!important;
                letter-spacing: 0.015em!important;
                color: #000E24!important;
                ">Google & Hubspot Certification Courses</h5>
              </div>
            </div>
                  <div class="courses-items">
                      <div class="courses-carousel owl-carousel owl-theme">
                          <div class="item">
                              <div class="thumb">
                                  <img src="/googleanalyticscourse.png" alt="Thumb">
                              </div>
                              
                              <div class="info">
                                  <h5 style="margin-bottom: 2px;">
                                      <a style="font-style: normal;
                                      font-weight: 600;
                                      font-size: 16px!important;
                                      line-height: 146%;
                                      /* or 23px */
                                      
                                      letter-spacing: 0.015em;
                                      
                                      color: #000E24;" href="#">Advanced Google Analytics & Blogging Course</a>
                                  </h5>
                                  <p style="font-style: normal;
                                  font-weight: 300;
                                  font-size: 12px;
                                  line-height: 18px;
                                  /* identical to box height */
                                  
                                  letter-spacing: 0.03em;
                                  
                                  color: #000E24;">By Amitabh Verma, ex-Googler</p>
                    <div class="price-rating">
                                      <div style="font-style: normal;
                                      font-weight: 600;
                                      font-size: 18px;
                                      line-height: 146%;
                                      /* or 26px */
                                      
                                      letter-spacing: 0.015em;
                                      
                                      color: #000E24;
                                      " class="price">
                                          ₹ 4,000
                                      </div>
                                  </div>
                                  <a class="btn" style="
                                  font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      /* identical to box height */
      
      letter-spacing: 0.035em;
      
      color: #FFFFFF;
      text-transform: none;
      padding: 10px 20px;
                                  height: 38px;
                                  left: 120px;
                                  top: 1515px;
                                  
                                  background: #DB4437;
                                  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                                  border-radius: 49.5px;
                                  "  href="/courses/digital-marketing-course">Know More</a>
                              </div>
                          </div>
                          <div class="item">
                              <div class="thumb">
                                  <img src="/googlesearch.png" alt="Thumb">
                              </div>
                              
                              <div class="info">
                                  <h5 style="margin-bottom: 2px;">
                                      <a style="font-style: normal;
                                      font-weight: 600;
                                      font-size: 16px!important;
                                      line-height: 146%;
                                      /* or 23px */
                                      
                                      letter-spacing: 0.015em;
                                      
                                      color: #000E24;" href="#">Google Search & Shopping Ads</a>
                                  </h5>
                                  <p style="font-style: normal;
                                  font-weight: 300;
                                  font-size: 12px;
                                  line-height: 18px;
                                  /* identical to box height */
                                  
                                  letter-spacing: 0.03em;
                                  
                                  color: #000E24;">By Amitabh Verma, ex-Googler</p>
                    <div class="price-rating">
                                      <div style="font-style: normal;
                                      font-weight: 600;
                                      font-size: 18px;
                                      line-height: 146%;
                                      /* or 26px */
                                      
                                      letter-spacing: 0.015em;
                                      
                                      color: #000E24;
                                      " class="price">
                                          ₹ 4,000
                                      </div>
                                  </div>
                                  <a class="btn" style="
                                  font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      /* identical to box height */
      
      letter-spacing: 0.035em;
      
      color: #FFFFFF;
      text-transform: none;
      padding: 10px 20px;
                                  height: 38px;
                                  left: 120px;
                                  top: 1515px;
                                  
                                  background: #DB4437;
                                  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                                  border-radius: 49.5px;
                                  "  href="/courses/digital-marketing-course">Know More</a>
                              </div>
                          </div>
                          <div class="item">
                            <div class="thumb">
                                <img src="/gogledisplay.png" alt="Thumb">
                            </div>
                            
                            <div class="info">
                                <h5 style="margin-bottom: 2px;">
                                    <a style="font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px!important;
                                    line-height: 146%;
                                    /* or 23px */
                                    
                                    letter-spacing: 0.015em;
                                    
                                    color: #000E24;" href="#">Google Display, Mobile & Youtube Ads</a>
                                </h5>
                                <p style="font-style: normal;
                                font-weight: 300;
                                font-size: 12px;
                                line-height: 18px;
                                /* identical to box height */
                                
                                letter-spacing: 0.03em;
                                
                                color: #000E24;">By Amitabh Verma, ex-Googler</p>
                  <div class="price-rating">
                                    <div style="font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 146%;
                                    /* or 26px */
                                    
                                    letter-spacing: 0.015em;
                                    
                                    color: #000E24;
                                    " class="price">
                                        ₹ 4,000
                                    </div>
                                </div>
                                <a class="btn" style="
                                font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.035em;
    
    color: #FFFFFF;
    text-transform: none;
    padding: 10px 20px;
                                height: 38px;
                                left: 120px;
                                top: 1515px;
                                
                                background: #DB4437;
                                box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                                border-radius: 49.5px;
                                "  href="/courses/digital-marketing-course">Know More</a>
                            </div>
                        </div>
                        <div class="item">
                          <div class="thumb">
                              <img src="/inbound.png" alt="Thumb">
                          </div>
                          
                          <div class="info">
                              <h5 style="margin-bottom: 2px;">
                                  <a style="font-style: normal;
                                  font-weight: 600;
                                  font-size: 16px!important;
                                  line-height: 146%;
                                  /* or 23px */
                                  
                                  letter-spacing: 0.015em;
                                  
                                  color: #000E24;" href="#">Inbound, Content & Email Marketing</a>
                              </h5>
                              <p style="font-style: normal;
                              font-weight: 300;
                              font-size: 12px;
                              line-height: 18px;
                              /* identical to box height */
                              
                              letter-spacing: 0.03em;
                              
                              color: #000E24;">By Amitabh Verma, ex-Googler</p>
                <div class="price-rating">
                                  <div style="font-style: normal;
                                  font-weight: 600;
                                  font-size: 18px;
                                  line-height: 146%;
                                  /* or 26px */
                                  
                                  letter-spacing: 0.015em;
                                  
                                  color: #000E24;
                                  " class="price">
                                      ₹ 4,000
                                  </div>
                              </div>
                              <a class="btn" style="
                              font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  
  letter-spacing: 0.035em;
  
  color: #FFFFFF;
  text-transform: none;
  padding: 10px 20px;
                              height: 38px;
                              left: 120px;
                              top: 1515px;
                              
                              background: #DB4437;
                              box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                              border-radius: 49.5px;
                              "  href="/courses/digital-marketing-course">Know More</a>
                          </div>
                      </div>
                      </div>
                  </div>
<hr style="width: 1240px;
height: 0px;
/* left: 98px; */
/* top: 2012px; */

border: 1px solid rgba(66, 133, 244, 0.2);">
                  <div class="row mt-3">
                    <div class="col-sm-5 col-lg-4">
                      <h5 style="font-style: normal!important;
                      font-weight: 600!important;
                      font-size: 18px!important;
                      line-height: 117%!important;
                      letter-spacing: 0.015em!important;
                      color: #000E24!important;
                      ">Social Media Marketing & Strategy Courses</h5>
                    </div>
                  </div>
                        <div class="courses-items">
                            <div class="courses-carousel owl-carousel owl-theme">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="/fbinsta.png" alt="Thumb">
                                    </div>
                                    
                                    <div class="info">
                                        <h5 style="margin-bottom: 2px;">
                                            <a style="font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px!important;
                                            line-height: 146%;
                                            /* or 23px */
                                            
                                            letter-spacing: 0.015em;
                                            
                                            color: #000E24;" href="#">Facebook & instagram Marketing</a>
                                        </h5>
                                        <p style="font-style: normal;
                                        font-weight: 300;
                                        font-size: 12px;
                                        line-height: 18px;
                                        /* identical to box height */
                                        
                                        letter-spacing: 0.03em;
                                        
                                        color: #000E24;">By Amitabh Verma, ex-Googler</p>
                          <div class="price-rating">
                                            <div style="font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 146%;
                                            /* or 26px */
                                            
                                            letter-spacing: 0.015em;
                                            
                                            color: #000E24;
                                            " class="price">
                                                ₹ 4,000
                                            </div>
                                        </div>
                                        <a class="btn" style="
                                        font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            /* identical to box height */
            
            letter-spacing: 0.035em;
            
            color: #FFFFFF;
            text-transform: none;
            padding: 10px 20px;
                                        height: 38px;
                                        left: 120px;
                                        top: 1515px;
                                        
                                        background: #DB4437;
                                        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                                        border-radius: 49.5px;
                                        "  href="/courses/digital-marketing-course">Know More</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <img src="/linkedintwitter.png" alt="Thumb">
                                    </div>
                                    
                                    <div class="info">
                                        <h5 style="margin-bottom: 2px;">
                                            <a style="font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px!important;
                                            line-height: 146%;
                                            /* or 23px */
                                            
                                            letter-spacing: 0.015em;
                                            
                                            color: #000E24;" href="#">Linkedin, Twitter, Quora & Pinterest Marketing</a>
                                        </h5>
                                        <p style="font-style: normal;
                                        font-weight: 300;
                                        font-size: 12px;
                                        line-height: 18px;
                                        /* identical to box height */
                                        
                                        letter-spacing: 0.03em;
                                        
                                        color: #000E24;">By Amitabh Verma, ex-Googler</p>
                          <div class="price-rating">
                                            <div style="font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 146%;
                                            /* or 26px */
                                            
                                            letter-spacing: 0.015em;
                                            
                                            color: #000E24;
                                            " class="price">
                                                ₹ 4,000
                                            </div>
                                        </div>
                                        <a class="btn" style="
                                        font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            /* identical to box height */
            
            letter-spacing: 0.035em;
            
            color: #FFFFFF;
            text-transform: none;
            padding: 10px 20px;
                                        height: 38px;
                                        left: 120px;
                                        top: 1515px;
                                        
                                        background: #DB4437;
                                        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                                        border-radius: 49.5px;
                                        "  href="/courses/digital-marketing-course">Know More</a>
                                    </div>
                                </div>
                                <div class="item">
                                  <div class="thumb">
                                      <img src="/sociallistening.png" alt="Thumb">
                                  </div>
                                  
                                  <div class="info">
                                      <h5 style="margin-bottom: 2px;">
                                          <a style="font-style: normal;
                                          font-weight: 600;
                                          font-size: 16px!important;
                                          line-height: 146%;
                                          /* or 23px */
                                          
                                          letter-spacing: 0.015em;
                                          
                                          color: #000E24;" href="#">Social Listening, ORM & Marketing Automation</a>
                                      </h5>
                                      <p style="font-style: normal;
                                      font-weight: 300;
                                      font-size: 12px;
                                      line-height: 18px;
                                      /* identical to box height */
                                      
                                      letter-spacing: 0.03em;
                                      
                                      color: #000E24;">By Amitabh Verma, ex-Googler</p>
                        <div class="price-rating">
                                          <div style="font-style: normal;
                                          font-weight: 600;
                                          font-size: 18px;
                                          line-height: 146%;
                                          /* or 26px */
                                          
                                          letter-spacing: 0.015em;
                                          
                                          color: #000E24;
                                          " class="price">
                                              ₹ 4,000
                                          </div>
                                      </div>
                                      <a class="btn" style="
                                      font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          /* identical to box height */
          
          letter-spacing: 0.035em;
          
          color: #FFFFFF;
          text-transform: none;
          padding: 10px 20px;
                                      height: 38px;
                                      left: 120px;
                                      top: 1515px;
                                      
                                      background: #DB4437;
                                      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                                      border-radius: 49.5px;
                                      "  href="/courses/digital-marketing-course">Know More</a>
                                  </div>
                              </div>
                              <div class="item">
                                <div class="thumb">
                                    <img src="/digitalstrategyAI.png" alt="Thumb">
                                </div>
                                
                                <div class="info">
                                    <h5 style="margin-bottom: 2px;">
                                        <a style="font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px!important;
                                        line-height: 146%;
                                        /* or 23px */
                                        
                                        letter-spacing: 0.015em;
                                        
                                        color: #000E24;" href="#">Digital Strategy, Growth Hacking & AI in Marketing</a>
                                    </h5>
                                    <p style="font-style: normal;
                                    font-weight: 300;
                                    font-size: 12px;
                                    line-height: 18px;
                                    /* identical to box height */
                                    
                                    letter-spacing: 0.03em;
                                    
                                    color: #000E24;">By Amitabh Verma, ex-Googler</p>
                      <div class="price-rating">
                                        <div style="font-style: normal;
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 146%;
                                        /* or 26px */
                                        
                                        letter-spacing: 0.015em;
                                        
                                        color: #000E24;
                                        " class="price">
                                            ₹ 4,000
                                        </div>
                                    </div>
                                    <a class="btn" style="
                                    font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height */
        
        letter-spacing: 0.035em;
        
        color: #FFFFFF;
        text-transform: none;
        padding: 10px 20px;
                                    height: 38px;
                                    left: 120px;
                                    top: 1515px;
                                    
                                    background: #DB4437;
                                    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22);
                                    border-radius: 49.5px;
                                    "  href="/courses/digital-marketing-course">Know More</a>
                                </div>
                            </div>
                            </div>
                        </div>
        </div>
	</section>
  <section class="courses-area tabs-section text-white">
		<div class="container">

		   <div style="margin-top: 75px;" class="text-center">
          <img src="/heading-element.png" alt="">
				  <h2 style="font-family: Poppins;
          font-style: normal;
          margin-top: 23px;
          font-weight: 600;
          font-size: 24px;
          line-height: 117%;
          /* identical to box height, or 28px */
          
          letter-spacing: 0.015em;
          " class="mb-3">Other Benefits for the Digital Marketing Community</h2>
           <div class="row justify-content-center">
            <hr style="width: 346px;
          height: 0px;
          left: 545px;
          top: 3227px;
          text-align: center;
          
          border: 1px solid rgba(66, 133, 244, 0.2);">
          </div>
		   </div>
		</div>
		<div class="container-fluid container-fluid2" style="position: relative;">
      <img src="/section-element.png" style="width: 9rem; position: absolute; bottom: -4.5rem; left: 0;" alt="">

		
        </div>
	</section>
  <section class="courses-area tabs-section text-white">
		<div class="container">

		   <div style="margin-top: 75px;" class="text-center">
          <img src="/heading-element.png" alt="">
				  <h2 style="font-family: Poppins;
          font-style: normal;
          margin-top: 23px;
          font-weight: 600;
          font-size: 24px;
          line-height: 117%;
          /* identical to box height, or 28px */
          
          letter-spacing: 0.015em;
          " class="mb-3">About the Lead Instructor</h2>
          <div class="row justify-content-center">
            <hr style="width: 346px;
          height: 0px;
          left: 545px;
          top: 3227px;
          text-align: center;
          
          border: 1px solid rgba(66, 133, 244, 0.2);">
          </div>
		   </div>
		</div>
    
		<div class="container-fluid container-fluid2" style="position: relative;">
      <div class="row">
        <div class="col-md-4">
          <img src="/amitabhleadinstructor.png" alt="">
        </div>
        <div class="col-lg-8 info text-left">
          <h2 style="font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 35px;
          line-height: 117%;
          /* identical to box height, or 41px */
          
          text-align: left;
          letter-spacing: 0.015em;
          
          color: #DB4437;">AMITABH VERMA</h2>
          <h5 style="font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 117%;
          /* identical to box height, or 28px */
          
          letter-spacing: 0.015em;
          
          color: #000E24;
          ">Founder, AMP Digital, Ex-Googler</h5>
          <p style="font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 173%;
          /* or 31px */
          
          letter-spacing: 0.015em;
          
          color: #000E24;">
            Amitabh Verma is the founder of AMP Digital and has seen the digital marketing industry evolve from a nascent stage when he was part of Google's leadership team in India from 2006 to 2013. Amitabh has worked with millions of advertisers while leading Google's Global SMB services team and has consulted with and trained hundreds of startups and MNCs while leading AMP Digital and Ads4growth teams. Amitabh is passionate about building the next generation of marketers and has been awarded with top 10.
          </p>
          <img src="/instructorelement.png" style="width: 9rem; position: absolute; top: 0rem; right: 0;" alt="">

          <p style="font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 173%;
          /* or 31px */
          
          letter-spacing: 0.015em;
          
          color: #000E24;">
            Amitabh distills decades of digital marketing experience into his training programs and presents information in a easy to understand way so that everyone can excel in this new age career.
          </p>
       </div>
      </div>
      <img src="/section-element.png" style="width: 9rem; position: absolute; bottom: -4.5rem; right: 0;" alt="">

		
        </div>
	</section>
	
	 <!-- End Footer-->
      <!-- jQuery Frameworks
         ============================================= -->
         <script src="/assets/js/jquery-1.12.4.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
         <script src="/assets/js/popper.min.js"></script>
         <script src="/assets/js/bootstrap.min.js"></script>
         <script src="/assets/js/jquery.appear.js"></script>
         <script src="/assets/js/jquery.easing.min.js"></script>
         <script src="/assets/js/jquery.magnific-popup.min.js"></script>
         <!-- <script src="/assets/js/modernizr.custom.13711.js"></script> -->
         <script src="/assets/js/owl.carousel.min.js"></script>
         <script src="/assets/js/wow.min.js"></script>
         <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
         <!-- <script src="/assets/js/progress-bar.min.js"></script> -->
         <!-- <script src="/assets/js/isotope.pkgd.min.js"></script> -->
         <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
         <script src="/assets/js/count-to.js"></script>
         <script src="/assets/js/YTPlayer.min.js"></script>
         <script src="/assets/js/jquery.nice-select.min.js"></script>
         <script src="/assets/js/loopcounter.js"></script>
         <script src="/assets/js/bootsnav.js"></script>
         <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
            integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
            crossorigin="anonymous" />
         <!-- <link href="/assets/css/themify-icons.css" rel="stylesheet" /> -->
         <script src="/assets/js/main.home.js"></script>
         <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
         <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
         <script src='https://www.google.com/recaptcha/api.js' async defer></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" integrity="sha512-0OCvzZyRsIJ9Rg7O1S+Wf9ucukmVhyOg3h5eBG05aeH4NjG78fCEaEX3ofvndmukzENiX24fK5X/jPr6Y8yIdg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" integrity="sha512-L/EyzxvZCddd652hKB4w2gEaZgCZSOaH0Ia6JoEGysTu27VnWvej5ipuBnru/iDhPWMO0AvwiVd0HHVUHWeDRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
   </body>
</html>