<!DOCTYPE html>
<html>

<head>
  <style>
    .highcharts-figure,
    .highcharts-data-table table {
      min-width: 310px;
      max-width: 800px;
      margin: 1em auto;
    }

    .modal-header,
    body {
      background: #f09433;
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
      color: white !important;
    }

    .media-body p {
      color: black !important;
    }


    .tox-statusbar {
      display: none !important;
    }

    .media-body h7 {
      color: grey !important;
    }

    .card{
      box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
    border-radius: 18px;
    color: black !important;
    }

    .nav-link,
    .nav-link:hover {
      color: white;
    }

    .modal-body {
      text-align: center !important;
    }

    #container {
      height: 400px;
    }

    .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #EBEBEB;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
    }

    .highcharts-data-table caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #555;
    }

    .highcharts-data-table th {
      font-weight: 600;
      padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
      padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
      background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
      background: #f1f7ff;
    }
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.card {
    border: none
}

.ellipsis {
    color: #a09c9c
}

hr {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px
}

.muted-color {
    color: #a09c9c;
    font-size: 13px
}

.ellipsis i {
    margin-top: 3px;
    cursor: pointer
}

.icons i {
    font-size: 25px
}

.icons .fa-heart {
    color: red
}

.icons .fa-smile-o {
    color: yellow;
    font-size: 29px
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.name {
    font-weight: 600
}

.comment-text {
    font-size: 12px
}

.status small {
    margin-right: 10px;
    color: blue
}

.form-control {
    border-radius: 26px
}

.comment-input {
    position: relative
}

.fonts {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #a09c9c
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}
  </style>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.tiny.cloud/1/p3xtdoxi23cfexdu4l88fs1bjznqc3vq0nmi63mf5vugszl8/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tag-editor/1.0.20/jquery.tag-editor.min.js"
    integrity="sha512-wexRM3SVzXnR9XDRR32JUDTyDZP3XGAsrsbVl+rBMupJsHZqbUCBMxVHDDzCpvKVhJqerRYoInsRA2ySEzpYLg=="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tag-editor/1.0.20/jquery.tag-editor.css"
    integrity="sha512-FILySSY3nAOje2KkIZUxajmYnEDpcPsSjvTSBlo9jHsMXbtNongJIh75cRp9jsG5R1GYO8fYRWQ66FLbSZfTGA=="
    crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/caret/1.3.7/jquery.caret.min.js"
    integrity="sha512-DR6H+EMq4MRv9T/QJGF4zuiGrnzTM2gRVeLb5DOll25f3Nfx3dQp/NlneENuIwRHngZ3eN6w9jqqybT3Lwq+4A=="
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- The Modal -->
  <div class="modal" id="mediainsightsModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title mediainsightsTitle">Media (<span style="text-transform: lowercase;"
              class="mediatype1"></span>) Insights:</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body mediainsightsModalbody">
          <div class="card m-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightTitle1"></h4>
              <p class="card-text "><span id="mediaInsightDescription1"></span>: <span
                  id="mediainsightsEngagement"></span></p>
            </div>
          </div>
          <div class="card m-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightTitle2"></h4>
              <p class="card-text "><span id="mediaInsightDescription2"></span>: <span
                  id="mediainsightsImpressions"></span></p>
            </div>
          </div>
          <div class="card m-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightTitle3"></h4>
              <p class="card-text "><span id="mediaInsightDescription3"></span>: <span id="mediainsightsReach"></span>
              </p>
            </div>
          </div>
          <div class="card m-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightTitle4"></h4>
              <p class="card-text "><span id="mediaInsightDescription4"></span>: <span id="mediainsightsSaved"></span>
              </p>
            </div>
          </div>
          <div class="card m-2 videocard">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightTitle5"></h4>
              <p class="card-text "><span id="mediaInsightDescription5"></span>: <span
                  id="mediainsightsVideoViews"></span></p>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal" id="storymediainsightsModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title mediainsightsTitle">Media (<span style="text-transform: lowercase;"
              class="mediatype1"></span>) Insights:</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body mediainsightsModalbody storycards">
          
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal" id="mediainsightsModalCarousel">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title mediainsightsTitle">Media (<span style="text-transform: lowercase;"
              class="mediatype2"></span>) Insights:</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body mediainsightsModalbody">
          <div class="card m-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightCarouselTitle1"></h4>
              <p class="card-text "><span id="mediaInsightCarouselDescription1"></span>:</p>
              <p class="mediaInsightsCarouselEngagement"></p>
            </div>
          </div>
          <div class="card m-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightCarouselTitle2"></h4>
              <p class="card-text "><span id="mediaInsightCarouselDescription2"></span>:</p>
              <p class="mediaInsightsCarouselImpressions"></p>
            </div>
          </div>
          <div class="card m-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightCarouselTitle3"></h4>
              <p class="card-text "><span id="mediaInsightCarouselDescription3"></span>:</p>
              <p id="mediainsightsCarouselReach"></p>
            </div>
          </div>
          <div class="card m-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightCarouselTitle4"></h4>
              <p class="card-text "><span id="mediaInsightCarouselDescription4"></span>:</p>
              <p id="mediainsightsCarouselSaved"></p>
            </div>
          </div>
          <div class="card m-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
              <h4 class="card-title text-center" id="mediaInsightCarouselTitle5"></h4>
              <p class="card-text "><span id="mediaInsightCarouselDescription5"></span>:</p>
              <p id="mediainsightsCarouselVideoViews"></p>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <!-- The Modal -->
  <div class="modal" id="replyModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Reply</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="/action_page.php">
            <div class="form-group">
              <label for="mytextarea">Reply:</label>
              <textarea class="form-control mytextarea" name="reply" rows="5" id="mytextarea"></textarea>
            </div>
            <button type="submit" class="btn btn-primary submitreply">Submit</button>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="text-center">ampdigital.co Instagram Insights & Online Reputation Management</h2>
    </div>
    <!-- Nav pills -->
    <div class="row justify-content-center">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#home">Your account Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu1">Your Media Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu4">Your Story Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu2">Who is talking about you</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu3">Hashtags</a>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="home">
        <div class="row text-center justify-content-center">
          <div class="col"><span style="font-weight: bold;">Followers Count</span>: <p id="followers_count"></p>
          </div>
        </div>
        <div class="card m-2">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
          <div class="card-body">
            <h4 class="card-title text-center">Audience town/city</h4>
            <figure class="highcharts-figure">
              <div id="container"></div>
            </figure>
          </div>
        </div>
        <div class="card m-2">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
          <div class="card-body">
            <h4 class="card-title text-center">Audience country</h4>
            <figure class="highcharts-figure">
              <div id="container2"></div>
            </figure>
          </div>
        </div>
        <div class="card m-2">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
          <div class="card-body">
            <h4 class="card-title text-center">Gender and age</h4>
            <figure class="highcharts-figure">
              <div id="container3"></div>
            </figure>
          </div>
        </div>
        <div class="card m-2">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
          <div class="card-body">
            <h4 class="card-title text-center">Impressions</h4>
            <figure class="highcharts-figure">
              <div id="container4"></div>
            </figure>
          </div>
        </div>
        <div class="card m-2">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
          <div class="card-body">
            <h4 class="card-title text-center">Reach</h4>
            <figure class="highcharts-figure">
              <div id="container5"></div>
            </figure>
          </div>
        </div>
        <div class="card m-2">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
          <div class="card-body">
            <h4 class="card-title text-center">Website clicks</h4>
            <figure class="highcharts-figure">
              <div id="containerwebsite_clicks"></div>
            </figure>
          </div>
        </div>
        <div class="card m-2">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
          <div class="card-body">
            <h4 class="card-title text-center">Phone call clicks</h4>
            <figure class="highcharts-figure">
              <div id="containerphone_call_clicks"></div>
            </figure>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="menu1">
        <div class="m-2">
          <h4 class="text-center" id="medialistscrollhere">Social interaction metrics on an your Photo, Video, Story,
            or Carousels.
          </h4>
          <div id="medialist" class="row d-flex align-items-center justify-content-center">
          </div>
          <div class="row justify-content-center">
            <div class="col-md-4 row">
              <div class="col">
                <button style="color: white;" class="btn prevmedialist" data-before="">Prev</button>
              </div>
              <div class="col">
                <button style="color: white;" class="btn nextmedialist" data-after="">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="menu4">
        <div class="card m-2">
          <div class="card-body">
            <h4 class="text-center">Story Insights
            </h4>
            <p style="font-size: small;" class="text-center">Note: Stories insights are only available for 24 hours, even if the stories are archived or highlighted. </p>
            <div id="storylist"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="menu2">
          <div class="m-2">
            <h4 class="text-center" id="taglistscrollhere">Who is talking about you?</h4>
            <div id="taglist" class="row d-flex align-items-center justify-content-center">
            </div>
            <div class="row justify-content-center">
              <div class="col-md-4 row">
                <div class="col">
                  <button style="color: white;" class="btn prevtaglist" data-before="">Prev</button>
                </div>
                <div class="col">
                  <button style="color: white;" class="btn nexttaglist" data-after="">Next</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="tab-pane container fade mt-3" id="menu3">
        <p style="font-size: small;">Add hashtags here. Note: You can query a maximum of 30 unique hashtags on behalf of an Instagram Business or Creator Account within a rolling, 7 day period. Once you query a hashtag, it will count against this limit for 7 days. Subsequent queries on the same hashtag within this time frame will not count against your limit, and will not reset its initial query 7 day timer.</p>
        <input class="mt-3" type="text" id="tagsinput" />
        <select name="" id="tagsinputoptions" class="mt-4"></select>
        <!-- Nav tabs -->
<ul class="nav nav-tabs mt-3">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#topmedia">Top Media</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#recentmedia">Recent Media</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="topmedia">
    <div class="m-2">
        <h4 class="text-center" id="topmediahashtaglistscrollhere">Top Media #<span class="currenthashtag"></span></h4>
        <div id="topmediahashtaglist" class="row d-flex align-items-center justify-content-center">
        </div>
        <div class="row justify-content-center">
            <button style="color: white;" class="btn nexttopmediahashtaglist" data-hashtagid="" data-after="">Next</button>
        </div>
    </div>
  </div>
  <div class="tab-pane container fade" id="recentmedia">
    <div class="m-2">
        <h4 class="text-center" id="recenthashtaglistscrollhere">Recent Media #<span class="currenthashtag"></span></h4>
        <div id="recenthashtaglist" class="row d-flex align-items-center justify-content-center">
        </div>
        <div class="row justify-content-center">
            <button style="color: white;" class="btn nextrecenthashtaglist" data-hashtagid="" data-after="">Next</button>
        </div>
      </div>
    </div>
</div>
      </div>
    </div>
  </div>
</body>
<script>
  function compare( a, b ) {
  if ( a.count < b.count ){
    return 1;
  }
  if ( a.count > b.count ){
    return -1;
  }
  return 0;
}
  function renderMedia(instagram_business_account_id, access_token, before = "", after = "") {
    var extraparams = "";
    if (before !== "") {
      extraparams = extraparams + `&before=${before}`;
    }
    else if (after !== "") {
      extraparams = extraparams + `&after=${after}`;
    }
    FB.api(`/${instagram_business_account_id}/media?fields=caption,timestamp,username,permalink,like_count,media_type,media_url,comments{text,timestamp,username,replies{like_count,media,text,timestamp,username},like_count},thumbnail_url&pretty=0&limit=10${extraparams}`, {
      access_token: access_token
    }, function (response) {
      // console.log(response.data);
      console.log(`/${instagram_business_account_id}/media?fields=caption,timestamp,username,permalink,like_count,media_type,media_url,comments{text,timestamp,username,replies{like_count,media,text,timestamp,username},like_count},thumbnail_url&pretty=0&limit=10${extraparams}`);
      let medialist = "";
      medialist = "";
      for (const media of response.data) {
        let commentlist = "";
        if (media.comments) {
          for (const comment of media.comments.data) {
            let replieslist = ""
            if (comment.replies) {
              for (const reply of comment.replies.data) {
                replieslist = replieslist + `<hr>
                <div class="comments ml-5">
                        <div class="d-flex flex-row mb-2"> 
                            <div class="d-flex flex-column ml-2"> <span class="name">${reply.username}</span> <small class="comment-text">${reply.text}</small>
                                <div class="d-flex flex-row align-items-center"><small>Posted on ${moment(new Date(reply.timestamp)).format("DD MMM YYYY")}</small> </div>
                                <p class="mb-0" style="font-size:small;">Sentiment Score: <span class="text-success comment_${reply.id}"></span> </p>
                          <div class="row ml-1">
                            <a class="comment-reply mr-2" data-text="${reply.text}"" data-id="${reply.id}" href="#"><span><i class="fa fa-reply"></i> reply</span></a>
                          <a class="delete-reply" data-id="${reply.id}" href="#"><span><i class="fa fa-trash"></i> delete</span></a>
                            </div>
                            </div>
                        </div>
                    </div>`
                   
              };
            }
          
                  commentlist = commentlist + `
                  <div class="comments">
                        <div class="d-flex flex-row mb-2"> 
                            <div class="d-flex flex-column ml-2"> <span class="name">${comment.username}</span> <small class="comment-text">${comment.text}</small>
                                <div class="d-flex flex-row align-items-center"><small>Posted on ${moment(new Date(comment.timestamp)).format("DD MMM YYYY")}</small> </div>
                                <p class="mb-0" style="font-size:small;">Sentiment Score: <span class="comment_${comment.id}"></span> </p>
                      <div class="row ml-1">
                        <a class="comment-reply mr-2" data-text="${comment.text}" data-id="${comment.id}" href="#"><span><i class="fa fa-reply"></i> reply</span></a>
                      <a class="delete-reply" data-id="${comment.id}" href="#"><span><i class="fa fa-trash"></i> delete</span></a>
                        </div>
                            </div>
                        </div>
                    </div>
                    ${replieslist}
                  `
          };
        }

      medialist = medialist + `
        <div class="col-md-10 card2 card mt-4">
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> 
                        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">${media.username}</span>
                          </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis align-items-center"> <small class="mr-2">${moment(new Date(media.timestamp)).format("DD MMM YYYY")}</small>
                      <button data-media_type="${media.media_type}" data-id="${media.id}" data-caption="${media.caption}" class="btn btn-info viewmediainsights"> View Insights </button>

                      </div>
                </div> 
                <div class="p-2">
                  <div class="row">
                    ${media.media_type == "CAROUSEL_ALBUM" ? `<a class="img-fluid col-md-6" width="100%" style="height: 450px;" href="${media.media_url}" target="_blank"><img src="${media.media_url ? media.media_url : "https://i.imgur.com/UXdKE3o.jpg"}" class="img-fluid" width="100%"></a>` : "" }
                    ${media.media_type == "IMAGE" ? `<img src="${media.media_url ? media.media_url : "https://i.imgur.com/UXdKE3o.jpg"}" class="img-fluid col-md-6" width="100%" style="height: 450px;">` : "" }
                    ${media.media_type == "VIDEO" ? `<div class="col-md-6"><iframe width="100%" height="450" src="${media.media_url}"></iframe></div>` : "" }
                  <div class="col-md-6" style="height: 450px;overflow: scroll;">  
                    <a href="${media.permalink}" target="_blank">
                  <p class="text-justify">${media.caption}</p>
                  </a>
                    <hr>
                    ${commentlist}
                  </div>
                    </div>
                </div>
        </div>`
      }
      $("#medialist").html(medialist);
      let commentdata = [];
      $(".comment-reply").each(function () {
        commentdata.push({
          id: $(this).data("id"),
          text: $(this).data("text")
        })
      })
      $.ajax({
        type: 'POST',
        url: "/bot",
        dataType: 'json',
        data: {
          commentdata: JSON.stringify(commentdata)
        },
        success: function (resultData) {
          for (const comment of resultData) {
            // alert("comment_"+comment.id)
            $(".comment_" + comment.id).html(comment.score.toFixed(2) + "%");
            if (comment.score > 0) {
              $(".comment_" + comment.id).addClass("text-success");
            }
            else if (comment.score == 0) {
              $(".comment_" + comment.id).addClass("text-secondary");
            }
            else if (comment.score < 0) {
              $(".comment_" + comment.id).addClass("text-danger");
            }
          }
        }
      });
      if (response.paging.cursors.before) {
        $(".prevmedialist").data('before', response.paging.cursors.before)
      }
      if (response.paging.cursors.after) {
        $(".nextmedialist").data('after', response.paging.cursors.after)
      }

      $(".viewmediainsights").on("click", function () {
        if ($(this).data("media_type") == "IMAGE") {
          var el = $(this);
          FB.api(`/${$(this).data("id")}/insights?metric=engagement,impressions,reach,saved`, {
            access_token: access_token
          }, function (response) {
            $("#mediainsightsModal").modal("toggle");
            $(".mediatype1").html(el.data("media_type"));
            $("#mediaInsightTitle1").html(response.data[0]["title"])
            $("#mediaInsightTitle2").html(response.data[1]["title"])
            $("#mediaInsightTitle3").html(response.data[2]["title"])
            $("#mediaInsightTitle4").html(response.data[3]["title"])
            $("#mediaInsightDescription1").html(response.data[0]["description"])
            $("#mediaInsightDescription2").html(response.data[1]["description"])
            $("#mediaInsightDescription3").html(response.data[2]["description"])
            $("#mediaInsightDescription4").html(response.data[3]["description"])
            $("#mediainsightsEngagement").html(response.data[0]["values"][0]["value"])
            $("#mediainsightsImpressions").html(response.data[1]["values"][0]["value"])
            $("#mediainsightsReach").html(response.data[2]["values"][0]["value"])
            $("#mediainsightsSaved").html(response.data[3]["values"][0]["value"])
            $(".videocard").addClass("d-none");
          });
        }
        else if ($(this).data("media_type") == "VIDEO") {
          var el = $(this);
          FB.api(`/${$(this).data("id")}/insights?metric=engagement,impressions,reach,saved,video_views`, {
            access_token: access_token
          }, function (response) {
            $("#mediainsightsModal").modal("toggle");
            $(".mediatype1").html(el.data("media_type"));
            $("#mediaInsightTitle1").html(response.data[0]["title"])
            $("#mediaInsightTitle2").html(response.data[1]["title"])
            $("#mediaInsightTitle3").html(response.data[2]["title"])
            $("#mediaInsightTitle4").html(response.data[3]["title"])
            $("#mediaInsightTitle5").html(response.data[4]["title"])
            $("#mediaInsightDescription1").html(response.data[0]["description"])
            $("#mediaInsightDescription2").html(response.data[1]["description"])
            $("#mediaInsightDescription3").html(response.data[2]["description"])
            $("#mediaInsightDescription4").html(response.data[3]["description"])
            $("#mediaInsightDescription5").html(response.data[4]["description"])
            $("#mediainsightsEngagement").html(response.data[0]["values"][0]["value"])
            $("#mediainsightsImpressions").html(response.data[1]["values"][0]["value"])
            $("#mediainsightsReach").html(response.data[2]["values"][0]["value"])
            $("#mediainsightsSaved").html(response.data[3]["values"][0]["value"])
            $("#mediainsightsVideoViews").html(response.data[4]["values"][0]["value"])
            $(".videocard").removeClass("d-none");
          });
        }
        else if ($(this).data("media_type") == "CAROUSEL_ALBUM") {
          var el = $(this);
          FB.api(`/${$(this).data("id")}/insights?metric=carousel_album_engagement,carousel_album_impressions,carousel_album_reach,carousel_album_saved,carousel_album_video_views`, {
            access_token: access_token
          }, function (response) {
            $("#mediainsightsModalCarousel").modal("toggle");
            $(".mediatype2").html(el.data("media_type"));
            $("#mediaInsightCarouselTitle1").html(response.data[0]["title"])
            $("#mediaInsightCarouselTitle2").html(response.data[1]["title"])
            $("#mediaInsightCarouselTitle3").html(response.data[2]["title"])
            $("#mediaInsightCarouselTitle4").html(response.data[3]["title"])
            $("#mediaInsightCarouselTitle5").html(response.data[4]["title"])
            $("#mediaInsightCarouselDescription1").html(response.data[0]["description"])
            $("#mediaInsightCarouselDescription2").html(response.data[1]["description"])
            $("#mediaInsightCarouselDescription3").html(response.data[2]["description"])
            $("#mediaInsightCarouselDescription4").html(response.data[3]["description"])
            $("#mediaInsightCarouselDescription5").html(response.data[4]["description"])
            $(".mediainsightsCarouselEngagement").html(response.data[0]["values"][0]["value"])
            $(".mediainsightsCarouselImpressions").html(response.data[1]["values"][0]["value"])
            $("#mediainsightsCarouselReach").html(response.data[2]["values"][0]["value"])
            $("#mediainsightsCarouselSaved").html(response.data[3]["values"][0]["value"])
            $("#mediainsightsCarouselVideoViews").html(response.data[4]["values"][0]["value"])
          });
        }
      })

      $(".viewstorymediainsights").on("click", function () {
        if ($(this).data("media_type") == "IMAGE") {
          var el = $(this);
          FB.api(`/${$(this).data("id")}/insights?metric=exits,impressions,reach,replies,taps_forward,taps_back`, {
            access_token: access_token
          }, function (response) {
            console.log("story media insights");
            console.log(response);
            let storycards = ``;
            if(!response.error){
              for(const insight of response.data){
                storycards = storycards + `
                <div class="card m-2">
                  <div class="card-body">
                    <h4 class="card-title text-center" id="mediaInsightTitle1">${insight.title}</h4>
                    <p class="card-text "><span class="mediaInsightDescription1">${insight.description}</span>: <span>${insight["values"][0]["value"]}</span></p>
                  </div>
                </div>
                `
              }
            }
            $(".storycards").html(storycards);
            $(".mediatype1").html(el.data("media_type"));
            $("#storymediainsightsModal").modal("toggle");
          });
        }
      })


      $(".comment-reply").off("click").on("click", function (e) {
        e.preventDefault();

        $(".submitreply").data("id", $(this).data("id"))

        $("#replyModal").modal("toggle");
        tinymce.init({
          selector: "#mytextarea",
          plugins: "emoticons",
          toolbar: "emoticons",
          toolbar_location: "bottom",
          menubar: false
        });
      })

      $(".submitreply").off("click").on("click", function (e) {
        e.preventDefault();

        const id = $(this).data("id");
        FB.api('/' + id + '/replies?message=' + tinyMCE.activeEditor.getContent({ format: 'text' }), "POST", {
          access_token: access_token
        }, function (response) {
          console.log("created with API");
          console.log(response);
          $('#replyModal').modal('hide').data('bs.modal', null);
          $("#mytextarea").val("");
          renderMedia(instagram_business_account_id, access_token, before, after)
        });
      })


      $(".delete-reply").on("click", function (e) {
        e.preventDefault();
        const id = $(this).data("id");
        FB.api('/' + id, "DELETE", {
          access_token: access_token
        }, function (response) {
          console.log("deleted with API");
          console.log(response);
          renderMedia(instagram_business_account_id, access_token, before, after = "")
        });
      })
    });
  }

  function renderTags(instagram_business_account_id, access_token, before = "", after = "") {
    var extraparams = "";
    if (before !== "") {
      extraparams = extraparams + `&before=${before}`;
    }
    else if (after !== "") {
      extraparams = extraparams + `&after=${after}`;
    }
    FB.api(`/${instagram_business_account_id}/tags?fields=caption,permalink,username,timestamp,like_count,media_type,media_url,comments{text,timestamp,username,replies{like_count,media,text,timestamp,username},like_count}&pretty=0&limit=10${extraparams}`, {
      access_token: access_token
    }, function (response) {
      // console.log(response.data);
      let medialist = "";
      for (const media of response.data) {
        let commentlist = "";
        if (media.comments) {
          for (const comment of media.comments.data) {
            let replieslist = ""
            if (comment.replies) {
              for (const reply of comment.replies.data) {
                replieslist = replieslist + `<hr>
                <div class="comments ml-3">
                        <div class="d-flex flex-row mb-2"> 
                            <div class="d-flex flex-column ml-2"> <span class="name">${reply.username}</span> <small class="comment-text">${reply.text}</small>
                                <div class="d-flex flex-row align-items-center status"> <small><p class="comment-reply-tag" data-text="${reply.text}" data-id="${reply.id}">Sentiment Score: <span class="tagcomment_${reply.id}"></span> </p></small> </div>
                                <div class="d-flex flex-row align-items-center status"><small>Posted on ${moment(new Date(reply.timestamp)).format("DD MMM YYYY")}</small> </div>

                            </div>
                        </div>
                    </div>`
                   
              };
            }
          
                  commentlist = commentlist + `
                  <div class="comments">
                        <div class="d-flex flex-row mb-2"> 
                            <div class="d-flex flex-column ml-2"> <span class="name">${comment.username}</span> <small class="comment-text">${comment.text}</small>
                                <div class="d-flex flex-row align-items-center status"> <small><p class="comment-reply-tag" data-text="${comment.text}" data-id="${comment.id}">Sentiment Score: <span class="tagcomment_${comment.id}"></span> </p></small> </div>
                                <div class="d-flex flex-row align-items-center status"><small>Posted on ${moment(new Date(comment.timestamp)).format("DD MMM YYYY")}</small> </div>

                            </div>
                        </div>
                    </div>
                    ${replieslist}
                  `
          };
        }

      medialist = medialist + `
        <div class="col-md-10 card card2 mt-4">
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> 
                        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">${media.username}</span>  </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">${moment(new Date(media.timestamp)).format("DD MMM YYYY")}</small></div>
                </div> 
                <div class="p-2">
                  <div class="row">
                    ${media.media_type == "CAROUSEL_ALBUM" ? `<a class="img-fluid col-md-6" width="100%" style="height: 450px;" href="${media.media_url}" target="_blank"><img src="${media.media_url ? media.media_url : "https://i.imgur.com/UXdKE3o.jpg"}" class="img-fluid" width="100%"></a>` : "" }
                    ${media.media_type == "IMAGE" ? `<img src="${media.media_url ? media.media_url : "https://i.imgur.com/UXdKE3o.jpg"}" class="img-fluid col-md-6" width="100%" style="height: 450px;">` : "" }
                    ${media.media_type == "VIDEO" ? `<div class="col-md-6"><iframe width="100%" height="450" src="${media.media_url}"></iframe></div>` : "" }
                  <div class="col-md-6" style="height: 450px;overflow: scroll;">  
                    <a href="${media.permalink}" target="_blank">
                  <p class="text-justify">${media.caption}</p>
                  </a>
                    <hr>
                    ${commentlist}
                  </div>
                    </div>
                </div>
        </div>`
      }
      $("#taglist").html(medialist);
      let commentdata = [];
      $(".comment-reply-tag").each(function () {
        commentdata.push({
          id: $(this).data("id"),
          text: $(this).data("text")
        })
      })
      $.ajax({
        type: 'POST',
        url: "/bot",
        dataType: 'json',
        data: {
          commentdata: JSON.stringify(commentdata)
        },
        success: function (resultData) {
          for (const comment of resultData) {
            // alert("comment_"+comment.id)
            $(".tagcomment_" + comment.id).html(comment.score.toFixed(2) + "%");
            if (comment.score > 0) {
              $(".tagcomment_" + comment.id).addClass("text-success");
            }
            else if (comment.score == 0) {
              $(".tagcomment_" + comment.id).addClass("text-secondary");
            }
            else if (comment.score < 0) {
              $(".tagcomment_" + comment.id).addClass("text-danger");
            }
          }
        }
      });
      if (response.paging.cursors.before) {
        $(".prevtaglist").data('before', response.paging.cursors.before)
      }
      if (response.paging.cursors.after) {
        $(".nexttaglist").data('after', response.paging.cursors.after)
      }
    });
  }

  function renderRecentHashTags(instagram_business_account_id, access_token, before = "", after = "", hashtagid) {
    var extraparams = "";
    if (before !== "") {
      extraparams = extraparams + `&before=${before}`;
    }
    else if (after !== "") {
      extraparams = extraparams + `&after=${after}`;
    }
    FB.api(`/${hashtagid}/recent_media?fields=caption,timestamp,permalink,like_count,media_type,comments_count,media_url&pretty=0&limit=10${extraparams}&user_id=${instagram_business_account_id}`, {
                    access_token: access_token
                  }, function (response) {
                    let medialist = "";
                    for (const media of response.data) {
                      medialist = medialist +  `
        <div class="col-md-10 card2 mt-4">
            <div class="card">
                <div class="p-2">
                  <div class="row">
                    ${media.media_type == "CAROUSEL_ALBUM" ? `<a class="img-fluid col-md-6" width="100%" style="height: 450px;" href="${media.media_url}" target="_blank"><img src="${media.media_url ? media.media_url : "https://i.imgur.com/UXdKE3o.jpg"}" class="img-fluid" width="100%"></a>` : "" }
                    ${media.media_type == "IMAGE" ? `<img src="${media.media_url ? media.media_url : "https://i.imgur.com/UXdKE3o.jpg"}" class="img-fluid col-md-6" width="100%" style="height: 450px;">` : "" }
                    ${media.media_type == "VIDEO" ? `<div class="col-md-6"><iframe width="100%" height="450" src="${media.media_url}"></iframe></div>` : "" }
                  <div class="col-md-6" style="height: 450px;overflow: scroll;">  
                    <a href="${media.permalink}" target="_blank">
                  <p class="text-justify">${media.caption}</p>
                  </a>
                  </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> 
                        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"><i class="fa fa-comment"></i> ${media.comments_count}</span> </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">${moment(new Date(media.timestamp)).format("DD MMM YYYY")}</small> </div>
                </div> 
            </div>
        </div>`
                    }
                    $("#recenthashtaglist").html(medialist);
                    let commentdata = [];
                    if (response.paging.cursors.after) {
                      $(".nextrecenthashtaglist").data('hashtagid', hashtagid)
                      $(".nextrecenthashtaglist").data('after', response.paging.cursors.after)
                    }
                  })
               
  }

  function renderStories(instagram_business_account_id, access_token) {
      FB.api(`/${instagram_business_account_id}/stories?fields=caption,media_type,media_url,timestamp,like_count,comments_count&limit=100&pretty=0`, {
        access_token: access_token
      }, function (response) {
        let storylist = "";
        for (const media of response.data) {
          storylist = storylist + `<div class="media m-2 p-2 align-items-center">
              ${true ? `<img src="${media.media_url ? media.media_url : ""}" class="mr-3 mt-3" style="width:60px;">` : `<img src=""  class="mr-3 mt-3 rounded-circle" style="width:60px;">`}
              <div class="media-body">
                <h7 class="mt-0"><a target="_blank" href="${media.permalink}">${media.caption ? media.caption: ""}</a></h7><br>
                <i class="fa fa-thumbs-up"></i> ${media.like_count}
                <i class="fa fa-comment"></i> ${media.comments_count}
                <button data-media_type="${media.media_type}" data-id="${media.id}" data-caption="${media.caption}" class="btn btn-primary viewstorymediainsights"> View Insights </button>
              </div>
            </div><hr>`
        }
        $("#storylist").html(storylist);
      })
    }

  function renderTopMediaHashTags(instagram_business_account_id, access_token, before = "", after = "", hashtagid) {
    var extraparams = "";
    if (before !== "") {
      extraparams = extraparams + `&before=${before}`;
    }
    else if (after !== "") {
      extraparams = extraparams + `&after=${after}`;
    }
    FB.api(`/${hashtagid}/top_media?fields=caption,timestamp,permalink,like_count,media_type,comments_count,media_url&pretty=0&limit=10${extraparams}&user_id=${instagram_business_account_id}`, {
                    access_token: access_token
                  }, function (response) {
                    let medialist = "";
                    for (const media of response.data) {
            medialist = medialist + `
        <div class="col-md-10 card2 mt-4">
            <div class="card">
                <div class="p-2">
                  <div class="row">
                    ${media.media_type == "CAROUSEL_ALBUM" ? `<a class="img-fluid col-md-6" width="100%" style="height: 450px;" href="${media.media_url}" target="_blank"><img src="${media.media_url ? media.media_url : "https://i.imgur.com/UXdKE3o.jpg"}" class="img-fluid" width="100%"></a>` : "" }
                    ${media.media_type == "IMAGE" ? `<img src="${media.media_url ? media.media_url : "https://i.imgur.com/UXdKE3o.jpg"}" class="img-fluid col-md-6" width="100%" style="height: 450px;">` : "" }
                    ${media.media_type == "VIDEO" ? `<div class="col-md-6"><iframe width="100%" height="450" src="${media.media_url}"></iframe></div>` : "" }
                  <div class="col-md-6" style="height: 450px;overflow: scroll;">  
                    <a href="${media.permalink}" target="_blank">
                  <p class="text-justify">${media.caption}</p>
                  </a>
                  </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> 
                        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"><i class="fa fa-comment"></i> ${media.comments_count}</span> </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">${moment(new Date(media.timestamp)).format("DD MMM YYYY")}</small> </div>
                </div> 
            </div>
        </div>`
                    }
                    $("#topmediahashtaglist").html(medialist);
                    let commentdata = [];
                    if (response.paging.cursors.after) {
                      $(".nexttopmediahashtaglist").data('hashtagid', hashtagid)
                      $(".nexttopmediahashtaglist").data('after', response.paging.cursors.after)
                    }
                  })
               
  }

  function igInsights(access_token) {
    FB.api('/me', {
      access_token: access_token
    }, function (response) {

      $("#loginmsg").html('Good to see you, ' + response.name + '.');
    });
    FB.api('/me/accounts', {
      access_token: access_token
    }, function (response) {
      const pageid = response.data[0].id;

      FB.api('/' + pageid + '?fields=instagram_business_account', {
        access_token: access_token
      }, function (response) {
        const since = moment().subtract('days', 30).unix();
        const until = moment().subtract('days', 0).unix();
        const instagram_business_account_id = response.instagram_business_account.id;
        FB.api(`/${instagram_business_account_id}?fields=biography,followers_count,follows_count,media_count,profile_picture_url,website`, {
          access_token: access_token
        }, function (response) {
          $("#biography").html(response.biography);
          $("#followers_count").html(response.followers_count);
          $("#follows_count").html(response.follows_count);
          $("#media_count").html(response.media_count);
          $("#profile_picture_url").attr('src', response.profile_picture_url);
          $("#website").html(response.website);
        });

        FB.api(`/${instagram_business_account_id}/recently_searched_hashtags?fields=name&limit=30`, {
          access_token: access_token
        }, function (response) {
          let tags = [];
          // tagsinputoptions
          let options = ``;
          for (let i = 0; i < response.data.length; i++) {
            tags.push(response.data[i].name);
            options = options+`<option ${response.data[i].id== response.data[0].id ? "selected" : ""} value="${response.data[i].id}">${response.data[i].name}</option>`
          }
          $("#tagsinputoptions").html(options);
          renderRecentHashTags(instagram_business_account_id, access_token, "", "", response.data[0].id);
          renderTopMediaHashTags(instagram_business_account_id, access_token, "", "", response.data[0].id);
          $(".currenthashtag").text(response.data[0].name)
          $("#tagsinputoptions").on("change", function(){
            $(".currenthashtag").html($("#tagsinputoptions option:selected" ).text());
            renderRecentHashTags(instagram_business_account_id, access_token, "", "", $(this).val());
            renderTopMediaHashTags(instagram_business_account_id, access_token, "", "", $(this).val());
          })
          $('#tagsinput').tagEditor({
            initialTags: tags,
            beforeTagSave: function (field, editor, tags, tag, val) {
              // console.log(tags, tag, val);
              if (tags.length == 30) {
                alert("You have reach maximum hashtag limit (30) for this week");
                return false;
              }
              else {
                FB.api(`/ig_hashtag_search?user_id=${instagram_business_account_id}&q=${val}`, {
                  access_token: access_token
                }, function (response) {
                  if(response.error){
                  }
                  else{
                    const hashtagid = response.data[0].id;
                    renderRecentHashTags(instagram_business_account_id, access_token, "", "", hashtagid);
                    renderTopMediaHashTags(instagram_business_account_id, access_token, "", "", hashtagid);
                    $(".currenthashtag").html(val);
                    FB.api(`/${instagram_business_account_id}/recently_searched_hashtags?fields=name&limit=30`, {
                      access_token: access_token
                    }, function (response) {
                      let tags = [];
                      // tagsinputoptions
                      let options = ``;
                      for (let i = 0; i < response.data.length; i++) {
                        tags.push(response.data[i].name);
                        options = options+`<option ${response.data[i].id== response.data[0].id ? "selected" : ""} value="${response.data[i].id}">${response.data[i].name}</option>`
                      }
                      $("#tagsinputoptions").html(options);
                    });
                  }
                });
              }
            }
          });
          // alert(response.data[0].name);
        });
        renderMedia(instagram_business_account_id, access_token);
        renderStories(instagram_business_account_id, access_token);
        renderTags(instagram_business_account_id, access_token);
        $(".prevmedialist").on("click", function () {
          const before = $(this).data('before');
          if (before !== "") {
            renderMedia(instagram_business_account_id, access_token, before, "");
          }
        })
        $(".nextmedialist").on("click", function () {
          const after = $(this).data('after');
          if (after !== "") {
            renderMedia(instagram_business_account_id, access_token, "", after);
          }
        })
        $(".prevtaglist").on("click", function () {
          const before = $(this).data('before');
          if (before !== "") {
            renderTags(instagram_business_account_id, access_token, before, "");
          }
        })
        $(".nexttaglist").on("click", function () {
          const after = $(this).data('after');
          if (after !== "") {
            renderTags(instagram_business_account_id, access_token, "", after);
          }
        })
        $(".nextrecenthashtaglist").on("click", function () {
          const after = $(this).data('after');
          const hashtagid = $(this).data('hashtagid');
          if (after !== "") {
            renderRecentHashTags(instagram_business_account_id, access_token, "", after, hashtagid);
          }
        })
        $(".nexttopmediahashtaglist").on("click", function () {
          const after = $(this).data('after');
          const hashtagid = $(this).data('hashtagid');
          if (after !== "") {
            renderTopMediaHashTags(instagram_business_account_id, access_token, "", after, hashtagid);
          }
        })
        fetch('http://localhost:3000/getaccountinsights?email=amit.nagpal@pursuitica.com')
        .then(response => response.json())
        .then(response => {
          console.log("sortedimpressions");
          const views = [];
          const viewdates = [];
          for (const impressiondata of response.impressions) {
            viewdates.push(moment(new Date(impressiondata.end_time)).format("DD MMM YYYY"))
            views.push(parseInt(impressiondata.value));
          }
          renderChart(viewdates, views, 'container4', "The total number of times that the business account's media objects have been viewed. (Media object Represents an Instagram Photo, Video, Story, or Album)", "Date", "Views")

          const uniqueviews = [];
          const uniqueviewdates = [];
          for (const reachdata of response.reach) {
            uniqueviewdates.push(moment(new Date(reachdata.end_time)).format("DD MMM YYYY"))
            uniqueviews.push(parseInt(reachdata.value));
          }
          renderChart(uniqueviewdates, uniqueviews, 'container5', "The total number of times that the business account's media objects have been UNIQUELY viewed", "Date", "Unique Views")
        })
        FB.api(`/${instagram_business_account_id}/insights?metric=website_clicks,phone_call_clicks&period=day`, {
          access_token: access_token
        }, function (response) {
          const website_clicksdatas = response.data[0].values;
          const website_clicks = [];
          const website_clicksdates = [];
          for (const website_clicksdata of website_clicksdatas) {
            website_clicksdates.push(moment(new Date(website_clicksdata.end_time)).format("DD MMM YYYY"))
            website_clicks.push(parseInt(website_clicksdata.value));
          }
          renderChart(website_clicksdates, website_clicks, 'containerwebsite_clicks', "The total number of taps on the website link in this profile", "Date", "Website Clicks")

          const phonecall_clicksdatas = response.data[1].values;
          const phonecall_clicks = [];
          const phonecall_clicksdates = [];
          for (const phonecall_clicksdata of phonecall_clicksdatas) {
            phonecall_clicksdates.push(moment(new Date(phonecall_clicksdata.end_time)).format("DD MMM YYYY"))
            phonecall_clicks.push(parseInt(phonecall_clicksdata.value));
          }
          renderChart(phonecall_clicksdates, phonecall_clicks, 'containerphone_call_clicks', "The total number of taps on the call link in this profile", "Date", "Phone call clicks")
        });
          fetch('http://localhost:3000/getaccountdemographics?email=amit.nagpal@pursuitica.com')
  .then(response => response.json())
  .then(response => {
          console.log(`/${instagram_business_account_id}/insights?metric=audience_city,audience_country,audience_gender_age&period= lifetime`)
          const values = response.data[0].values[0].value;
          let sortedarray = [];
          for (const city in values) {
            sortedarray.push({
              "city": city,
              "count": parseInt(values[city])
            })
          }
          sortedarray = sortedarray.sort( compare );
          const cities = [];
          const followercounts1 = [];
          for (const item of sortedarray) {
            cities.push(item.city)
            followercounts1.push(item.count);
          }
          renderChart(cities, followercounts1, 'container', "The towns/cities of this profile's followers", "City")
          const values2 = response.data[1].values[0].value;
          let sortedarray2 = [];
          console.log(values2);
          for (const country in values2) {
            sortedarray2.push({
              "country": country,
              "count": parseInt(values2[country])
            })
          }
          sortedarray2 = sortedarray2.sort( compare );
          console.log(sortedarray2);
          const countries = [];
          const followercounts = [];
          for (const item of sortedarray2) {
            countries.push(item.country)
            followercounts.push(item.count);
          }
          renderChart(countries, followercounts, 'container2', "The countries of this profile's followers", "Country")

          const values3 = response.data[2].values[0].value;
          let sortedarray3 = [];
          console.log(values3);
          for (const genderdata in values3) {
            sortedarray3.push({
              "genderdata": genderdata,
              "count": parseInt(values3[genderdata])
            })
          }
          sortedarray3 = sortedarray3.sort( compare );
          const genderdatas = [];
          const followercounts3 = [];
          for (const item of sortedarray3) {
            genderdatas.push(item.genderdata)
            followercounts3.push(item.count);
          }
          renderChart(genderdatas, followercounts3, 'container3', "The gender and age distribution of this profile's followers", "Gender and age");
        });
      });
      //  $("#loginmsg").html('Good to see you, ' + response.name + '.');
    });
  }
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  function renderChart(xaxisdata, yaxisdata, containerid, title, xaxistitle, yaxistitle = "Followers") {
    Highcharts.chart(containerid, {
      chart: {
        type: 'column'
      },
      title: {
        text: title
      },
      credits: {
        enabled: false
      },
      xAxis: {
        categories: xaxisdata,
        crosshair: true
      },
      yAxis: {
        min: 0,
        title: {
          text: yaxistitle
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">' + yaxistitle + ': </td>' +
          '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
        name: xaxistitle,
        data: yaxisdata

      }]
    });

  }
  window.fbAsyncInit = function () {
    FB.init({
      appId: '696968664525017',
      autoLogAppEvents: true,
      xfbml: true,
      version: 'v9.0'
    });
    if (1) {
      const access_token = "EAAJ546mrKNkBAHQuOGlkfCZB7RCShZBUYZAILT0CI6aYC9km3qr1Iwx5ZBcDNAzGKyDlMJElusSk1Emy4clRRJ5qoLIwQwkCj6NudAgCQxOaQiUxu2JZCLAZBmaJZBZAYJ5ecGixYuVygTuo25wdmGntZArNQT9qZCQDZAbpGQZCbcHWURPQ1hFDUjtl";
      console.log(access_token)
      igInsights(access_token)
    }
    else if (getCookie("hpiaeghpaeg")) {
      const access_token = getCookie("hpiaeghpaeg");
      console.log(access_token)
      igInsights(access_token)
    }
    else {
      FB.login(function (response) {
        if (response.authResponse) {
          console.log('Welcome!  Fetching your information.... ');
          var access_token = FB.getAuthResponse()['accessToken'];
          console.log('Access Token = ' + access_token);
          setCookie('hpiaeghpaeg', access_token, 100000000);
          igInsights(access_token)
        } else {
          console.log('User cancelled login or did not fully authorize.');
        }
      }, { scope: 'pages_show_list,instagram_basic,instagram_manage_insights,pages_read_engagement' });
    }
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</head>