<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign in | AMP Digital</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="shortcut icon" href="/logo-ampdigitalnet.png">


    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NTJGZ4L');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Nav pills -->
<header id="home">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky dark bootsnav">
      <div class="container-fluid">
        <!-- Start Header Navigation -->
        <div class="navbar-header row align-items-center ml-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/google_logo (1).jpg" class="logo" alt="Logo">
          </a>
          <a class="navbar-brand" href="/">
            <img src="/amp_digital_black.jpg" class="logo" alt="Logo">
          </a>
          <!-- <a href="/" class="navbar-brand">
                  <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
                  </a>
                  <a href="/" class="navbar-brand">
                  <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
                  </a> -->
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
              <ul class="dropdown-menu">
                <!-- <li><a href="index.html">Home Version One</a></li>
                           <li><a href="index-2.html">Home Version Two</a></li>
                           <li><a href="index-3.html">Home Version Three</a></li>
                           <li><a href="index-4.html">Home Version Four</a></li> -->
                <li><a href="/courses/digital-marketing-course">Digital Marketing</a></li>

                <li><a href="/courses/seo-workshop">SEO Workshop</a></li>
                <li><a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA)
                    Certification Course</a></li>
              </ul>
            </li>
            <li><a href="https://www.newsapp.io">News</a></li>
            <li><a href="/jobs/home">Jobs</a></li>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li class="active"><a href="/blogs">Blogs</a></li>
            <li><a href="/digital-marketing-community-forums">Forum</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Tools</a>
              <ul class="dropdown-menu">
                <li><a href="http://seotools.ampdigital.co/">SEO Tools</a></li>
                <li><a href="/tools/google-ads-simulator">Google ads simulator</a></li>
              </ul>
            </li>
            
            <%if(typeof email =='undefined'){%>
            <li>
              <a href="/auth">Register</a>
            </li>
            <%}else{%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><%=name%></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <%}%>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
      </nav>
      <!-- End Navigation -->
   </header><!-- Hero Section-->
<section class="hero hero-page">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <ul style="display: inline-flex!important;" class="nav nav-pills mb-5">
                    <li class="nav-item">
                        <a class="nav-link loginsectionlink" data-toggle="pill" href="#login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active signupsectionlink" data-toggle="pill" href="#signup">Signup</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container fade" id="login">
                      <div class="modal-body">
                          <div class="text-center forgotpasswordinstructionssent d-none">
                              <i style="font-size: 75px;" class="fa fa-plane color-4"></i>
                              <h3>
                                  Instructions on resetting your password are on their way!
                              </h3>
                              <p>If you don't receive an email soon ensure that the email is valid and that you can receive emails
                                  from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p>
                          </div>
                          <form class="d-none forgotpasswordform" action="/forgotpassword" method="POST" role="form">
                              <div class="form-group formField">
                                  <input name="email" required="" type="email" class="form-control border-color-1" id="forgotpasswordemail" placeholder="Email">
                              </div>
                              <button type="submit" class="btn btn-primary">Forgot Password</button>
                              <div class="form-group formField">
                                  <p class="help-block">Not What you are looking for?<a class="loginformbutton" href="#">Login</a>
                                      instead</p>
                              </div>
                          </form>
                          <form class="loginform" action="/login" method="POST" role="form">
                              <div class="form-group formField">
                                  <input name="email" required="" type="text" class="form-control email border-color-1" id="email" placeholder="Email">
                                      <small class="text-danger emailHelp d-none">
                                      </small>  
                              </div>
                              <div class="form-group formField">
                                  <input name="password" required="" type="password" class="form-control border-color-2 password forgotpasswordbtn" id="password" placeholder="Password">
                                      <small class="text-danger passwordHelp d-none">
                                        </small>  
                                  </div>
          
                              <!-- <button class="btn btn-primary loginsubmit">Submit</button> -->
                             
                          </form>
                          <button class="btn btn-primary loginformbtn loginform">Submit</button>
                          <div class="form-group formField loginform">
                              <p class="help-block"><a class="forgotpasswordbutton" href="#">Forgot password?</a></p>
                          </div>
                          <div class="form-group formField loginform">
                              <p class="help-block">Don't have an account? <a class="alreadyaccount2" href="#">Sign up</a></p>
                          </div>
                      </div>
                    </div>
                    <div class="tab-pane container active" id="signup">
                      <div class="modal-body">
                          <div class="text-center forgotpasswordinstructionssent d-none">
                              <i style="font-size: 75px;" class="fa fa-plane color-4"></i>
                              <h3>
                                  Instructions on resetting your password are on their way!
                              </h3>
                              <p>If you don't receive an email soon ensure that the email is valid and that you can receive emails
                                  from amitabh@ampdigital.co. Contact amitabh@ampdigital.co for additional assistance.</p>
                          </div>
                          <form class="d-none forgotpasswordform" action="/forgotpassword" method="POST" role="form">
                              <div class="form-group formField">
                                  <input name="email" required="" type="email" class="form-control border-color-1" id="forgotpasswordemail2" placeholder="Email">
                              </div>
                              <button type="submit" class="btn btn-primary">Forgot Password</button>
                              <div class="form-group formField">
                                  <p class="help-block">Not What you are looking for?<a class="loginformbutton" href="#">Login</a>
                                      instead</p>
                              </div>
                          </form>
                          <form class="registerform" action="/signup" method="POST" role="form">
                              <div class="form-group formField">
                                  <input name="name" required="" type="text" class="form-control name" placeholder="First Name">
                                  <small class="text-danger nameHelp d-none">
                                  </small>  
                              </div>
                              <div class="form-group formField">
                                  <input name="lastname" required="" type="text" class="form-control lastname" placeholder="Last Name">
                                  <small class="text-danger lastnameHelp d-none">
                                  </small>  
                              </div>
                              <div class="form-group formField">
                                  <input name="email" required="" type="email" class="form-control email" placeholder="Email">
                                  <small class="text-danger emailHelp d-none">
                                  </small>  
                              </div>
                              <div class="form-group formField">
                                  <input name="phone" type="text" class="form-control phone" placeholder="Phone">
                                  <small class="text-danger phoneHelp d-none">
                                  </small>  
                              </div>
                              <div class="form-group formField">
                                  <input name="password" required="" type="password" class="form-control password" placeholder="Password">
                                  <small class="text-danger passwordHelp d-none">
                                  </small>  
                              </div>
                              <input name="auth" class="auth" type="hidden" value="true">
                              <div class="form-group formField">
                                  <input name="repassword" required="" type="password" class="form-control repassword" placeholder="Re-Password">
                                      <small class="text-danger repasswordHelp d-none">
                                      </small>  
                              </div>
                              <div class="g-recaptcha" data-sitekey="6Lcu9u0ZAAAAAOM6_AebYFXdQMfDHG39bAU9ejaC"></div>
                              
                              <div class="form-group formField">
                                  <button class="btn btn-primary btn-block bg-color-3 border-color-3 registernow">Register Now</button>
                              </div>
                              <div class="form-group formField">
                                  <p class="help-block">Already have an account? <a class="alreadyaccount3" href="#">Sign in</a></p>
                              </div>
                          </form>
          
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/loopcounter.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script src="assets/js/main.js"></script>
<!--Confirm.js alerts Plugin-->
<!--Confirm.js alerts Plugin-->
<script type="text/javascript">
    $(document).ready(function () {
        $(".alreadyaccount2").on("click", function(){
        $(".signupsectionlink").click();
    })
    $(".alreadyaccount3").on("click", function(){
        $(".loginsectionlink").click();
    })
        $('.forgotpasswordbutton').on('click', function (e) {
            e.preventDefault();
            $('.loginform').addClass('d-none');
            $('.forgotpasswordform').removeClass('d-none');
            $('.loginpaneltitle').html('Forgot Password');
        });

        $('.loginformbutton').on('click', function (e) {
            e.preventDefault();
            $('.loginform').removeClass('d-none');
            $('.forgotpasswordform').addClass('d-none');
            $('.loginpaneltitle').html('Login');
        });

        $('.forgotpasswordform').on('submit', function (e) {
    $(this).children('button').attr('disabled', 'disabled');
    e.preventDefault();
    var email = $('.forgotpasswordemail').val();
    $.ajax({
        method: "POST",
        url: "/forgotpassword",
        data: {email: email}
    }).done(function(response) {
        if(response._id){
            $.alert('<div class="text-center"> <i style="font-size: 75px;" class="fab fa-plane color-primary"></i>\n' +
                '            <h3>\n' +
                '              Instructions on resetting your password are on their way!\n' +
                '            </h3>\n' +
                '            <p>If you do not receive an email soon ensure that the email is valid and that you can receive emails\n' +
                '              from siddharthsogani22@gmail.com. Contact siddharthsogani22@gmail.com for additional assistance.</p></div>');              }
        console.log(response);
    });
});
    });
</script>
</body>
</html>
