<div style="background-image: url('/quote.png'); background-size: cover; background-position: center;" class="col-md-12 row justify-content-center align-items-center" id="quotediv" style="height: 100vh;">
  <div class="col-md-8" style="background-color: rgba(255,255,255,0.75);">
    <h1>
      <span id="quote-content"><%=quote.quote%></span>
      - <span id="quote-title"><%=quote.author%></span>
    </h1>
  </div>
</div>