<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quotes</title>
    <meta name="author" content="Siddharth Sogani">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>

<script src="/download.js"></script>
    <script type="text/javascript">
    function _base64ToArrayBuffer(base64) {
    var binary_string = window.atob(base64);
    var len = binary_string.length;
    var bytes = new Uint8Array(len);
    for (var i = 0; i < len; i++) {
        bytes[i] = binary_string.charCodeAt(i);
    }
    return bytes.buffer;
}

// Convert a data URI to blob
function dataURItoBlob(dataURI) {
    var byteString = atob(dataURI.split(',')[1]);
    var ab = new ArrayBuffer(byteString.length);
    var ia = new Uint8Array(ab);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }
    return new Blob([ab], {
        type: 'image/png'
    });
}

        function downloadimage() {
            //var container = document.getElementById("image-wrap"); //specific element on page
            var container = document.getElementById("htmltoimage");; // full page 
            html2canvas(container, { allowTaint: true }).then(function (canvas) {

                var link = document.createElement("a");
                document.body.appendChild(link);
                link.download = "arhamyogacertificate.jpg";
                link.href = canvas.toDataURL();
                link.target = '_blank';
                link.click();
            });
        }

       
        $(document).ready(function(){
          setTimeout(function(){
      $.ajax({
          url: "/shareimage",
          type: "POST",
          data: {src: src, id: id},
          success: function (data) {
            if(data == 1){
              $(".clicksharebtn").removeAttr("disabled");
            }
          }
      });
    }, 3000)

          var src = null;
    var node = document.getElementById('htmltoimage');

    $("#certificatedownload").on("click", function(){
      download($('#certificate').attr('src'),"ampdigitalcertificate.png","image/png");
    });
    
    var id = (new Date()).toISOString();

    domtoimage.toPng(node)
    .then(function (dataUrl) {
      src = dataUrl;
    })
    .catch(function (error) {
        console.error('oops, something went wrong!', error);
    });

        })

    </script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  #certificate{
  width:100%;
  }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  #certificate{
  width:70%;
  }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  #certificate{
  width:70%;
  }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  #certificate{
  width:70%;
  }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  #certificate{
  width:70%;
  }
  }
    .container {
  position: relative;
  text-align: center;
  }
  
  .bottom-left {
  position: absolute;
  bottom: 0;
  left: 35%;
  }
  
  .bottom-left2 {
  position: absolute;
  bottom: 0.5%;
  left: 5%;
  }
  
  .bottom-left3 {
      position: absolute;
      top: 64.5%;
      left: 24.5%;
  }
  
  .bottom-left4 {
      position: absolute;
      width: 100%;
      top: 58%;
      left: -30%;
  }
.bottom-left7 {
    position: absolute;
    top: 54.5%;
    left: 41.5%;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(30, 36, 36);
}
  
.bottom-left8 {
    position: absolute;
    width: 100%;
    font-weight: bolder;
    top: 49%;
    left: -11%;
}
  
  .top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  }
  
  .top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  }
  
  .course-name {
    position: absolute;
    top: 49.5%;
    left: 70%;
    transform: translate(-50%, -50%);
}
  
  .course-name2 {
    position: absolute;
    top: 55.5%;
    left: 67%;
    transform: translate(-50%, -50%);
}
  
  .participant-name {
    position: absolute;
    top: 50.5%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.participant-name2 {
    position: absolute;
    top: 45.5%;
    left: 51%;
    font-size: 0.65rem;
    transform: translate(-50%, -50%);
}
  </style>
    <style>
        #htmltoimage {
            width: 100%;
            margin: auto;
        }
    </style>

</head>

<body style="text-align:center">
   
  <div class="">
    <div style="background-image: url('/quote.png'); background-size: cover; background-position: center; height: 90vh;" class="col-md-12 row justify-content-center align-items-center" id="htmltoimage">
		<div class="col-md-8" style="background-color: rgba(255,255,255,0.75);">
		  <h1>
			<span id="quote-content"><%=quote.quote%></span>
			- <span id="quote-title"><%=quote.author%></span>
		  </h1>
		</div>
	  </div>
      <button onclick="downloadimage()" class="clickbtn btn btn-info"><i class="fa fa-download"></i> Download Quote</button>
  </div>


</body>

</html>