<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ========== Meta Tags ========== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Refund Policy</title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
  <link href="assets/css/themify-icons.css" rel="stylesheet" />
  <link href="assets/css/flaticon-set.css" rel="stylesheet" />
  <link href="assets/css/elegant-icons.css" rel="stylesheet" />
  <link href="assets/css/magnific-popup.css" rel="stylesheet" />
  <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
  <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
  <link href="assets/css/animate.css" rel="stylesheet" />
  <link href="assets/css/bootsnav.css" rel="stylesheet" />
  <link href="style.css" rel="stylesheet">
  <link href="assets/css/responsive.css" rel="stylesheet" />
  <style>
    .course .course-header {
    padding: 30px;
}
.course .course-body {
    padding: 10px 30px;
}
.course .course-header a {
    color: #333;
    text-decoration: none!important;
    font-size: .9rem;
    font-weight: 400;
}
.no-anchor-style {
    text-decoration: none!important;
    color: inherit!important;
}
.course-title {
    color: #3278ce!important;
    font-family: OpenSans,Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2px;
}
.course .course-body {
    padding: 10px 30px;
}
.course .course-body p {
    font-size: .9rem;
    color: #555;
}
.course .course-footer {
    padding: 20px 30px;
}

.course .course-footer span {
    color: #333;
    font-size: .85rem;
    font-weight: 400;
}

a, button, i, small, span, strong {
    display: inline-block;
}
    .course-title {
      color: #3278ce!important;
    font-family: OpenSans,Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2px;
}
.course-title:hover{
  text-decoration: underline;
}
    .hero-page .container {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .no-anchor-style:hover{
      color: #6a4e77!important;
    }
  </style>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTJGZ4L');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Preloader Start -->
  <div class="se-pre-con"></div>
  <!-- Preloader Ends -->

  <!-- Header 
    ============================================= -->
  <header id="home">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky dark bootsnav">
      <div class="container-fluid">
        <!-- Start Header Navigation -->
        <div class="navbar-header row align-items-center ml-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/google_logo (1).jpg" class="logo" alt="Logo">
          </a>
          <a class="navbar-brand" href="/">
            <img src="/amp_digital_black.jpg" class="logo" alt="Logo">
          </a>
          <!-- <a href="/" class="navbar-brand">
                  <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
                  </a>
                  <a href="/" class="navbar-brand">
                  <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
                  </a> -->
        </div>
         </div>
      </nav>
      <!-- End Navigation -->
   </header>
    <!-- End Header -->

    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url(blogcover.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Refund Policy, AMP Digital
                    </h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li> Refund Policy </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="why-choseus-area courses-listing default-padding bottom-less pt-5">
      <div class="container">
          <div class="info">
            <div class="row">
              <div class=""><h3>Refund & Cancellation Policy for AMP Digital</h3>
                <p>
                  For individual training programs offered on AMP Digital website, no refund would be permitted once the purchase for the program is made
</p><p>
For advertisers who advertise their products, offerings, and services on different AMP Digital channels (Website, Newsletter, Facebook page, other social media channels etc.), no refund/cancellation would be permitted after the advertising campaign has begun or the payment is received, whichever is earlier. If an advertising campaign is canceled by AMP Digital due to its internal policies, the advertiser would be entitled to a refund on a pro-rata basis (after deducting the amount for the deliverables already served)
</p><p>
Not with-standing this policy, any specific terms and conditions mentioned on individual product & service page, and/or as agreed with a user before/during/after the transaction, will override the terms and conditions mentioned here in case of a conflict.
</p><p>
We may make changes to our products & services, and associated terms & conditions (including terms and conditions on refund and cancellation), from time to time. You are advised to refer to our latest terms and conditions on this page and associated product/service specific terms and conditions page before making a purchase.

                </p>
                <br><br><br><div class="container"><div class="justify-content-md-between row"></div></div></div>
            </div>
          </div>
      </div>
  </div>

    <!-- Star Footer
    ============================================= -->
    <%- include('../partials/footer.ejs') %>

    <!-- End Footer-->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" />
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/loopcounter.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%-include partials/ebook.ejs%>
</body>
</html>
 