<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AMP Digital: Reset Password</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
    <link href="/faicons/css/all.css" rel="stylesheet"> <!--load all styles -->
  <!-- Fontastic CSS-->
  <link rel="stylesheet" href="/css/font.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Swiper carousel-->
  <link rel="stylesheet" href="/vendor/swiper/css/swiper.css">
  <!-- Lity-->
  <link rel="stylesheet" href="/vendor/lity/lity.css">
  <!-- Bootstrap Select-->
  <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.css">
  <!-- Theme stylesheet-->

  <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
  <!-- End Google Tag Manager -->
</head>
<body data-email="<%=email%>">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- header-->

<!-- Contact page-->
<section class="contact">
  <section id="contactusform">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mb-5">Reset Password</h2>
          <form action="/login" method="POST" role="form">
            <div class="form-group formField">
              <input name="password" required="" type="password" class="form-control border-color-1" id="pswd" placeholder="Enter Password">
            </div>
            <div class="form-group formField">
              <input name="reenterpassword" required="" type="password" class="form-control border-color-2" id="reenterpassword" placeholder="Re-enter Password">
            </div>
            <button id="resetpasswordbtn" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
<!-- footer-->
<%-include partials/footer.ejs%>
<!-- JavaScript files-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/swiper/js/swiper.js"></script>
<script src="/vendor/lity/lity.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script src="/js/front.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
      $('form').on('submit', function (e) {
          e.preventDefault();
          var email = $('body').data('email');
          var password = $('#pswd').val();
          var reenteredpassword = $('#reenterpassword').val();
          if(password !== reenteredpassword){
              $.alert("Passwords don't match");
          }
          else{
              $.ajax({
                  method: "POST",
                  url: "/resetpassword",
                  data: {password: password, email: email}
              }).done(function(response) {
                  if(response.ok && response.ok ==1){
                      $.confirm({
                          title: 'Password Updated!',
                          content: 'Login to Continue',
                          buttons: {
                              Login: {
                                  text: 'Login!', // text for button
                                  btnClass: 'btn-blue', // class for the button
                                  keys: ['enter', 'a'], // keyboard event for button
                                  isHidden: false, // initially not hidden
                                  isDisabled: false, // initially not disabled
                                  action: function(heyThereButton){
                                      window.location.href = '/signin';
                                      // longhand method to define a button
                                      // provides more features
                                  }
                              },
                          }
                      });
                  }
                  else{
                      $.confirm('Something went wrong. Contact Support');
                  }
              });
          }
      })
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
<!---->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>
