<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ========== Meta Tags ========== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Terms of Service</title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="/logo-ampdigitalnet.png">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
  <link href="assets/css/themify-icons.css" rel="stylesheet" />
  <link href="assets/css/flaticon-set.css" rel="stylesheet" />
  <link href="assets/css/elegant-icons.css" rel="stylesheet" />
  <link href="assets/css/magnific-popup.css" rel="stylesheet" />
  <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
  <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
  <link href="assets/css/animate.css" rel="stylesheet" />
  <link href="assets/css/bootsnav.css" rel="stylesheet" />
  <link href="style.css" rel="stylesheet">
  <link href="assets/css/responsive.css" rel="stylesheet" />
  <style>
    .course .course-header {
    padding: 30px;
}
.course .course-body {
    padding: 10px 30px;
}
.course .course-header a {
    color: #333;
    text-decoration: none!important;
    font-size: .9rem;
    font-weight: 400;
}
.no-anchor-style {
    text-decoration: none!important;
    color: inherit!important;
}
.course-title {
    color: #3278ce!important;
    font-family: OpenSans,Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2px;
}
.course .course-body {
    padding: 10px 30px;
}
.course .course-body p {
    font-size: .9rem;
    color: #555;
}
.course .course-footer {
    padding: 20px 30px;
}

.course .course-footer span {
    color: #333;
    font-size: .85rem;
    font-weight: 400;
}

a, button, i, small, span, strong {
    display: inline-block;
}
    .course-title {
      color: #3278ce!important;
    font-family: OpenSans,Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2px;
}
.course-title:hover{
  text-decoration: underline;
}
    .hero-page .container {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .no-anchor-style:hover{
      color: #6a4e77!important;
    }
  </style>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTJGZ4L');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJGZ4L" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Preloader Start -->
  <div class="se-pre-con"></div>
  <!-- Preloader Ends -->

  <!-- Header 
    ============================================= -->
  <header id="home">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky dark bootsnav">
      <div class="container-fluid">
        <!-- Start Header Navigation -->
        <div class="navbar-header row align-items-center ml-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/google_logo (1).jpg" class="logo" alt="Logo">
          </a>
          <a class="navbar-brand" href="/">
            <img src="/amp_digital_black.jpg" class="logo" alt="Logo">
          </a>
          <!-- <a href="/" class="navbar-brand">
                  <img class="nbimg d-none d-md-flex" src="/google_logo (1).jpg" width="120" alt="">
                  </a>
                  <a href="/" class="navbar-brand">
                  <img class="ngimg d-none d-md-flex" src="/amp_digital_black.jpg" width="120" alt="">
                  </a> -->
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
              <ul class="dropdown-menu">
                <!-- <li><a href="index.html">Home Version One</a></li>
                           <li><a href="index-2.html">Home Version Two</a></li>
                           <li><a href="index-3.html">Home Version Three</a></li>
                           <li><a href="index-4.html">Home Version Four</a></li> -->
                <li><a href="/courses/digital-marketing-course">Digital Marketing</a></li>

                <li><a href="/courses/seo-workshop">SEO Workshop</a></li>
                <li><a href="/courses/advanced-google-analytics-and-blogging">Advanced Google Analytics (GA)
                    Certification Course</a></li>
              </ul>
            </li>
            <li><a href="https://www.newsapp.io">News</a></li>
            <li><a href="/jobs/home">Jobs</a></li>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/digital-marketing-community-forums">Forum</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Tools</a>
              <ul class="dropdown-menu">
                <li><a href="http://seotools.ampdigital.co/">SEO Tools</a></li>
                <li><a href="/tools/google-ads-simulator">Google ads simulator</a></li>
              </ul>
            </li>
            
            <%if(typeof email =='undefined'){%>
            <li>
              <a href="/signin">Register</a>
            </li>
            <%}else{%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><%=name%></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <%}%>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
      </nav>
      <!-- End Navigation -->
   </header>
    <!-- End Header -->

    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url(blogcover.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Terms of Service, AMP Digital
                    </h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li> Terms of Service </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="why-choseus-area courses-listing default-padding bottom-less pt-5">
      <div class="container">
          <div class="info">
            <div class="row">
              <div class="col-lg-12 text-justify">
                <p> If you require any more information or have any questions about our Terms of Service, please feel free to contact us by email at <a name="contactlink"></a> <a href="mailto:">info@ampdigitalnet.com</a>.
        
                </p><h3>Introduction</h3>
                <p>These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full and without reservation. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>
        
                <h3>License to use website</h3>
                <p>Unless otherwise stated,  and/or its licensors own the intellectual property rights published on this website and materials used on .  Subject to the license below, all these intellectual property rights are reserved.</p>
        
                <p>You may view, download for caching purposes only, and print pages, files or other content from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>
        
                <p>You must not:</p>
                <ul>
                  <li>Republish material from this website in neither print nor digital media or documents (including republication on another website);</li>
                  <li>Sell, rent or sub-license material from the website;</li>
                  <li>Show any material from the website in public;</li>
                  <li>Reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
                  <li>Edit or otherwise modify any material on the website;</li>
                  <li>Redistribute material from this website - except for content specifically and expressly made available for redistribution; or</li>
                  <li>Republish or reproduce any part of this website through the use of iframes or screenscrapers.</li>
                </ul>
                <p>Where content is specifically made available for redistribution, it may only be redistributed within your organisation.</p>
        
                <h3>Acceptable use</h3>
        
                <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of  or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
        
                <p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>
        
                <p>You must not conduct any systematic or automated data collection activities on or in relation to this website without it's express written consent.<br>
                  This includes:
                </p><ul>
                  <li>scraping</li>
                  <li>data mining</li>
                  <li>data extraction</li>
                  <li>data harvesting</li>
                  <li>'framing' (iframes)</li>
                  <li>Article it'spinning'</li>
                </ul>
                <p></p>
        
                <p>You must not use this website or any part of it to transmit or send unsolicited commercial communications.</p>
        
                <p>You must not use this website for any purposes related to marketing without the express written consent of .</p>
        
                <!-- If password protected areas BEGIN -->
                <h3>Restricted access</h3>
        
                <p>Access to certain areas of this website is restricted.  reserves the right to restrict access to certain areas of this website, or at our discretion, this entire website may change or modify this policy without notice.</p>
        
                <p>It provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential. You alone are responsible for your password and user ID security.</p>
        
                <p> may disable your user ID and password at it's sole discretion without notice or explanation.</p>
        
                <h3>User content</h3>
        
                <p>In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.</p>
        
                <p>You grant to  a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media.  You also grant to  the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p>
        
                <p>Your user content must not be illegal or unlawful, must not infringe any third partyit's legal rights, and must not be capable of giving rise to legal action whether against you or a third party (in each case under any applicable law).</p>
        
                <p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>
        
                <p> reserves the right to edit or remove any material submitted to this website, or stored on the servers of , or hosted or published upon this websiteit's rights under these terms and conditions in relation to user content,  does not undertake to monitor the submission of such content to, or the publication of such content on this website.</p>
        
                <h3>No warranties</h3>
        
                <p>This website is provided “as is” without any representations or warranties, express or implied makes no representations or warranties in relation to this website or the information and materials provided on this website.</p>
        
                <p>Without prejudice to the generality of the foregoing paragraph,  does not warrant that:</p>
                <ul>
                  <li>this website will be constantly available, or available at all; or</li>
                  <li>the information on this website is complete, true, accurate or non-misleading.</li>
                </ul>
                <p>Nothing on this website constitutes, or is meant to constitute, advice of any kind.  If you require advice in relation to any legal, financial or medical matter you should consult an appropriate professional.</p>
        
                <h3>Limitations of liability</h3>
        
                <p> Will not be liable to you (whether under the law of contract, the law of torts or otherwise) in relation to the contents of or use of or otherwise in connection with this website:</p>
                <ul>
                  <li>to the extent that the website is provided free-of-charge, for any direct loss;</li>
                  <li>for any indirect, special or consequential loss; or</li>
                  <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
                </ul>
                <p>These limitations of liability apply even if it has been expressly advised of the potential loss.</p>
        
                <h3>Exceptions</h3>
        
                <p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit the liability of  in respect of any:</p>
                <ul>
                  <li>death or personal injury caused by the negligence of  or its agents, employees or shareholders/owners;</li>
                  <li>fraud or fraudulent misrepresentation on the part of ; or</li>
                  <li>matter which it would be illegal or unlawful for  to exclude or limit, or to attempt or purport to exclude or limit, its liability.</li>
                </ul>
                <h3>Reasonableness</h3>
        
                <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>
        
                <p>If you do not think they are reasonable, you must not use this website.</p>
        
                <h3>Other parties</h3>
        
                <p>You accept that, as a limited liability entity,  has an interest in limiting the personal liability of its officers and employees.  You agree that you will not bring any claim personally against it's officers or employees in respect of any losses you suffer in connection with the website.</p>
        
                <p>Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect it's officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well.</p>
        
                <h3>Unenforceable provisions</h3>
        
                <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>
        
                <h3>Indemnity</h3>
        
                <p>You hereby indemnify  and undertake to keep  indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by  to a third party in settlement of a claim or dispute on the advice of it's legal advisors) incurred or suffered by  arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>
        
                <h3>Breaches of these terms and conditions</h3>
        
                <p>Without prejudice to it's other rights under these terms and conditions, if you breach these terms and conditions in any way,  may take such action as  deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>
        
                <h3>Variation</h3>
        
                <p> May revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.  Please check this page regularly to ensure you are familiar with the current version.</p>
        
                <h3>Assignment</h3>
        
                <p> may transfer, sub-contract or otherwise deal with it's rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
        
                <p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.</p>
        
                <h3>Severability</h3>
        
                <p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>
        
                <h3>Entire agreement</h3>
        
                <p>These terms and conditions, together with it's Privacy Policy constitute the entire agreement between you and  in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>
        
                <h3>Law and jurisdiction</h3>
        
                <p>These terms and conditions will be governed by and construed in accordance with the laws of , and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of .</p>
                <br><br>
              </div>
            </div>
          </div>
      </div>
  </div>

    <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark text-light">
      <div class="container">
         <div class="f-items default-padding">
            <div class="row">
               <div class="col-lg-4 col-md-6 item">
                  <div class="f-item about">
                     <img src="/ampdigitalwhitelogo.png" alt="Logo">
                     <p>
                        AMP Digital runs and operates Ads4Growth.com which provides digital
                        marketing
                        services and training.
                     </p>
                     <!-- <p class="text-italic">
                        Please write your email and get our amazing updates, news and support*
                        </p>
                        <div class="subscribe">
                        <form action="#">
                            <input type="email" placeholder="Enter your e-mail here" class="form-control" name="email">
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>  
                        </form>
                        </div> -->
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 item">
                  <div class="f-item link">
                     <h4 class="widget-title">Useful Links</h4>
                     <ul>
                        <li>
                           <a href="/">Home</a>
                        </li>
                        <li>
                           <a href="/about">About</a>
                        </li>
                        <li>
                           <a href="http://seotools.ampdigital.co/">SEO Tools</a>
                        </li>
                        <li>
                           <a href="/faq">FAQs, Help/Support</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 item">
                  <div class="f-item contact">
                     <h4 class="widget-title">Contact Info</h4>
                     <div class="address">
                        <ul>
                           <li>
                              <strong>Registered Address:</strong> 403, Sovereign 1, Sohna Rd,
                              Vatika
                              City, Gurugram, Haryana 122018
                           </li>
                           <li>
                              <strong>Contact:</strong> +919971060035
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <p>&copy; Copyright 2021, <a href="/">AMP Digital</a></p>
               </div>
               <div class="col-lg-6 text-right link">
                  <ul>
                     <li>
                        <a href="/termsofservice">Terms of Service</a>
                     </li>
                     <li>
                        <a href="/privacypolicy">Privacy Policy</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- End Footer Bottom -->
   </footer>
    <!-- End Footer-->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" />
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/loopcounter.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%-include partials/ebook.ejs%>
</body>
</html>