<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Forum - AMP Digital</title>

  <!-- Bootstrap core CSS -->
  <link href="/sb-admin/css/bootstrap.css" rel="stylesheet">

  <!-- Add custom CSS here -->
  <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Page Specific CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
  <style>
    .select2-container {
      width: 100% !important;
    }
  </style>
</head>

<body>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: beige;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Replies</h4>
        </div>
        <div class="modal-body">
          <div id="forumdetail">
            <div id="replyquestionsection">

            </div>
            <div class="">
              <div class="replies">

              </div>
              <hr>
              <div style="font-size: 16px;
              font-weight: 400;
              line-height: 1.5em;
              font-weight: 700;
              color: #505763;
              margin-right: auto;
              padding-top: 6px;" class=""><span id="replycount"></span> Replies</div>
              <hr>
              <div>
                <!-- Modal body -->
                <div>
                  <form id="postreply" class="row">
                    <div class="form-group col-md-12">
                      <label for="replyoverview" class="col-form-label pull-left">Your reply</label>
                      <textarea rows="3" name="replyoverview" class="form-control"
                        type="text" id="replyoverview"></textarea>
                    </div>
                    <div class="form-group col-md-12 custom-file">
                      <input type="file" class="custom-file-input" id="replycustomFile">
                      <label class="custom-file-label" for="replycustomFile">Choose file</label>
                    </div>
                    <input type="hidden" id="forumid">
                    <div class="col-md-12 ml-4" style="margin-left: 3%!important;">
                      <div class="mbr-section-btn justify-content-center row">
                        <span class="hidden" id="forumreplyspinner">Submitting... <i class="fa fa-spinner fa-spin"></i></span>
                        <button id="submitforumreply" class="btn-primary btn btn-md display-4">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="border: 0;" class="modal-footer">
        </div>
      </div>

    </div>
  </div>

  <div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin">AMP Digital Admin Panel</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li><a href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a  href="/manage/jobs"><i class="fa fa-table"></i> Manage Jobs</a></li>  
          <li><a  href="manage/buddingarketerapplications"><i class="fa fa-table"></i> Budding marketer applications</a></li>
       
          
          <li><a href="/manage-coupons"><i class="fa fa-table"></i> Manage Coupon Codes</a></li>
          
          
          <li><a  href="/manage/courses"><i class="fa fa-table"></i> Manage Courses</a></li>
                    <li class="active"><a href="/manage/forum"><i class="fa fa-money"></i> Manage Forums</a></li><li><a href="/submissions"><i class="fa fa-money"></i> Manage Submissions</a></li>
        <li><a href="/manage/webinarattendees"><i class="fa fa-users"></i> Manage Webinar Attendees</a></li>

          <li><a href="/manage/blogcategories"><i class="fa fa-table"></i> Manage Blog Categories</a></li><li><a href="/manage/blogs"><i class="fa fa-table"></i> Manage Blogs</a></li><li><a href="/manage/webinar"><i class="fa fa-table"></i> Manage Webinar</a></li><li><a href="/manage/team"><i class="fa fa-table"></i> Manage Team</a></li>


                      <li ><a href="/manage/bookdownloads"><i class="fa fa-table"></i> Manage Book Downloads</a></li>

<li><a href="/couponstats"><i class="fa fa-table"></i> Referral/Promotional Programs</a></li>
<li><a href="/quizes"><i class="fa fa-table"></i> Manage Quizes</a></li>
          <li class=""><a href="/quizreport"><i class="fa fa-bar-chart-o"></i> Course Stats</a></li>

          <!--<li><a href="forms.html"><i class="fa fa-edit"></i> Forms</a></li>
          <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
          <li><a href="bootstrap-elements.html"><i class="fa fa-desktop"></i> Bootstrap Elements</a></li>
          <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i> Bootstrap Grid</a></li>
          <li><a href="blank-page.html"><i class="fa fa-file"></i> Blank Page</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Dropdown Item</a></li>
              <li><a href="#">Another Item</a></li>
              <li><a href="#">Third Item</a></li>
              <li><a href="#">Last Item</a></li>
            </ul>
          </li>-->
        </ul>

        <ul class="nav navbar-nav navbar-right navbar-user">
          <!--<li class="dropdown messages-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">7</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">7 New Messages</li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">John Smith:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">John Smith:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">John Smith:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="#">View Inbox <span class="badge">7</span></a></li>
              </ul>
            </li>
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>-->
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=email%> <b
                class="caret"></b></a>
            <ul class="dropdown-menu">
              <!--<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                <li class="divider"></li>-->
              <li><a href="/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
      <div class="row">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">Course Name
                <select id="purposefilter" class="form-control border-color-3" type="text">
                  <option value="_">--</option>
                  <%for(var i =0; i<courses.length; i++){%>
                  <option value="<%=courses[i].course_name+'_'+courses[i]._id%>"><%=courses[i].course_name%></option>
                  <%}%>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">Date from:<input id="fromdatefilter" class="form-control border-color-1" type="date"></div>
                  <div class="col-md-6">Date to:<input id="todatefilter" class="form-control border-color-2" type="date"></div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-12">Payment ID<input id="paymentidfilter" class="form-control border-color-6" type="text"></div>
                </div> -->
                <div class="row" style="margin-bottom:2%!important; margin-top:2%!important; margin-left:0%!important;">
                  <button class="btn btn-primary applyfilter"> <i class="fa fa-filter"></i> Apply Filter</button>
                  <button class="btn btn-danger resetfilter"> <i class="fa fa-refresh"></i> Reset Filter</button>
                </div>
              </div>
            </div>
            
          </div>
          
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="container">
                    <div class="row">
                      <div class="col-md-10">
                        <table id="table" class="cell-border compact stripe hover row-border">
                          <thead>
                          <tr>
                            <th>Submitted by</th>
                            <th>Submitted by Email</th>
                            <th>Module Name</th>
                            <th>Course Name</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Action</th>
                          </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Submitted by</th>
                            <th>Submitted by Email</th>
                            <th>Module Name</th>
                            <th>Course Name</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Action</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div><!-- /#wrapper -->

   <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/sb-admin/js/bootstrap.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
      function timeSince(date) {
        var seconds = Math.floor((new Date() - date) / 1000);
        var interval = Math.floor(seconds / 31536000);
        if (interval > 1) {
          return interval + " years";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval > 1) {
          return interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
          return interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
          return interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 1) {
          return interval + " minutes";
        }
        return Math.floor(seconds) + " seconds";
      }

      $(document).ready(function () {
        $('#submitforumreply').on("click", function (e) {
              e.preventDefault();
              alert("hello");
              var el = $(this);
              if ($("#replyoverview").val() == "") {
                $.alert("Kindly fill all inputs")
              }
              else {
                el.addClass("hidden");
                $("#forumreplyspinner").removeClass("hidden");
                $.ajax({
                  method: "POST",
                  url: "/addforumreply",
                  data: {
                    description: $("#replyoverview").val(),
                    replyto: $("#forumid").val()
                  }
                }).done(function (result) {
                  console.log(result);
                  el.removeClass("hidden");
                  $("#forumreplyspinner").addClass("hidden");
                  $.alert("Reply submitted");
                  $("#replycount").html(parseInt($("#replycount").html()) + 1)
                  $(".replies").append(`
            <div style="padding: 1rem;  margin-top: 1rem;" class="row">
                        <div class="col-xs-2">
                          <a href="#">
                            <img class="media-object" src="https://ui-avatars.com/api/?name=Amitabh" alt="...">
                          </a>
                        </div>
                        <div class="col-xs-9">
                          <p>${$("#replyoverview").val()}</p>
                          <div class="">
                            <span class="pull-left">Posted by: Amitabh Verma &nbsp;&nbsp;
                              <i>${(timeSince(new Date()))} ago</i></span>
                          </div>
                        </div>
                      </div>`)
                });
              }
            })

        $('.applyfilter').on('click', function () {
          table.ajax.reload(null, false);
        })

        $('.resetfilter').on('click', function () {
          $('#purposefilter').val('_');
          $('#fromdatefilter').val('');
          $('#todatefilter').val('');
          table.ajax.reload(null, false);
        })


        let table = $('#table').DataTable({
          "bProcessing": true,
          "bServerSide": true,
          "bInfo": true,
          "sAjaxSource": "/datatable/forum2",
          "fnServerParams": function (aoData) {
            aoData.push({ name: "fromdatefilter", value: $('#fromdatefilter').val() });
            aoData.push({ name: "todatefilter", value: $('#todatefilter').val() });
            aoData.push({ name: "purposefilter", value: $('#purposefilter').val().split('_')[0] });
          },
          "language":
          {
            "processing": "<i class='fa fa-spinner fa-spin' style='font-size:24px'></i>",
          },
          "drawCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            $('.viewreply, .writereply').on("click", function (e) {
              e.preventDefault();
              $("#myModal").modal("toggle");
              var el = $(this);
              $(".replies").html("<i class='fa fa-spinner fa-spin'></i>")
              $.ajax({
                method: "GET",
                url: "/getforumreplies/" + el.data("pk"),
              }).done(function (docs) {
                $("#replycount").html(docs.length);
                var replies = "";
                for (var i = 0; i < docs.length; i++) {
                  replies = replies + `
                      <div style="padding: 1rem;  margin-top: 1rem;" class="row">
                        <div class="col-xs-2">
                          <a href="#">
                            <img class="media-object" src="https://ui-avatars.com/api/?name=${docs[i].postedby_name}" alt="...">
                          </a>
                        </div>
                        <div class="col-xs-9">
                          <p>${docs[i].description}</p>
                          <div class="">
                            <span class="pull-left">Posted by: ${docs[i].postedby_name} &nbsp;&nbsp;
                              <i>${(timeSince(new Date(docs[i].date)))} ago</i></span>
                          </div>
                        </div>
                      </div>
                      `
                }
                $(".replies").html("<h3>Replies</h3>" + replies);
                var pk = el.data("pk");
                $("#forumid").val(pk);
                var title = el.data("title");
                var description = el.data("description");
                var author = el.data("author");
                var date = timeSince(new Date(el.data("date")));
                $("#replyquestionsection").html(`
                        <div style="padding: 1rem;  margin-top: 1rem;" class="row">
                          <div class="col-xs-2">
                            <a href="#">
                              <img class="media-object" src="https://ui-avatars.com/api/?name=${author}" alt="...">
                            </a>
                          </div>
                          <div class="col-xs-9">
                            <h4 class="media-heading"><strong>${title}</strong></h4>
                            <p>${description}</p>
                            <div class="">
                              <span class="pull-left">Posted by: ${author} &nbsp;&nbsp;
                                <i>${(date)} ago</i></span>
                            </div>
                          </div>
                        </div>
                    `)
              });
            })
          }
        });
      });
    </script>
  </body>
</html>