<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Submissions - AMP Digital</title>

  <!-- Bootstrap core CSS -->
  <link href="/sb-admin/css/bootstrap.css" rel="stylesheet">

  <!-- Add custom CSS here -->
  <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Page Specific CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
  <style>
    .select2-container {
      width: 100% !important;
    }
  </style>
</head>

<body>
  

  <div id="container">
    <div class="row hidden">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">Course Name
              <select id="purposefilter" class="form-control border-color-3" type="text">
                <option value="_">--</option>
                <%for(var i =0; i<courses.length; i++){%>
                <option value="<%=courses[i].course_name+'_'+courses[i]._id%>"><%=courses[i].course_name%></option>
                <%}%>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">Date from:<input id="fromdatefilter" class="form-control border-color-1" type="date"></div>
                  <div class="col-md-6">Date to:<input id="todatefilter" class="form-control border-color-2" type="date"></div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-12">Payment ID<input id="paymentidfilter" class="form-control border-color-6" type="text"></div>
                </div> -->
                <div class="row" style="margin-bottom:2%!important; margin-top:2%!important; margin-left:0%!important;">
                  <button class="btn btn-primary applyfilter"> <i class="fa fa-filter"></i> Apply Filter</button>
                  <button class="btn btn-danger resetfilter"> <i class="fa fa-refresh"></i> Reset Filter</button>
                </div>
              </div>
            </div>
            
          </div>
          
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="container">
                    <div class="row">
                      <table id="table" class="cell-border compact stripe hover row-border">
                        <thead>
                        <tr>
                          <th>Quote</th>
                          <th>Author</th>
                          <th>Genre</th>
                          <th>Download Quote</th>
                        </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Quote</th>
                            <th>Author</th>
                            <th>Genre</th>
                            <th>Download Quote</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
              </div>
            </div>
          </div>
          
        </div>
    </div><!-- /#wrapper -->

   <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/sb-admin/js/bootstrap.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('.applyfilter').on('click', function () {
          table.ajax.reload(null, false);
        })

        $('.resetfilter').on('click', function () {
          $('#purposefilter').val('_');
          $('#fromdatefilter').val('');
          $('#todatefilter').val('');
          table.ajax.reload(null, false);
        })

        let table = $('#table').DataTable({
          "bProcessing": true,
          "bServerSide": true,
          "bInfo": true,
          "sAjaxSource": "/datatable/submissions",
          scrollX: true,
          "fnServerParams": function (aoData) {
            aoData.push({ name: "fromdatefilter", value: $('#fromdatefilter').val() });
            aoData.push({ name: "todatefilter", value: $('#todatefilter').val() });
            aoData.push({ name: "purposefilter", value: $('#purposefilter').val().split('_')[0] });
          },
          dom: 'Bfrtip',
          buttons: [
            'pageLength'
          ],
          lengthMenu: [
            [10, 25, 50, -1],
            ['10 rows', '25 rows', '50 rows', 'Show all']
          ],
          "language":
          {
            "processing": "<i class='fa fa-spinner fa-spin' style='font-size:24px'></i>",
          },
          "drawCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) { }
        });
      });
    </script>
  </body>
</html>